<div class="view">
    <div class="configuration">
        <app-configuration-section title="Styles">
            <app-inputs-separator title="General" />
            <app-input-color
                label="Background color"
                [value]="button().api.style.getBackgroundColor()"
                (onChange)="button().api.style.setBackgroundColor($event); refreshLog();"
            />
            <app-dimensions-inputs
                [dimensions]="button().api.style.getDimensions()"
                (onChangeDimensions)="button().api.style.setDimensions($event.key, $event.value); refreshLog();"
            />
            <app-outline-inputs
                [outline]="button().api.style.getOutline()"
                (onChangeOutline)="button().api.style.setOutline($event.key, $event.value); refreshLog();"
            />
            <app-font-inputs
                [font]="button().api.style.getFont()"
                (onChangeFont)="button().api.style.setFont($event.key, $event.value); refreshLog();"
            />
        </app-configuration-section>

        <app-configuration-section title="Effects">
            <app-shadow-effect-inputs
                title="Shadow idle"
                [enabled]="button().api.effects.has(mvLibEffects.idle.shadow)"
                [style]="button().api.effects.getStyle(mvLibEffects.idle.shadow)"
                (onChangeEnabled)="button().api.effects.toggle(mvLibEffects.idle.shadow, $event); refreshLog();"
                (onChangeStyle)="button().api.effects.setStyle(mvLibEffects.idle.shadow, $event); refreshLog();"
            />
            <app-tint-effect-inputs
                title="Tint hover"
                [enabled]="button().api.effects.has(mvLibEffects.hover.tint)"
                [style]="button().api.effects.getStyle(mvLibEffects.hover.tint)"
                (onChangeEnabled)="button().api.effects.toggle(mvLibEffects.hover.tint, $event); refreshLog();"
                (onChangeStyle)="button().api.effects.setStyle(mvLibEffects.hover.tint, $event); refreshLog();"
            />
            <app-push-click-inputs
                title="Push click"
                [enabled]="button().api.effects.has(mvLibEffects.click.push)"
                [style]="button().api.effects.getStyle(mvLibEffects.click.push)"
                (onChangeEnabled)="button().api.effects.toggle(mvLibEffects.click.push, $event); refreshLog();"
                (onChangeStyle)="button().api.effects.setStyle(mvLibEffects.click.push, $event); refreshLog();"
            />
            <app-ripple-release-inputs
                title="Ripple release"
                [enabled]="button().api.effects.has(mvLibEffects.release.ripple)"
                [style]="button().api.effects.getStyle(mvLibEffects.release.ripple)"
                (onChangeEnabled)="button().api.effects.toggle(mvLibEffects.release.ripple, $event); refreshLog();"
                (onChangeStyle)="button().api.effects.setStyle(mvLibEffects.release.ripple, $event); refreshLog();"
            />
        </app-configuration-section>

        <app-configuration-section title="Settings">
            <app-input-checkbox
                [checked]="disabled()"
                label="Disabled"
                (onChange)="disabled.set($event); refreshLog();"
            />
        </app-configuration-section>
    </div>

    <div class="render">
        <mv-lib-button-classic
            #mvLibButtonClassic
            class="component"
            [inputStyle]="style()"
            [inputEffects]="effects()"
            [inputSettings]="settings()"
            [disabled]="disabled()"
            (onClick)="refreshLastInteractionTime()"
        >
            <span class="material-symbols-outlined">
                touch_app
            </span>
            Click
        </mv-lib-button-classic>

        <div class="log">
            Last interaction time: {{ lastInteractionTime() }}
            <app-input-button
                label="Copy component code"
                [width]="'25%'"
                [style.margin-top.px]="10"
                (onClick)="copyComponentCode()"
            />
            <pre #code>&lt;mv-lib-button-classic{{ log() }}&gt;<br/>    MV Lib button classic<br/>&lt;/mv-lib-button-classic&gt;</pre>
        </div>
    </div>
</div>