<div class="configuration">
    
    <app-configuration-section title="Styles">
        <app-input-color
            [value]="styles().backgroundColor"
            label="Background color"
            (onChange)="setStyle('backgroundColor', $event)"
        />
        <app-dimensions-inputs
            [width]="styles().dimensions?.width"
            [minWidth]="styles().dimensions?.minWidth"
            [maxWidth]="styles().dimensions?.maxWidth"
            [height]="styles().dimensions?.height"
            [minHeight]="styles().dimensions?.minHeight"
            [maxHeight]="styles().dimensions?.maxHeight"
            (onWidthChange)="setStyle('dimensions.width', $event)"
            (onMinWidthChange)="setStyle('dimensions.minWidth', $event)"
            (onMaxWidthChange)="setStyle('dimensions.maxWidth', $event)"
            (onHeightChange)="setStyle('dimensions.height', $event)"
            (onMinHeightChange)="setStyle('dimensions.minHeight', $event)"
            (onMaxHeightChange)="setStyle('dimensions.maxHeight', $event)"
        />
        <app-font-inputs
            [size]="styles().font?.size"
            [weight]="styles().font?.weight"
            [style]="styles().font?.style"
            [color]="styles().font?.color"
            (onSizeChange)="setStyle('font.size', $event)"
            (onWeightChange)="setStyle('font.weight', $event)"
            (onStyleChange)="setStyle('font.style', $event)"
            (onColorChange)="setStyle('font.color', $event)"
        />
    </app-configuration-section>

    <app-configuration-section title="Effects">
        <app-shadow-hover-inputs
            [enabled]="effects().classes!.includes('mv-lib-shadow-idle')"
            [shadowX]="effects().styles?.shadowIdle?.shadowX"
            [shadowY]="effects().styles?.shadowIdle?.shadowY"
            [blur]="effects().styles?.shadowIdle?.blur"
            [spread]="effects().styles?.shadowIdle?.spread"
            [color]="effects().styles?.shadowIdle?.color"
            (onEnabledChange)="setEffect('mv-lib-shadow-idle', $event)"
            (onShadowXChange)="setEffectStyle('shadowIdle.shadowX', $event)"
            (onShadowYChange)="setEffectStyle('shadowIdle.shadowY', $event)"
            (onBlurChange)="setEffectStyle('shadowIdle.blur', $event)"
            (onSpreadChange)="setEffectStyle('shadowIdle.spread', $event)"
            (onColorChange)="setEffectStyle('shadowIdle.color', $event)"
        />
        <app-darken-hover-inputs
            [enabled]="effects().classes!.includes('mv-lib-darken-hover')"
            [percentage]="$any(effects().styles?.darkenHover?.percentage)"
            (onEnabledChange)="setEffect('mv-lib-darken-hover', $event)"
            (onPercentageChange)="setEffectStyle('darkenHover.percentage', $event)"
        />
    </app-configuration-section>

    <app-configuration-section title="Settings">
        <app-input-checkbox
            [checked]="disabled()"
            label="Disabled"
            (onChange)="
                disabled.set($event);
                refreshLog();
            "
        />
    </app-configuration-section>
</div>

<div class="visual">
    <mv-lib-button-classic
        #mvLibComponent
        class="component"
        [styles]="styles()"
        [effects]="effects()"
        [settings]="settings()"
        [disabled]="disabled()"
        (onClick)="refreshLastInteractionTime()"
    >
        <div
            [style.display]="'flex'"
            [style.align-items]="'center'"
        >
        </div>
        <span class="material-symbols-outlined">
            touch_app
        </span>
        <span [style.font-weight]="'bold'">
            Click
        </span>
    </mv-lib-button-classic>

<pre class="log">
Last interaction time: {{ lastInteractionTime() }}<br/>
{{ log() }}
</pre>
</div>

