<div class="effect">
    <app-input-checkbox
        [checked]="checked()"
        (onChange)="onChangeChecked($event)"
    />
    <app-inputs-separator [title]="title() ?? 'Shadow idle'" />
</div>
<div class="inputs-group">
    Pos. X
    <app-input-text
        [value]="posX()"
        (onChange)="onChangePosX($event)"
    />
    Pos. Y
    <app-input-text
        [value]="posY()"
        (onChange)="onChangePosY($event)"
    />
    Blur
    <app-input-text
        [value]="blur()"
        (onChange)="onChangeBlur($event)"
    />
    Spread
    <app-input-text
        [value]="spread()"
        (onChange)="onChangeSpread($event)"

    />
    Color
    <app-input-color
        [value]="color()"
        (onChange)="onChangeColor($event)"
    />
</div>