<div class="effect">
    <app-inputs-separator [title]="title() ?? 'Shadow idle'">
        <app-input-checkbox
            [checked]="enabled()"
            (onChange)="onChangeEnabled.emit($event)"
        />
    </app-inputs-separator>
</div>
<div class="inputs-group">
    Pos. X
    <app-input-text
        [value]="style().posX"
        (onChange)="onChangeStyle.emit({key: 'posX', value: $event})"
    />
    Pos. Y
    <app-input-text
        [value]="style().posY"
        (onChange)="onChangeStyle.emit({key: 'posY', value: $event})"
    />
    Blur
    <app-input-text
        [value]="style().blur"
        (onChange)="onChangeStyle.emit({key: 'blur', value: $event})"
    />
    Spread
    <app-input-text
        [value]="style().spread"
        (onChange)="onChangeStyle.emit({key: 'spread', value: $event})"
    />
    Color
    <app-input-color
        [value]="style().color"
        (onChange)="onChangeStyle.emit({key: 'color', value: $event})"
    />
</div>