<div class="effect">
    <app-input-checkbox
        [checked]="$any(component().effects()).classes.includes(component().mvLibEffects.idle.shadow)"
        (onChange)="component().setEffect(component().mvLibEffects.idle.shadow, $event)"
    />
    <app-inputs-separator title="Shadow idle" />
</div>
<div class="inputs-group">
    Pos. X
    <app-input-text
        [value]="$any(component().effects()).style.shadowIdle.posX"
        (onChange)="component().setEffectStyle('shadowIdle.posX', $event)"
    />
    Pos. Y
    <app-input-text
        [value]="$any(component().effects()).style.shadowIdle.posY"
        (onChange)="component().setEffectStyle('shadowIdle.posY', $event)"
    />
    Blur
    <app-input-text
        [value]="$any(component().effects()).style.shadowIdle.blur"
        (onChange)="component().setEffectStyle('shadowIdle.blur', $event)"
    />
    Spread
    <app-input-text
        [value]="$any(component().effects()).style.shadowIdle.spread"
        (onChange)="component().setEffectStyle('shadowIdle.spread', $event)"

    />
    Color
    <app-input-color
        [value]="$any(component().effects()).style.shadowIdle.color"
        (onChange)="component().setEffectStyle('shadowIdle.color', $event)"
    />
</div>