input {
  height: 20px;

  background-color: var(--mv-lib-primary-color-2);
  color: var(--mv-lib-primary-color-8);
  
  border: 1px solid var(--mv-lib-tertiary-color-4);
  border-radius: 4px;
}

select {
  height: 24px;

  background-color: var(--mv-lib-primary-color-2);
  color: var(--mv-lib-primary-color-8);

  border: 1px solid var(--mv-lib-tertiary-color-4);
  border-radius: 4px;
}

.button {
  background-color: var(--mv-lib-secondary-color-5);
  color: var(--mv-lib-primary-color-1);
  &:hover {
    background-color: var(--mv-lib-secondary-color-6) !important;
  }
  &.selected {
    background-color: var(--mv-lib-secondary-color-7) !important;
  }
}