input {
    height: 20px;

    background-color: var(--mv-lib-primary-color-4);
    color: var(--mv-lib-primary-color-8);
    
    border: 1px solid var(--mv-lib-primary-color-6);
    border-radius: 4px;
}

.button {
  background-color: var(--mv-lib-primary-color-5);
  &:hover {
    background-color: var(--mv-lib-secondary-color-5) !important;
  }
  &.selected {
    background-color: var(--mv-lib-secondary-color-6) !important;
  }
}