<div class="configuration">

    <!-- Styles -->
    <div class="styles">
        <b [style.align-self]="'center'">
            Styles
        </b>
        <b>
            Success
        </b>
        <app-input-color
            [value]="success_backgroundColor()"
            label="Background color"
            (onChange)="
                success_backgroundColor.set($event);
                toastService.setStyle('success', 'backgroundColor', $event);
            "
        />
        <app-input-color
            [value]="success_textColor()"
            label="Text color"
            (onChange)="
                success_textColor.set($event);
                toastService.setStyle('success', 'textColor', $event);
            "
        />
        <app-input-color
            [value]="success_hoveredOutlineColor()"
            label="Hovered outline color"
            (onChange)="
                success_hoveredOutlineColor.set($event);
                toastService.setStyle('success', 'hoveredOutlineColor', $event);
            "
        />
        <b>
            Warning
        </b>
        <app-input-color
            [value]="warning_backgroundColor()"
            label="Background color"
            (onChange)="
                warning_backgroundColor.set($event);
                toastService.setStyle('warning', 'backgroundColor', $event);
            "
        />
        <app-input-color
            [value]="warning_textColor()"
            label="Text color"
            (onChange)="
                warning_textColor.set($event);
                toastService.setStyle('warning', 'textColor', $event);
            "
        />
        <app-input-color
            [value]="warning_hoveredOutlineColor()"
            label="Hovered outline color"
            (onChange)="
                warning_hoveredOutlineColor.set($event);
                toastService.setStyle('warning', 'hoveredOutlineColor', $event);
            "
        />
        <b>
            Error
        </b>
        <app-input-color
            [value]="error_backgroundColor()"
            label="Background color"
            (onChange)="
                error_backgroundColor.set($event);
                toastService.setStyle('error', 'backgroundColor', $event);
            "
        />
        <app-input-color
            [value]="error_textColor()"
            label="Text color"
            (onChange)="
                error_textColor.set($event);
                toastService.setStyle('error', 'textColor', $event);
            "
        />
        <app-input-color
            [value]="error_hoveredOutlineColor()"
            label="Hovered outline color"
            (onChange)="
                error_hoveredOutlineColor.set($event);
                toastService.setStyle('error', 'hoveredOutlineColor', $event);
            "
        />
    </div>

    <!-- Effects -->
    <div class="effects">
        <b [style.align-self]="'center'">
            Effects
        </b>
        <b>
            Idle effects
        </b>
        <app-input-checkbox
            [checked]="idleEffect_progressBar()"
            label="Progress bar"
            (toggled)="
                idleEffect_progressBar.set($event);
                toastService.setEffect('progress-bar', $event);
            "
        />
        <b>
            Hover effects
        </b>
        <app-input-checkbox
            [checked]="hoverEffect_hoverOutlineSolid()"
            label="Outline solid"
            (toggled)="
                hoverEffect_hoverOutlineSolid.set($event);
                toastService.setEffect('hover-outline-solid', $event);
            "
        />
        <app-input-checkbox
            [checked]="hoverEffect_hoverOutlineBlur()"
            label="Outline blur"
            (toggled)="
                hoverEffect_hoverOutlineBlur.set($event);
                toastService.setEffect('hover-outline-blur', $event);
            "
        />
        <b>
            Lifecycle effects
        </b>
        <app-input-checkbox
            [checked]="lifecycleEffect_fade()"
            label="Fade"
            (toggled)="
                lifecycleEffect_fade.set($event);
                toastService.setEffect('fade', $event);
            "
        />
        <app-input-checkbox
            [checked]="lifecycleEffect_slide()"
            label="Slide"
            (toggled)="
                lifecycleEffect_slide.set($event);
                toastService.setEffect('slide', $event);
            "
        />
    </div>

    <!-- Settings -->
    <div class="settings">
        <b [style.align-self]="'center'">
            Settings
        </b>
        <b>
            Position
        </b>
        <app-input-radio
            [values]="['top-left', 'top-right', 'bottom-left', 'bottom-right']"
            [selected]="position()"
            (onChange)="
                position.set($any($event));
                toastService.setPosition(position());
            "
        />
        <b>
            Lifespans (ms)
        </b>
        <app-input-number
            [value]="lifespan_success()"
            label="Success"
            [widthPx]="65"
            (onChange)="
                lifespan_success.set($event);
                toastService.setSetting('lifespan', lifespan_success());
            "
        />
        <app-input-number
            [value]="lifespan_warning()"
            label="Warning"
            [widthPx]="65"
            (onChange)="
                lifespan_warning.set($event);
                toastService.setSetting('lifespan', lifespan_warning());
            "
        />
        <app-input-number
            [value]="lifespan_error()"
            label="Error"
            [widthPx]="65"
            (onChange)="
                lifespan_error.set($event);
                toastService.setSetting('lifespan', lifespan_error());
            "
        />
    </div>
</div>

<div class="visual">
    <div
        class="component"
        [style.gap.px]="8"
    >
        <mv-lib-button-classic
            [styles]="{
                widthPx: 100,
                backgroundColor: success_backgroundColor(),
            }"
            (onClick)="toastService.success()"
        >
            Success
        </mv-lib-button-classic>

        <mv-lib-button-classic
            [styles]="{
                widthPx: 100,
                backgroundColor: warning_backgroundColor(),
            }"
            (onClick)="toastService.warning()"
        >
            Warning
        </mv-lib-button-classic>

        <mv-lib-button-classic
            [styles]="{
                widthPx: 100,
                backgroundColor: error_backgroundColor(),
            }"
            (onClick)="toastService.error()"
        >
            Error
        </mv-lib-button-classic>
    </div>

<pre class="log">
Last interaction time: {{ lastInteractionTime() }}<br/>
input: {{ form.get('input')?.value }}<br/>
{{ log() }}
</pre>
</div>