<div class="configuration">

    <!-- Styles -->
    <div class="styles">
        <b [style.align-self]="'center'">
            Styles
        </b>
        <b [style.color]="toastService.configuration().success!.styles!.backgroundColor">
            SUCCESS
        </b>
        <app-input-number
            [value]="toastService.configuration().success!.styles!.forcedWidthPx"
            label="Forced width px"
            (onChange)="toastService.configuration().success!.styles!.forcedWidthPx = $event"
        />
        <app-input-number
            [value]="toastService.configuration().success!.styles!.forcedHeightPx"
            label="Forced height px"
            (onChange)="toastService.configuration().success!.styles!.forcedHeightPx = $event"
        />
        <app-input-text
            [value]="success().icon"
            label="Icon"
            [widthPx]="150"
            (onChange)="success().icon = $event;"
        />
        <app-input-text
            [value]="success().message"
            label="Message"
            [widthPx]="150"
            (onChange)="success().message = $event;"
        />
        <app-input-text
            [value]="toastService.configuration().success!.styles!.textColor"
            label="Text color"
            [widthPx]="150"
            (onChange)="toastService.configuration().success!.styles!.textColor = $event"
        />
        <app-input-color
            [value]="toastService.configuration().success!.styles!.backgroundColor"
            label="Background color"
            (onChange)="toastService.configuration().success!.styles!.backgroundColor = $event"
        />
        <app-input-color
            [value]="toastService.configuration().success!.styles!.hoveredOutlineColor"
            label="Hovered outline color"
            (onChange)="toastService.configuration().success!.styles!.hoveredOutlineColor = $event;"
        />
        <b [style.color]="toastService.configuration().warning!.styles!.backgroundColor">
            WARNING
        </b>
        <app-input-number
            [value]="toastService.configuration().warning!.styles!.forcedWidthPx"
            label="Forced width px"
            (onChange)="toastService.configuration().warning!.styles!.forcedWidthPx = $event"
        />
        <app-input-number
            [value]="toastService.configuration().warning!.styles!.forcedHeightPx"
            label="Forced height px"
            (onChange)="toastService.configuration().warning!.styles!.forcedHeightPx = $event"
        />
        <app-input-text
            [value]="warning().icon"
            label="Icon"
            [widthPx]="150"
            (onChange)="warning().icon = $event;"
        />
        <app-input-text
            [value]="warning().message"
            label="Message"
            [widthPx]="150"
            (onChange)="warning().message = $event;"
        />
        <app-input-text
            [value]="toastService.configuration().warning!.styles!.textColor"
            label="Text color"
            [widthPx]="150"
            (onChange)="toastService.configuration().warning!.styles!.textColor = $event"
        />
        <app-input-color
            [value]="toastService.configuration().warning!.styles!.backgroundColor"
            label="Background color"
            (onChange)="toastService.configuration().warning!.styles!.backgroundColor = $event"
        />
        <app-input-color
            [value]="toastService.configuration().warning!.styles!.hoveredOutlineColor"
            label="Hovered outline color"
            (onChange)="toastService.configuration().warning!.styles!.hoveredOutlineColor = $event;"
        />
        <b [style.color]="toastService.configuration().error!.styles!.backgroundColor">
            ERROR
        </b>
        <app-input-number
            [value]="toastService.configuration().error!.styles!.forcedWidthPx"
            label="Forced width px"
            (onChange)="toastService.configuration().error!.styles!.forcedWidthPx = $event"
        />
        <app-input-number
            [value]="toastService.configuration().error!.styles!.forcedHeightPx"
            label="Forced height px"
            (onChange)="toastService.configuration().error!.styles!.forcedHeightPx = $event"
        />
        <app-input-text
            [value]="error().icon"
            label="Icon"
            [widthPx]="150"
            (onChange)="error().icon = $event;"
        />
        <app-input-text
            [value]="error().message"
            label="Message"
            [widthPx]="150"
            (onChange)="error().message = $event;"
        />
        <app-input-text
            [value]="toastService.configuration().error!.styles!.textColor"
            label="Text color"
            [widthPx]="150"
            (onChange)="toastService.configuration().error!.styles!.textColor = $event"
        />
        <app-input-color
            [value]="toastService.configuration().error!.styles!.backgroundColor"
            label="Background color"
            (onChange)="toastService.configuration().error!.styles!.backgroundColor = $event"
        />
        <app-input-color
            [value]="toastService.configuration().error!.styles!.hoveredOutlineColor"
            label="Hovered outline color"
            (onChange)="toastService.configuration().error!.styles!.hoveredOutlineColor = $event;"
        />
        <b [style.color]="toastService.configuration().info!.styles!.backgroundColor">
            INFO
        </b>
        <app-input-number
            [value]="toastService.configuration().info!.styles!.forcedWidthPx"
            label="Forced width px"
            (onChange)="toastService.configuration().info!.styles!.forcedWidthPx = $event"
        />
        <app-input-number
            [value]="toastService.configuration().info!.styles!.forcedHeightPx"
            label="Forced height px"
            (onChange)="toastService.configuration().info!.styles!.forcedHeightPx = $event"
        />
        <app-input-text
            [value]="info().icon"
            label="Icon"
            [widthPx]="150"
            (onChange)="info().icon = $event;"
        />
        <app-input-text
            [value]="info().message"
            label="Message"
            [widthPx]="150"
            (onChange)="info().message = $event;"
        />
        <app-input-text
            [value]="toastService.configuration().info!.styles!.textColor"
            label="Text color"
            [widthPx]="150"
            (onChange)="toastService.configuration().info!.styles!.textColor = $event"
        />
        <app-input-color
            [value]="toastService.configuration().info!.styles!.backgroundColor"
            label="Background color"
            (onChange)="toastService.configuration().info!.styles!.backgroundColor = $event"
        />
        <app-input-color
            [value]="toastService.configuration().info!.styles!.hoveredOutlineColor"
            label="Hovered outline color"
            (onChange)="toastService.configuration().info!.styles!.hoveredOutlineColor = $event;"
        />
    </div>

    <!-- Effects -->
    <div class="effects">
        <b [style.align-self]="'center'">
            Effects
        </b>
        <b [style.color]="toastService.configuration().success!.styles!.backgroundColor">
            SUCCESS
        </b>
        <b>
            Hover
        </b>
        <app-input-checkbox
            [checked]="toastService.configuration().success?.effects?.hover?.includes('hover-outline-solid')"
            label="Outline solid"
            (onChange)="toastService.setEffect('success', 'hover-outline-solid', $event)"
        />
        <app-input-checkbox
            [checked]="toastService.configuration().success?.effects?.hover?.includes('hover-outline-blur')"
            label="Outline blur"
            (onChange)="toastService.setEffect('success', 'hover-outline-blur', $event)"
        />
        <b>
            Lifecycle
        </b>
        <app-input-checkbox
            [checked]="toastService.configuration().success?.effects?.lifecycle?.includes('progress-bar')"
            label="Progress bar"
            (onChange)="toastService.setEffect('success', 'progress-bar', $event)"
        />
        <app-input-checkbox
            [checked]="toastService.configuration().success?.effects?.lifecycle?.includes('fade')"
            label="Fade"
            (onChange)="toastService.setEffect('success', 'fade', $event)"
        />
        <app-input-checkbox
            [checked]="toastService.configuration().success?.effects?.lifecycle?.includes('slide')"
            label="Slide"
            (onChange)="toastService.setEffect('success', 'slide', $event)"
        />
        <b [style.color]="toastService.configuration().warning!.styles!.backgroundColor">
            WARNING
        </b>
        <b>
            Hover
        </b>
        <app-input-checkbox
            [checked]="toastService.configuration().warning?.effects?.hover?.includes('hover-outline-solid')"
            label="Outline solid"
            (onChange)="toastService.setEffect('warning', 'hover-outline-solid', $event)"
        />
        <app-input-checkbox
            [checked]="toastService.configuration().warning?.effects?.hover?.includes('hover-outline-blur')"
            label="Outline blur"
            (onChange)="toastService.setEffect('warning', 'hover-outline-blur', $event)"
        />
        <b>
            Lifecycle
        </b>
        <app-input-checkbox
            [checked]="toastService.configuration().warning?.effects?.lifecycle?.includes('progress-bar')"
            label="Progress bar"
            (onChange)="toastService.setEffect('warning', 'progress-bar', $event)"
        />
        <app-input-checkbox
            [checked]="toastService.configuration().warning?.effects?.lifecycle?.includes('fade')"
            label="Fade"
            (onChange)="toastService.setEffect('warning', 'fade', $event)"
        />
        <app-input-checkbox
            [checked]="toastService.configuration().warning?.effects?.lifecycle?.includes('slide')"
            label="Slide"
            (onChange)="toastService.setEffect('warning', 'slide', $event)"
        />
        <b [style.color]="toastService.configuration().error!.styles!.backgroundColor">
            ERROR
        </b>
        <b>
            Hover
        </b>
        <app-input-checkbox
            [checked]="toastService.configuration().error?.effects?.hover?.includes('hover-outline-solid')"
            label="Outline solid"
            (onChange)="toastService.setEffect('error', 'hover-outline-solid', $event)"
        />
        <app-input-checkbox
            [checked]="toastService.configuration().error?.effects?.hover?.includes('hover-outline-blur')"
            label="Outline blur"
            (onChange)="toastService.setEffect('error', 'hover-outline-blur', $event)"
        />
        <b>
            Lifecycle
        </b>
        <app-input-checkbox
            [checked]="toastService.configuration().error?.effects?.lifecycle?.includes('progress-bar')"
            label="Progress bar"
            (onChange)="toastService.setEffect('error', 'progress-bar', $event)"
        />
        <app-input-checkbox
            [checked]="toastService.configuration().error?.effects?.lifecycle?.includes('fade')"
            label="Fade"
            (onChange)="toastService.setEffect('error', 'fade', $event)"
        />
        <app-input-checkbox
            [checked]="toastService.configuration().error?.effects?.lifecycle?.includes('slide')"
            label="Slide"
            (onChange)="toastService.setEffect('error', 'slide', $event)"
        />
        <b [style.color]="toastService.configuration().info!.styles!.backgroundColor">
            INFO
        </b>
        <b>
            Hover
        </b>
        <app-input-checkbox
            [checked]="toastService.configuration().info?.effects?.hover?.includes('hover-outline-solid')"
            label="Outline solid"
            (onChange)="toastService.setEffect('info', 'hover-outline-solid', $event)"
        />
        <app-input-checkbox
            [checked]="toastService.configuration().info?.effects?.hover?.includes('hover-outline-blur')"
            label="Outline blur"
            (onChange)="toastService.setEffect('info', 'hover-outline-blur', $event)"
        />
        <b>
            Lifecycle
        </b>
        <app-input-checkbox
            [checked]="toastService.configuration().info?.effects?.lifecycle?.includes('progress-bar')"
            label="Progress bar"
            (onChange)="toastService.setEffect('info', 'progress-bar', $event)"
        />
        <app-input-checkbox
            [checked]="toastService.configuration().info?.effects?.lifecycle?.includes('fade')"
            label="Fade"
            (onChange)="toastService.setEffect('info', 'fade', $event)"
        />
        <app-input-checkbox
            [checked]="toastService.configuration().info?.effects?.lifecycle?.includes('slide')"
            label="Slide"
            (onChange)="toastService.setEffect('info', 'slide', $event)"
        />
    </div>

    <!-- Settings -->
    <div class="settings">
        <b [style.align-self]="'center'">
            Settings
        </b>
        <b>
            Position
        </b>
        <app-input-radio
            [values]="['top-left', 'top-right', 'bottom-left', 'bottom-right']"
            [selected]="toastService.configuration().position"
            (onChange)="toastService.configuration().position = $any($event)"
        />
        <app-input-checkbox
            [checked]="toastService.configuration().adaptWidth"
            label="Adapt width"
            (onChange)="toastService.setAdaptWidth($event)"
        />
        <b>
            Lifespans (ms)
        </b>
        <app-input-number
            [value]="toastService.configuration().success!.settings!.lifespan"
            label="Success"
            [widthPx]="65"
            (onChange)="toastService.configuration().success!.settings!.lifespan = $event"
        />
        <app-input-number
            [value]="toastService.configuration().warning!.settings!.lifespan"
            label="Warning"
            [widthPx]="65"
            (onChange)="toastService.configuration().warning!.settings!.lifespan = $event"
        />
        <app-input-number
            [value]="toastService.configuration().error!.settings!.lifespan"
            label="Error"
            [widthPx]="65"
            (onChange)="toastService.configuration().error!.settings!.lifespan = $event"
        />
        <app-input-number
            [value]="toastService.configuration().info!.settings!.lifespan"
            label="Info"
            [widthPx]="65"
            (onChange)="toastService.configuration().info!.settings!.lifespan = $event"
        />
    </div>
</div>

<div class="visual">
    <div
        class="component"
        [style.gap.px]="8"
    >
        <mv-lib-button-classic
            [styles]="{
                widthPx: 100,
                backgroundColor: toastService.configuration().success!.styles!.backgroundColor,
            }"
            (onClick)="
                refreshLastInteractionTime();
                toastService.success(
                    success().message,
                    success().icon,
                    {
                        widthPx: toastService.configuration().success!.styles!.forcedWidthPx,
                        heightPx: toastService.configuration().success!.styles!.forcedHeightPx,
                    }
                )
            "
        >
            <span [style.color]="toastService.configuration().success!.styles!.textColor">
                Success
            </span>
        </mv-lib-button-classic>

        <mv-lib-button-classic
            [styles]="{
                widthPx: 100,
                backgroundColor: toastService.configuration().warning!.styles!.backgroundColor,
            }"
            (onClick)="
                refreshLastInteractionTime();
                toastService.warning(
                    warning().message,
                    warning().icon,
                    {
                        widthPx: toastService.configuration().warning!.styles!.forcedWidthPx,
                        heightPx: toastService.configuration().warning!.styles!.forcedHeightPx,
                    }
                )
            "
        >
            <span [style.color]="toastService.configuration().warning!.styles!.textColor">
                Warning
            </span>
        </mv-lib-button-classic>

        <mv-lib-button-classic
           [styles]="{
                widthPx: 100,
                backgroundColor: toastService.configuration().error!.styles!.backgroundColor,
            }"
            (onClick)="
                refreshLastInteractionTime();
                toastService.error(
                    error().message,
                    error().icon,
                    {
                        widthPx: toastService.configuration().error!.styles!.forcedWidthPx,
                        heightPx: toastService.configuration().error!.styles!.forcedHeightPx,
                    }
                )
            "
        >
            <span [style.color]="toastService.configuration().error!.styles!.textColor">
                Error
            </span>
        </mv-lib-button-classic>

        <mv-lib-button-classic
           [styles]="{
                widthPx: 100,
                backgroundColor: toastService.configuration().info!.styles!.backgroundColor,
            }"
            (onClick)="
                refreshLastInteractionTime();
                toastService.info(
                    info().message,
                    info().icon,
                    {
                        widthPx: toastService.configuration().info!.styles!.forcedWidthPx,
                        heightPx: toastService.configuration().info!.styles!.forcedHeightPx,
                    }
                )
            "
        >
            <span [style.color]="toastService.configuration().info!.styles!.textColor">
                Info
            </span>
        </mv-lib-button-classic>
    </div>

<pre class="log">
Last toast time: {{ lastInteractionTime() }}<br/>
var configuration: MvLibToastServiceConfiguration = {{ toastService.configuration() | json }}
</pre>
</div>