<app-inputs-separator title="Font" />
<div class="inputs-group">
    Size
    <div class="inputs-row">
        <app-input-select
            [values]="cssFontSizes"
            [selectedValues]="[size()]"
            [widthPx]="100"
            (onChange)="onSizeChange.emit($event)"
        />
        or free input
        <app-input-text
            [value]="size()"
            (onChange)="onSizeChange.emit($event)"
        />
    </div>
    Weight
    <div class="inputs-row">
        <app-input-select
            [values]="cssFontWeights"
            [selectedValues]="[weight()]"
            [widthPx]="100"
            (onChange)="onWeightChange.emit($event)"
        />
        or free input
        <app-input-text
            [value]="weight()"
            (onChange)="onWeightChange.emit($event)"
        />
    </div>
    Style
    <div class="inputs-row">
        <app-input-select
            [values]="cssFontStyles"
            [selectedValues]="[style()]"
            [widthPx]="100"
            (onChange)="onStyleChange.emit($event)"
        />
        or free input
        <app-input-text
            [value]="style()"
            (onChange)="onStyleChange.emit($event)"
        />
    </div>
    Color
    <app-input-color
        [value]="color()"
        (onChange)="onColorChange.emit($event)"
    />
</div>