<app-inputs-separator title="Font" />
<div class="inputs-group">
    Size
    <div class="inputs-row">
        <app-input-select
            [values]="cssFontSizes"
            [selectedValues]="[$any(component().styles()).font.size]"
            [width]="100"
            (onChange)="component().setStyle('font.size', $event)"
        />
        <app-input-text
            [value]="$any(component().styles()).font.size"
            (onChange)="component().setStyle('font.size', $event)"
            [style.flex]="1"
        />
    </div>
    Weight
    <div class="inputs-row">
        <app-input-select
            [values]="cssFontWeights"
            [selectedValues]="[$any(component().styles()).font.weight]"
            [width]="100"
            (onChange)="component().setStyle('font.weight', $event)"
        />
        <app-input-text
            [value]="$any(component().styles()).font.weight"
            (onChange)="component().setStyle('font.weight', $event)"
            [style.flex]="1"
        />
    </div>
    Style
    <div class="inputs-row">
        <app-input-select
            [values]="cssFontStyles"
            [selectedValues]="[$any(component().styles()).font.style]"
            [width]="100"
            (onChange)="component().setStyle('font.style', $event)"
        />
        <app-input-text
            [value]="$any(component().styles()).font.style"
            (onChange)="component().setStyle('font.style', $event)"
            [style.flex]="1"
        />
    </div>
    Color
    <app-input-color
        [value]="$any(component().styles()).font.color"
        [width]="100"
        (onChange)="component().setStyle('font.color', $event)"
    />
</div>