<div class="configuration">
    <!-- Styles -->
    <div class="styles">
        <b class="title">
            Styles
        </b>
        
        <b>
            Button
        </b>

        <div>
            <input
                type="number"
                [value]="styles().buttonWidthPx"
                (input)="updateStyle('buttonWidthPx', $event)"
            />
            Button width px
        </div>

        <div>
            <input
                type="number"
                [value]="styles().buttonHeightPx"
                (input)="updateStyle('buttonHeightPx', $event)"
            />
            Button height px
        </div>

        <div>
            <input
                type="color"
                [value]="styles().buttonBackgroundColor"
                (input)="updateStyle('buttonBackgroundColor', $event)"
            />
            Button background color
        </div>

        <div>
            <input
                type="color"
                [value]="styles().buttonTextColor"
                (input)="updateStyle('buttonTextColor', $event)"
            />
            Button text color
        </div>

        <b>
            List
        </b>

        <div>
            <input
                type="number"
                [value]="styles().listMaxHeightPx"
                (input)="updateStyle('listMaxHeightPx', $event)"
            />
            List max height px
        </div>

        <b>
            Item
        </b>

        <div>
            <input
                type="number"
                [value]="styles().itemHeightPx"
                (input)="updateStyle('itemHeightPx', $event)"
            />
            Item height px
        </div>

        <div>
            <input
                type="color"
                [value]="styles().itemBackgroundColor"
                (input)="updateStyle('itemBackgroundColor', $event)"
            />
            Item background color
        </div>
        
        <div>
            <input
                type="color"
                [value]="styles().itemTextColor"
                (input)="updateStyle('itemTextColor', $event)"
            />
            Item text color
        </div>
    </div>

    <!-- Effects -->
    <div class="effects">
        <b class="title">
            Effects
        </b>
        <div class="effect-types">

            <b>
                Button idle
            </b>

            <app-input-checkbox
                [checked]="!!effects().buttonIdle?.includes('shadow')"
                label="Shadow"
                (toggled)="updateEffect('buttonIdle', 'shadow', $event)"
            />

            <b>
                Button hover
            </b>
            
            <app-input-checkbox
                [checked]="!!effects().buttonHover?.includes('darken')"
                label="Darken"
                (toggled)="updateEffect('buttonHover', 'darken', $event)"
            />

            <b>
                Button click
            </b>

            <app-input-checkbox
                [checked]="!!effects().buttonClick?.includes('push')"
                label="Push"
                (toggled)="updateEffect('buttonClick', 'push', $event)"
            />

            <app-input-checkbox
                [checked]="!!effects().buttonClick?.includes('ripple')"
                label="Ripple"
                (toggled)="updateEffect('buttonClick', 'ripple', $event)"
            />

            <b>
                List idle
            </b>

            <app-input-checkbox
                [checked]="!!effects().listIdle?.includes('shadow')"
                label="Shadow"
                (toggled)="updateEffect('listIdle', 'shadow', $event)"
            />

            <b>
                Item hover
            </b>

            <app-input-checkbox
                [checked]="!!effects().itemHover?.includes('darken')"
                label="Darken"
                (toggled)="updateEffect('itemHover', 'darken', $event)"
            />

            <b>
                Item click
            </b>

            <app-input-checkbox
                [checked]="!!effects().itemClick?.includes('push')"
                label="Push"
                (toggled)="updateEffect('itemClick', 'push', $event)"
            />

            <app-input-checkbox
                [checked]="!!effects().itemClick?.includes('ripple')"
                label="Ripple"
                (toggled)="updateEffect('itemClick', 'ripple', $event)"
            />
        </div>
    </div>

    <!-- Settings -->
    <div class="settings">
        <b class="title">
            Settings
        </b>
        <div>
            <input
                type="checkbox"
                [checked]="disabled()"
                (click)="
                    disabled.set(!disabled());
                    refreshLog();
                "
            />
            Disabled
        </div>

        <div>
            <input
                type="checkbox"
                [checked]="opened()"
                (click)="
                    opened.set(!opened());
                    refreshLog();
                "
            />
            Opened
        </div>

        <div>
            <input
                type="checkbox"
                [checked]="settings().closeOnItemSelect"
                (click)="
                    updateSetting('closeOnItemSelect', $event);
                    refreshLog();
                "
            />
            Close on item select
        </div>
        
        <div>
            <input
                type="checkbox"
                [checked]="settings().closeOnOutsideClick"
                (click)="
                    updateSetting('closeOnOutsideClick', $event);
                    refreshLog();
                "
            />
            Close on outside click
        </div>

        <div>
            <input
                type="checkbox"
                [checked]="settings().resetButton"
                (click)="
                    updateSetting('resetButton', $event);
                    refreshLog();
                "
            />
            Reset button
        </div>
    </div>
</div>

<div class="visual">
    <mv-lib-dropdown-classic
        class="component"
        [styles]="styles()"
        [effects]="effects()"
        [settings]="settings()"
        [items]="items()"
        [disabled]="disabled()"
        [opened]="opened()"
        (onSelect)="
            selectedUser.set($event.selectedItem);
            refreshLastInteractionTime();
        "
        (onOpen)="
            opened.set($event.opened);
            refreshLastInteractionTime();
        "
    >
        <ng-template mvLibDropdownPlaceholderTemplate>
            <div
                [style.margin-left.px]="8"
            >
                Select a user
            </div>
        </ng-template>

        <ng-template mvLibDropdownSelectedTemplate let-item>
            {{ item.name }}
        </ng-template>

        <ng-template mvLibDropdownItemTemplate let-item>
            <div
                [style.display]="'flex'"
                [style.alignItems]="'center'"
                [style.gap.px]="4"
            >
                <span class="material-symbols-outlined">
                    {{ item.icon }}
                </span>
                {{ item.name }}
            </div>
        </ng-template>
    </mv-lib-dropdown-classic>

<pre class="log">
Last interaction time: {{ lastInteractionTime() }}<br/>
selectedUser: {{ selectedUser() | json }}<br/>
{{ log() }}
</pre>
</div>