<div class="configuration">

    <!-- Styles -->
    <div class="styles">
        <b [style.align-self]="'center'">
            Styles
        </b>
        <b>
            Button
        </b>
        <app-input-number
            [value]="styles().buttonWidthPx"
            label="Button width px"
            (onChange)="updateStyle('buttonWidthPx', $event)"
        />
        <app-input-number
            [value]="styles().buttonHeightPx"
            label="Button height px"
            (onChange)="updateStyle('buttonHeightPx', $event)"
        />
        <app-input-color
            [value]="styles().buttonBackgroundColor"
            label="Button background color"
            (onChange)="updateStyle('buttonBackgroundColor', $event)"
        />
        <app-input-color
            [value]="styles().buttonTextColor"
            label="Button text color"
            (onChange)="updateStyle('buttonTextColor', $event)"
        />
        <b>
            List
        </b>
        <app-input-number
            [value]="styles().listMaxHeightPx"
            label="List max height px"
            (onChange)="updateStyle('listMaxHeightPx', $event)"
        />
        <b>
            Item
        </b>
        <app-input-number
            [value]="styles().itemHeightPx"
            label="Item height px"
            (onChange)="updateStyle('itemHeightPx', $event)"
        />        
        <app-input-color
            [value]="styles().itemBackgroundColor"
            label="Item background color"
            (onChange)="updateStyle('itemBackgroundColor', $event)"
        />
        <app-input-color
            [value]="styles().itemTextColor"
            label="Item text color"
            (onChange)="updateStyle('itemTextColor', $event)"
        />
    </div>

    <!-- Effects -->
    <div class="effects">
        <b [style.align-self]="'center'">
            Effects
        </b>
        <div class="effect-types">
            <b>
                Button idle
            </b>
            <app-input-checkbox
                [checked]="!!effects().buttonIdle?.includes('shadow')"
                label="Shadow"
                (onChange)="updateEffect('buttonIdle', 'shadow', $event)"
            />
            <b>
                Button hover
            </b>
            <app-input-checkbox
                [checked]="!!effects().buttonHover?.includes('darken')"
                label="Darken"
                (onChange)="updateEffect('buttonHover', 'darken', $event)"
            />
            <b>
                Button click
            </b>
            <app-input-checkbox
                [checked]="!!effects().buttonClick?.includes('push')"
                label="Push"
                (onChange)="updateEffect('buttonClick', 'push', $event)"
            />
            <app-input-checkbox
                [checked]="!!effects().buttonClick?.includes('ripple')"
                label="Ripple"
                (onChange)="updateEffect('buttonClick', 'ripple', $event)"
            />
            <b>
                List idle
            </b>
            <app-input-checkbox
                [checked]="!!effects().listIdle?.includes('shadow')"
                label="Shadow"
                (onChange)="updateEffect('listIdle', 'shadow', $event)"
            />
            <b>
                Item hover
            </b>
            <app-input-checkbox
                [checked]="!!effects().itemHover?.includes('darken')"
                label="Darken"
                (onChange)="updateEffect('itemHover', 'darken', $event)"
            />
            <b>
                Item click
            </b>
            <app-input-checkbox
                [checked]="!!effects().itemClick?.includes('push')"
                label="Push"
                (onChange)="updateEffect('itemClick', 'push', $event)"
            />
            <app-input-checkbox
                [checked]="!!effects().itemClick?.includes('ripple')"
                label="Ripple"
                (onChange)="updateEffect('itemClick', 'ripple', $event)"
            />
        </div>
    </div>

    <!-- Settings -->
    <div class="settings">
        <b [style.align-self]="'center'">
            Settings
        </b>
        <app-input-checkbox
            [checked]="disabled()"
            label="Disabled"
            (onChange)="
                disabled.set($event);
                refreshLog();
            "
        />
        <app-input-checkbox
            [checked]="opened()"
            label="Opened"
            (onChange)="
                opened.set($event);
                refreshLog();
            "
        />
        <app-input-checkbox
            [checked]="!!settings().closeOnItemSelect"
            label="Close on item select"
            (onChange)="
                updateSetting('closeOnItemSelect', $event);
                refreshLog();
            "
        />
        <app-input-checkbox
            [checked]="!!settings().closeOnOutsideClick"
            label="Close on outside click"
            (onChange)="
                updateSetting('closeOnOutsideClick', $event);
                refreshLog();
            "
        />
        <app-input-checkbox
            [checked]="!!settings().resetButton"
            label="Reset button"
            (onChange)="
                updateSetting('resetButton', $event);
                refreshLog();
            "
        />
    </div>
</div>

<div class="visual">
    <mv-lib-dropdown-classic
        class="component"
        [styles]="styles()"
        [effects]="effects()"
        [settings]="settings()"
        [items]="items()"
        [(selected)]="selectedItem"
        [disabled]="disabled()"
        [opened]="opened()"
        (onSelect)="refreshLastInteractionTime()"
        (onOpen)="
            opened.set($event.opened);
            refreshLastInteractionTime();
        "
    >
        <ng-template mvLibDropdownPlaceholderTemplate>
            <div
                [style.margin-left.px]="8"
            >
                Select a user
            </div>
        </ng-template>

        <ng-template mvLibDropdownSelectedTemplate let-item>
            {{ item.name }}
        </ng-template>

        <ng-template mvLibDropdownItemTemplate let-item>
            <div
                [style.display]="'flex'"
                [style.alignItems]="'center'"
                [style.gap.px]="4"
            >
                <span class="material-symbols-outlined">
                    {{ item.icon }}
                </span>
                {{ item.name }}
            </div>
        </ng-template>
    </mv-lib-dropdown-classic>

<pre class="log">
Last interaction time: {{ lastInteractionTime() }}<br/>
selected: {{ selectedItem() | json }}<br/>
{{ log() }}
</pre>
</div>