<button
    [ngClass]="computedClasses()"

    [style.width.px]="computedSettings().widthPx"
    [style.height.px]="computedSettings().heightPx"

    [style.background-color]="hover() ? computedSettings().backgroundColorHover : computedSettings().backgroundColor"
    [style.color]="computedSettings().textColor"
    [style.border]="computedSettings().border"

    [disabled]="disabled()"

    (click)="onClick.emit({
        buttonSettings: computedSettings(),
        event: $event,
    })"

    (mouseenter)="hover.set(true)"
    (mouseleave)="hover.set(false)"
>
    <ng-content />
</button>
