.mv-lib-button {
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &:enabled {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.6;
  }
}

/**
* Effects
*/
.push {
  transition: transform 80ms ease, box-shadow 80ms ease;

  &:enabled:active {
    transform: translateY(1px) scale(0.98);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
  }
}

.ripple {
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 5px;

  &:enabled::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: radial-gradient(circle, #fff 20%, transparent 10%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.8s, opacity 0.8s;
  }

  &:enabled:active::after {
    transform: scale(0, 0);
    opacity: 0.3;
    transition: 0s;
  }
}