<div class="effect">
    <app-input-checkbox
        [checked]="enabled()"
        (onChange)="onChangeEnabled.emit($event)"
    />
    <app-inputs-separator [title]="title() ?? 'Resize hover'" />
</div>
<div class="inputs-group">
    Scale %
    <app-input-number
        [value]="style().scalePercentage"
        (onChange)="onChangeStyle.emit({key: 'scalePercentage', value: $event})"
    />
    Duration
    <app-input-text
        [value]="style().duration"
        (onChange)="onChangeStyle.emit({key: 'duration', value: $event})"
    />
</div>