<app-inputs-separator label="Border" />
<div class="inputs-group">
    Width
    <app-input-text
        [value]="width()"
        (onChange)="onWidthChange.emit($event)"
    />
    Style
    <div class="inputs-row">
        <app-input-select
            [values]="cssBorderStyles"
            [selectedValues]="[borderStyles()[0]]"
            (onChange)="
                borderStyles()[0] = $event;
                onStyleChange.emit(borderStyles().join(' '));
            "
        />
        <app-input-select
            [values]="cssBorderStyles"
            [selectedValues]="[borderStyles()[1]]"
            (onChange)="
                borderStyles()[1] = $event;
                onStyleChange.emit(borderStyles().join(' '));
            "
        />
        <app-input-select
            [values]="cssBorderStyles"
            [selectedValues]="[borderStyles()[2]]"
            (onChange)="
                borderStyles()[2] = $event;
                onStyleChange.emit(borderStyles().join(' '));
            "
        />
        <app-input-select
            [values]="cssBorderStyles"
            [selectedValues]="[borderStyles()[3]]"
            (onChange)="
                borderStyles()[3] = $event;
                onStyleChange.emit(borderStyles().join(' '));
            "
        />
    </div>
    Color
    <app-input-color
        [value]="color()"
        (onChange)="onColorChange.emit($event)"
    />
    Radius
    <app-input-text
        [value]="radius()"
        (onChange)="onRadiusChange.emit($event)"
    />
</div>