<div class="configuration">
    <app-configuration-section [title]="'Styles for ' + selectedPartStyle()">
        <div buttons>
            <app-input-button
                label="General"
                [selected]="selectedPartStyle() === 'general'"
                (onClick)="selectedPartStyle.set('general')"
            />
            <app-input-button
                label="Button"
                [selected]="selectedPartStyle() === 'button'"
                (onClick)="selectedPartStyle.set('button')"
            />
            <app-input-button
                label="Content"
                [selected]="selectedPartStyle() === 'content'"
                (onClick)="selectedPartStyle.set('content')"
            />
        </div>
        @if (selectedPartStyle() === 'general') {
            <app-dimensions-inputs
                [dimensions]="radioButtons().getStyle().dimensions"
                (onChangeDimensions)="radioButtons().setStyle(`dimensions.${$event.key}`, $event.value); refreshLog();"
            />
            <app-border-inputs
                [border]="radioButtons().getStyle().border"
                (onChangeBorder)="radioButtons().setStyle(`border.${$event.key}`, $event.value); refreshLog();"
            />
        }
        @else if (selectedPartStyle() === 'button') {
            <div class="inputs-group">
                Background color
                <app-input-color
                    [value]="radioButtons().getStyle().button.backgroundColor"
                    (onChange)="radioButtons().setStyle('button.backgroundColor', $event); refreshLog();"
                />
                Selected background color
                <app-input-color
                    [value]="radioButtons().getStyle().button.selectedBackgroundColor"
                    (onChange)="radioButtons().setStyle('button.selectedBackgroundColor', $event); refreshLog();"
                />
            </div>
            <div class="inputs-group">
                Size
                <app-input-text
                    [value]="radioButtons().getStyle().button.size"
                    (onChange)="radioButtons().setStyle('button.size', $event); refreshLog();"
                />
                Gap
                <app-input-text
                    [value]="radioButtons().getStyle().button.gap"
                    (onChange)="radioButtons().setStyle('button.gap', $event); refreshLog();"
                />
            </div>
        }
        @else if (selectedPartStyle() === 'content') {
            <app-input-text
                label="Gap"
                [value]="radioButtons().getStyle().content.gap"
                (onChange)="radioButtons().setStyle('content.gap', $event); refreshLog();"
            />
            <app-font-inputs
                [font]="radioButtons().getStyle().content.font!"
                (onChangeFont)="radioButtons().setStyle(`content.${$event.key}`, $event.value); refreshLog();"
            />
        }
    </app-configuration-section>

    <app-configuration-section title="Effects">
        <app-shadow-idle-inputs
            [enabled]="radioButtons().hasEffect(mvLibEffects.idle.shadow)"
            [style]="radioButtons().getEffects().styles.shadowIdle!"
            (onChangeEnabled)="radioButtons().toggleEffect(mvLibEffects.idle.shadow, $event); refreshLog();"
            (onChangeStyle)="radioButtons().setEffectStyle(mvLibEffects.idle.shadow, $event); refreshLog();"
        />
        <app-resize-hover-inputs
            [enabled]="radioButtons().hasEffect(mvLibEffects.hover.resize)"
            [style]="radioButtons().getEffects().styles.resizeHover!"
            (onChangeEnabled)="radioButtons().toggleEffect(mvLibEffects.hover.resize, $event); refreshLog();"
            (onChangeStyle)="radioButtons().setEffectStyle(mvLibEffects.hover.resize, $event); refreshLog();"
        />
    </app-configuration-section>

    <app-configuration-section title="Settings">
        <app-input-checkbox
            [checked]="disabled()"
            label="Disabled"
            (onChange)="disabled.set($event); refreshLog();"
        />
        <app-input-checkbox
            [checked]="settings().selectOnLabelClick"
            label="Select on label click"
            (onChange)="radioButtons().setSettings('selectOnLabelClick', $event); refreshLog();"
        />
        <app-input-checkbox
            [checked]="settings().deselectable"
            label="Deselectable"
            (onChange)="radioButtons().setSettings('deselectable', $event); refreshLog();"
        />
        <app-inputs-separator title="Orientation" />
        <app-input-radio
            [values]="['vertical', 'horizontal']"
            [selected]="radioButtons().getSettings().orientation"
            (onChange)="radioButtons().setSettings('orientation', $any($event)); refreshLog();"
        />
        <app-inputs-separator title="API" />
        <div class="inputs-group">
            <app-input-number
                label="Select item n°"
                [value]="items().findIndex(item => item === selectedItem()) + 1"
                [min]="1"
                [max]="items().length"
                [width]="'50px'"
                (onChange)="radioButtons().setSelected(items()[$event! - 1]); refreshLastInteractionTime();"
            />
            <app-input-button
                label="Reset selection"
                (onClick)="radioButtons().setSelected(undefined); refreshLastInteractionTime();"
            />
        </div>
    </app-configuration-section>
</div>

<div class="visual">
    <mv-lib-radio-buttons-classic
        #mvLibRadioButtonsClassic
        class="component"
        [style]="style()"
        [effects]="effects()"
        [settings]="settings()"
        [disabled]="disabled()"
        [items]="items()"
        [(selected)]="selectedItem"
        (onSelect)="refreshLastInteractionTime()"
    >
        <ng-template mvLibRadioButtonTemplate let-user>
            {{ user.id }} - {{ user.name }}
        </ng-template>
    </mv-lib-radio-buttons-classic>

    <div class="log">
        Last interaction time: {{ lastInteractionTime() }}<br/>
        <pre>Selected: {{ selectedItem() | json }}</pre>
        <app-input-button
            label="Copy component code"
            [width]="'25%'"
            (onClick)="copyComponentCode()"
        />
        <pre #code>&lt;mv-lib-radio-buttons-classic{{ log() }}&gt;<br/>    MV Lib radio buttons classic<br/>&lt;/mv-lib-radio-buttons-classic&gt;</pre>
    </div>
</div>
