<app-inputs-separator title="Dimensions" />
<div class="inputs-group">
    Width
    <app-input-text
        [value]="width()"
        (onChange)="onChangeWidth($event)"
    />
    Min width
    <app-input-text
        [value]="minWidth()"
        (onChange)="onChangeMinWidth($event)"
    />
    Max width
    <app-input-text
        [value]="maxWidth()"
        (onChange)="onChangeMaxWidth($event)"
    />
    Height
    <app-input-text
        [value]="height()"
        (onChange)="onChangeHeight($event)"
    />
    Min height
    <app-input-text
        [value]="minHeight()"
        (onChange)="onChangeMinHeight($event)"
    />
    Max height
    <app-input-text
        [value]="maxHeight()"
        (onChange)="onChangeMaxHeight($event)"
    />
</div>