<app-inputs-separator [label]="label() ?? 'Dimensions'" />
<div class="inputs-group">
    Width
    <app-input-text
        [value]="value().width"
        (onChange)="onChange.emit({key: 'width', value: $event})"
    />
    Min width
    <app-input-text
        [value]="value().minWidth"
        (onChange)="onChange.emit({key: 'minWidth', value: $event})"
    />
    Max width
    <app-input-text
        [value]="value().maxWidth"
        (onChange)="onChange.emit({key: 'maxWidth', value: $event})"
    />
    Height
    <app-input-text
        [value]="value().height"
        (onChange)="onChange.emit({key: 'height', value: $event})"
    />
    Min height
    <app-input-text
        [value]="value().minHeight"
        (onChange)="onChange.emit({key: 'minHeight', value: $event})"
    />
    Max height
    <app-input-text
        [value]="value().maxHeight"
        (onChange)="onChange.emit({key: 'maxHeight', value: $event})"
    />
</div>