<app-inputs-separator title="Dimensions" />
<div class="inputs-group">
    Width
    <app-input-text
        [value]="dimensions().width"
        (onChange)="onChangeDimensions.emit({key: 'width', value: $event})"
    />
    Min width
    <app-input-text
        [value]="dimensions().minWidth"
        (onChange)="onChangeDimensions.emit({key: 'minWidth', value: $event})"
    />
    Max width
    <app-input-text
        [value]="dimensions().maxWidth"
        (onChange)="onChangeDimensions.emit({key: 'maxWidth', value: $event})"
    />
    Height
    <app-input-text
        [value]="dimensions().height"
        (onChange)="onChangeDimensions.emit({key: 'height', value: $event})"
    />
    Min height
    <app-input-text
        [value]="dimensions().minHeight"
        (onChange)="onChangeDimensions.emit({key: 'minHeight', value: $event})"
    />
    Max height
    <app-input-text
        [value]="dimensions().maxHeight"
        (onChange)="onChangeDimensions.emit({key: 'maxHeight', value: $event})"
    />
</div>