:root.dark-theme {

    --mv-lib-primary-color-1: #202020;
    --mv-lib-primary-color-2: #3c3c3c;
    --mv-lib-primary-color-3: #585858;
    --mv-lib-primary-color-4: #747474;
    --mv-lib-primary-color-5: #909090;
    --mv-lib-primary-color-6: #acacac;
    --mv-lib-primary-color-7: #c8c8c8;
    --mv-lib-primary-color-8: #e4e4e4;
    --mv-lib-primary-color-9: #ffffff;

    --mv-lib-secondary-color-1: #f0f8ff;
    --mv-lib-secondary-color-2: #cfe8ff;
    --mv-lib-secondary-color-3: #9fd1ff;
    --mv-lib-secondary-color-4: #5eb2ff;
    --mv-lib-secondary-color-5: #1e90ff;
    --mv-lib-secondary-color-6: #1874cc;
    --mv-lib-secondary-color-7: #125899;
    --mv-lib-secondary-color-8: #0c3b66;
    --mv-lib-secondary-color-9: #061f33;

    --mv-lib-tertiary-color-1: #202020;
    --mv-lib-tertiary-color-2: #3c3c3c;
    --mv-lib-tertiary-color-3: #585858;
    --mv-lib-tertiary-color-4: #747474;
    --mv-lib-tertiary-color-5: #909090;
    --mv-lib-tertiary-color-6: #acacac;
    --mv-lib-tertiary-color-7: #c8c8c8;
    --mv-lib-tertiary-color-8: #e4e4e4;
    --mv-lib-tertiary-color-9: #ffffff;

    /* Status */
    --mv-lib-success: #7dff95;
    --mv-lib-warning: #ffbc5e;
    --mv-lib-error:   #ff8080;
    --mv-lib-info:    #87d1ff;
}