:root.sindragosa-theme {
    --mv-lib-primary-color-1: #16181d;
    --mv-lib-primary-color-2: #21252d;
    --mv-lib-primary-color-3: #2d3440;
    --mv-lib-primary-color-4: #3b4351;
    --mv-lib-primary-color-5: #525c6f;
    --mv-lib-primary-color-6: #6f788b;
    --mv-lib-primary-color-7: #959dae;
    --mv-lib-primary-color-8: #c4c9d4;
    --mv-lib-primary-color-9: #f7f8fb;

    --mv-lib-secondary-color-1: #eff3ff;
    --mv-lib-secondary-color-2: #dfe7ff;
    --mv-lib-secondary-color-3: #c4d1fb;
    --mv-lib-secondary-color-4: #9caeea;
    --mv-lib-secondary-color-5: #7688d6;
    --mv-lib-secondary-color-6: #5970bd;
    --mv-lib-secondary-color-7: #41539a;
    --mv-lib-secondary-color-8: #2d396b;
    --mv-lib-secondary-color-9: #1a2342;

    --mv-lib-tertiary-color-1: #181b22;
    --mv-lib-tertiary-color-2: #232833;
    --mv-lib-tertiary-color-3: #313848;
    --mv-lib-tertiary-color-4: #40485b;
    --mv-lib-tertiary-color-5: #596274;
    --mv-lib-tertiary-color-6: #747d8f;
    --mv-lib-tertiary-color-7: #99a1b2;
    --mv-lib-tertiary-color-8: #c6cdd8;
    --mv-lib-tertiary-color-9: #f4f6fb;

    /* Status */
    --mv-lib-success: #78d28f;
    --mv-lib-warning: #f0b466;
    --mv-lib-error:   #ea8484;
    --mv-lib-info:    #74b8e8;

    /* Components */
    --mv-lib-component-background-color-primary: var(--mv-lib-secondary-color-6);
    --mv-lib-component-background-color-secondary: var(--mv-lib-secondary-color-5);
    --mv-lib-component-background-color-tertiary: var(--mv-lib-secondary-color-3);

    --mv-lib-component-font-color-primary: var(--mv-lib-primary-color-9);
    --mv-lib-component-font-color-secondary: var(--mv-lib-primary-color-1);

    --mv-lib-component-background-color-unselected: var(--mv-lib-primary-color-7);
    --mv-lib-component-background-color-selected: var(--mv-lib-secondary-color-6);
}