:root.theralion-theme {
    --mv-lib-primary-color-1: #101214;
    --mv-lib-primary-color-2: #1a1d22;
    --mv-lib-primary-color-3: #252a31;
    --mv-lib-primary-color-4: #323943;
    --mv-lib-primary-color-5: #46505d;
    --mv-lib-primary-color-6: #606b78;
    --mv-lib-primary-color-7: #8b96a4;
    --mv-lib-primary-color-8: #bdc5cf;
    --mv-lib-primary-color-9: #f3f5f8;

    --mv-lib-secondary-color-1: #f0f7ff;
    --mv-lib-secondary-color-2: #d9ecff;
    --mv-lib-secondary-color-3: #b8dcff;
    --mv-lib-secondary-color-4: #7ec0ff;
    --mv-lib-secondary-color-5: #1e90ff;
    --mv-lib-secondary-color-6: #1874d1;
    --mv-lib-secondary-color-7: #125ca8;
    --mv-lib-secondary-color-8: #0c447d;
    --mv-lib-secondary-color-9: #07284d;
    
    --mv-lib-tertiary-color-1: #f0f7ff;
    --mv-lib-tertiary-color-2: #d9ecff;
    --mv-lib-tertiary-color-3: #b8dcff;
    --mv-lib-tertiary-color-4: #7ec0ff;
    --mv-lib-tertiary-color-5: #1e90ff;
    --mv-lib-tertiary-color-6: #1874d1;
    --mv-lib-tertiary-color-7: #125ca8;
    --mv-lib-tertiary-color-8: #0c447d;
    --mv-lib-tertiary-color-9: #07284d;

    /* Status */
    --mv-lib-success: #7ed699;
    --mv-lib-warning: #f2b870;
    --mv-lib-error:   #eb8686;
    --mv-lib-info:    #7ebfe8;

    /* Components */
    --mv-lib-component-background-color-primary: var(--mv-lib-secondary-color-6);
    --mv-lib-component-background-color-secondary: var(--mv-lib-secondary-color-5);
    --mv-lib-component-background-color-tertiary: var(--mv-lib-secondary-color-3);

    --mv-lib-component-font-color-primary: var(--mv-lib-primary-color-9);
    --mv-lib-component-font-color-secondary: var(--mv-lib-primary-color-1);

    --mv-lib-component-background-color-unselected: var(--mv-lib-primary-color-6);
    --mv-lib-component-background-color-selected: var(--mv-lib-secondary-color-5);

    /* Effects */
    --mv-lib-effect-primary-color: var(--mv-lib-primary-color-5);
    --mv-lib-effect-secondary-color: var(--mv-lib-secondary-color-5);
    --mv-lib-effect-tertiary-color: var(--mv-lib-tertiary-color-5);
}