:root.white-theme {

    --mv-lib-primary-color-1: #ffffff;
    --mv-lib-primary-color-2: #e0e0e0;
    --mv-lib-primary-color-3: #c0c0c0;
    --mv-lib-primary-color-4: #a0a0a0;
    --mv-lib-primary-color-5: #808080;
    --mv-lib-primary-color-6: #606060;
    --mv-lib-primary-color-7: #404040;
    --mv-lib-primary-color-8: #202020;
    --mv-lib-primary-color-9: #000000;

    --mv-lib-secondary-color-1: #061f33;
    --mv-lib-secondary-color-2: #0c3b66;
    --mv-lib-secondary-color-3: #125899;
    --mv-lib-secondary-color-4: #1874cc;
    --mv-lib-secondary-color-5: #1e90ff;
    --mv-lib-secondary-color-6: #5eb2ff;
    --mv-lib-secondary-color-7: #9fd1ff;
    --mv-lib-secondary-color-8: #cfe8ff;
    --mv-lib-secondary-color-9: #f0f8ff;


    --mv-lib-tertiary-color-1: #ffffff;
    --mv-lib-tertiary-color-2: #e0e0e0;
    --mv-lib-tertiary-color-3: #c0c0c0;
    --mv-lib-tertiary-color-4: #a0a0a0;
    --mv-lib-tertiary-color-5: #808080;
    --mv-lib-tertiary-color-6: #606060;
    --mv-lib-tertiary-color-7: #404040;
    --mv-lib-tertiary-color-8: #202020;
    --mv-lib-tertiary-color-9: #000000;

    /* Status */
    --mv-lib-success: green;
    --mv-lib-warning: orange;
    --mv-lib-error:   red;
    --mv-lib-info:    skyblue;
}