:root.ysera-theme {
    --mv-lib-primary-color-1: #101214;
    --mv-lib-primary-color-2: #1a1d22;
    --mv-lib-primary-color-3: #252a31;
    --mv-lib-primary-color-4: #323943;
    --mv-lib-primary-color-5: #46505d;
    --mv-lib-primary-color-6: #606b78;
    --mv-lib-primary-color-7: #8b96a4;
    --mv-lib-primary-color-8: #bdc5cf;
    --mv-lib-primary-color-9: #f3f5f8;

    --mv-lib-secondary-color-1: #bef0d6;
    --mv-lib-secondary-color-2: #a8d9c0;
    --mv-lib-secondary-color-3: #92c1aa;
    --mv-lib-secondary-color-4: #7daa94;
    --mv-lib-secondary-color-5: #67927e;
    --mv-lib-secondary-color-6: #517b68;
    --mv-lib-secondary-color-7: #3c6452;
    --mv-lib-secondary-color-8: #264c3c;
    --mv-lib-secondary-color-9: #103526;

    --mv-lib-tertiary-color-1: #b6e0c8;
    --mv-lib-tertiary-color-2: #a2c9b3;
    --mv-lib-tertiary-color-3: #8db29d;
    --mv-lib-tertiary-color-4: #789b88;
    --mv-lib-tertiary-color-5: #648472;
    --mv-lib-tertiary-color-6: #506e5d;
    --mv-lib-tertiary-color-7: #3b5748;
    --mv-lib-tertiary-color-8: #264032;
    --mv-lib-tertiary-color-9: #12291d;

    /* Status */
    --mv-lib-success: #67d39b;
    --mv-lib-warning: #e6b85f;
    --mv-lib-error:   #de7f7f;
    --mv-lib-info:    #67b9d6;

    /* Components */
    --mv-lib-component-background-color-primary: var(--mv-lib-secondary-color-6);
    --mv-lib-component-background-color-secondary: var(--mv-lib-secondary-color-5);
    --mv-lib-component-background-color-tertiary: var(--mv-lib-secondary-color-3);

    --mv-lib-component-font-color-primary: var(--mv-lib-primary-color-9);
    --mv-lib-component-font-color-secondary: var(--mv-lib-primary-color-1);

    --mv-lib-component-background-color-unselected: var(--mv-lib-primary-color-6);
    --mv-lib-component-background-color-selected: var(--mv-lib-secondary-color-4);
}