<div class="configuration">

    <!-- Styles -->
    <div class="styles">
        <b [style.align-self]="'center'">
            Styles
        </b>
        <app-input-number
            [value]="styles().sizePx"
            label="Size px"
            (onChange)="updateStyle('sizePx', $event)"
        />
        <app-input-color
            [value]="styles().backgroundColor"
            label="Background color"
            (onChange)="updateStyle('backgroundColor', $event)"
        />
        <app-input-color
            [value]="styles().selectedBackgroundColor"
            label="Selected background color"
            (onChange)="updateStyle('selectedBackgroundColor', $event)"
        />
        <app-input-number
            [value]="styles().groupGapPx"
            label="Group gap px"
            (onChange)="updateStyle('groupGapPx', $event)"
        />
        <app-input-number
            [value]="styles().contentGapPx"
            label="Content gap px"
            (onChange)="updateStyle('contentGapPx', $event)"
        />
    </div>

    <!-- Effects -->
    <div class="effects">
        <b [style.align-self]="'center'">
            Effects
        </b>
        <b>
            Idle
        </b>
        <app-input-checkbox
            [checked]="effects().idle?.includes('shadow')"
            label="Shadow"
            (onChange)="updateEffect('idle', 'shadow', $event)"
        />
        <b>
            Hover
        </b>
        <app-input-checkbox
            [checked]="effects().hover?.includes('enlarge')"
            label="Enlarge"
            (onChange)="updateEffect('hover', 'enlarge', $event)"
        />
        <b>
            Selected
        </b>
        <app-input-checkbox
            [checked]="effects().selected?.includes('brighten')"
            label="Brighten"
            (onChange)="updateEffect('selected', 'brighten', $event)"
        />
    </div>

    <!-- Settings -->
    <div class="settings">
        <b [style.align-self]="'center'">
            Settings
        </b>
        <app-input-checkbox
            [checked]="disabled()"
            label="Disabled"
            (onChange)="
                disabled.set($event);
                refreshLog();
            "
        />
        <b>
            Orientation
        </b>
        <app-input-radio
            [values]="['vertical', 'horizontal']"
            [selected]="settings().orientation"
            (onChange)="
                updateSetting('orientation', $any($event));
                refreshLog();
            "
        />
        <app-input-checkbox
            [checked]="settings().selectOnLabelClick"
            label="Select on label click"
            (onChange)="
                updateSetting('selectOnLabelClick', $event);
                refreshLog();
            "
        />
        <app-input-checkbox
            [checked]="settings().unselectable"
            label="Unselectable"
            (onChange)="
                updateSetting('unselectable', $event);
                refreshLog();
            "
        />
        <app-input-button
            label="Reset selection"
            (onClick)="
                radioButtons.setSelected(undefined);
                refreshLastInteractionTime();
            "
        />
        <app-input-number
            label="Select item n°"
            [value]="items().findIndex(item => item === selectedItem()) + 1"
            (onChange)="
                radioButtons.setSelected(items()[$event - 1]);
                refreshLastInteractionTime();
            "
            [min]="1"
            [max]="items().length"
        />
    </div>
</div>

<div class="visual">
    <mv-lib-radio-buttons-classic
        #radioButtons
        class="component"
        [styles]="styles()"
        [effects]="effects()"
        [settings]="settings()"
        [disabled]="disabled()"
        [items]="items()"
        [(selected)]="selectedItem"
        (onSelect)="refreshLastInteractionTime()"
    >
        <ng-template mvLibRadioButtonTemplate let-user>
            {{ user.id }} - {{ user.name }}
        </ng-template>
    </mv-lib-radio-buttons-classic>

<pre class="log">
Last interaction time: {{ lastInteractionTime() }}<br/>
selected: {{ selectedItem() | json }}<br/>
{{ log() }}
</pre>
</div>

