.toast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
}

.button {
    border: none;
    margin-top: 5px;
    margin-right: -5px;
    background: transparent;
    color: inherit;
    cursor: pointer;
}