@use '../../../styles/effects.scss';

.toggle {
  position: relative;
  display: inline-block;

  // Enlarge the slider effect
  &.enabled {
    .slider.enlarge-slider:hover {
      --thumb-scale: var(--slider-hover-scale, 1.2);
    }
  }
}

.slider {
  --slider-motion-duration: 0.25s;

  cursor: pointer;
  position: absolute;
  left: 0;
  transition: background-color var(--slider-motion-duration);
  background-color: var(--slider-off-color);
  overflow: visible;
}

.slider:before {
  content: "";
  position: absolute;
  z-index: 1;
  height: var(--slider-before-size);
  width: var(--slider-before-size);
  background-color: var(--slider-before-color);
  left: 0;
  top: 50%;
  transform-origin: center;
  transform: translate(var(--thumb-translate-x, 0), -50%) scale(var(--thumb-scale, 1));
  transition: transform var(--slider-motion-duration), background-color var(--slider-motion-duration);
  border-radius: 50%;
}

.toggle.enabled .slider.shadow {
  box-shadow: none;
}

.toggle.enabled .slider.shadow:before {
  box-shadow: var(--shadow);
}

input:checked + .slider {
  background-color: var(--slider-on-color);
}

input:checked + .slider:before {
  --thumb-translate-x: var(--translate-distance);
}

.ripple {
  --origin-x: 80%;
  --origin-y: 50%;
  --size: 50%;
  --delay: calc(var(--slider-motion-duration) / 3);
}

// Activate ripple effect only when toggling the switch on
.toggle.enabled .checkbox:checked + .ripple:active::after {
  transform: scale(7.5);
  opacity: 0;
  transition: transform 800ms var(--delay), opacity 800ms var(--delay);
}
