<app-inputs-separator [title]="title() ?? 'Border'" />
<div class="inputs-group">
    Width
    <app-input-text
        [value]="border().width"
        (onChange)="onChangeBorder.emit({key: 'width', value: $event})"
    />
    Style
    <div class="inputs-row">
        <app-input-select
            [values]="cssBorderStyles"
            [selectedValues]="[borderStyle()[0]]"
            (onChange)="
                borderStyle()[0] = $event;
                onChangeBorder.emit({key: 'style', value: borderStyle().join(' ')});"
            [style.flex]="1"
        />
        <app-input-select
            [values]="cssBorderStyles"
            [selectedValues]="[borderStyle()[1]]"
            (onChange)="
                borderStyle()[1] = $event;
                onChangeBorder.emit({key: 'style', value: borderStyle().join(' ')});"
            [style.flex]="1"
        />
        <app-input-select
            [values]="cssBorderStyles"
            [selectedValues]="[borderStyle()[2]]"
            (onChange)="
                borderStyle()[2] = $event;
                onChangeBorder.emit({key: 'style', value: borderStyle().join(' ')});"
            [style.flex]="1"
        />
        <app-input-select
            [values]="cssBorderStyles"
            [selectedValues]="[borderStyle()[3]]"
            (onChange)="
                borderStyle()[3] = $event;
                onChangeBorder.emit({key: 'style', value: borderStyle().join(' ')});"
            [style.flex]="1"
        />
    </div>
    Color
    <app-input-color
        [value]="border().color"
        (onChange)="onChangeBorder.emit({key: 'color', value: $event})"
    />
    Radius
    <app-input-text
        [value]="border().radius"
        (onChange)="onChangeBorder.emit({key: 'radius', value: $event})"
    />
</div>