<div class="app-shell">
    <header class="header">
        <div class="buttons">
            <mv-lib-button-classic
                [styles]="{
                    widthPx: 48,
                    heightPx: 32,
                    backgroundColor: 'DodgerBlue',
                }"
                [effects]="{
                    idle: ['shadow'],
                    hover: ['darken'],
                    click: ['push']
                }"
                (onClick)="router.navigateByUrl('/')"
            >
                <span class="material-symbols-outlined">
                    home
                </span>
            </mv-lib-button-classic>

            @for (dropdown of dropdowns(); track dropdown.name) {
                <mv-lib-dropdown-classic
                    [items]="dropdown.items"
                    [selectedItem]="dropdown.selected"
                    [styles]="dropdownsStyles"
                    [effects]="dropdownsEffects"
                    (onSelect)="onItemSelect($event.selectedItem!, dropdown.name)"
                >
                    <ng-template mvLibDropdownPlaceholderTemplate>
                        <div class="dropdown-placeholder">
                            <span class="material-symbols-outlined">
                                {{ dropdown.icon }}
                            </span>
                            <b>
                                {{ dropdown.name }}
                            </b>
                        </div>
                    </ng-template>
                    <ng-template mvLibDropdownSelectedTemplate let-item>
                        <div class="dropdown-selected">
                            <span class="material-symbols-outlined">
                                {{ dropdown.icon }}
                            </span>
                            {{ item.type }}
                        </div>
                    </ng-template>
                    <ng-template mvLibDropdownItemTemplate let-item>
                        <div class="dropdown-item">
                            {{ item.type }}
                        </div>
                    </ng-template>
                </mv-lib-dropdown-classic>
            }
        </div>
        <hr/>
    </header>

    <main class="app-content">
        <router-outlet />
    </main>
</div>

<mv-lib-toast-classic />
