<div class="app">
    <aside class="sidebar">

        <div class="sidebar-title">
            <h2 class="sidebar-title-link" (click)="router.navigateByUrl('/home')">
                MV Lib
            </h2>
        </div>

        <section class="treeview-section">
            <mv-lib-treeview-classic
                [items]="themeTreeviewItems()"
                [childrenPath]="'children'"
            >
                Theme
                <ng-template mvLibTreeviewListTemplate let-item>
                    <mv-lib-button-classic
                        class="treeview-action-button"
                        [style]="treeviewButtonStyle"
                        [effects]="treeviewButtonEffects"
                        (onClick)="onThemeSelect(item.themeName, $event.event)"
                    >
                        <div class="treeview-action-content">
                            <span class="material-symbols-outlined">
                                {{ item.icon }}
                            </span>
                            {{ item.label }}
                        </div>
                    </mv-lib-button-classic>
                </ng-template>
            </mv-lib-treeview-classic>
        </section>

        <section class="treeview-section">
            <mv-lib-treeview-classic
                [items]="componentTreeviewItems()"
                [childrenPath]="'children'"
            >
                Components
                <ng-template
                    mvLibTreeviewListTemplate
                    let-item
                    let-depth="depth"
                >
                    @if (depth === 0) {
                        <div class="treeview-group-label">
                            <span class="material-symbols-outlined">
                                {{ item.icon }}
                            </span>
                            {{ item.label }}
                        </div>
                    } @else {
                        <mv-lib-button-classic
                            class="treeview-action-button"
                            [style]="treeviewButtonStyle"
                            [effects]="treeviewButtonEffects"
                            (onClick)="onNavigationItemClick(item, $event.event)"
                        >
                            <div class="treeview-action-content">
                                {{ item.label + (item.wip ? ' (WIP)' : '') }}
                            </div>
                        </mv-lib-button-classic>
                    }
                </ng-template>
            </mv-lib-treeview-classic>
        </section>

        <section class="treeview-section">
            <mv-lib-treeview-classic
                [items]="serviceTreeviewItems()"
                [childrenPath]="'children'"
            >
                Services
                <ng-template
                    mvLibTreeviewListTemplate
                    let-item
                    let-depth="depth"
                >
                    @if (depth === 0) {
                        <div class="treeview-group-label">
                            <span class="material-symbols-outlined">
                                {{ item.icon }}
                            </span>
                            {{ item.label }}
                        </div>
                    } @else {
                        <mv-lib-button-classic
                            class="treeview-action-button"
                            [style]="treeviewButtonStyle"
                            [effects]="treeviewButtonEffects"
                            (onClick)="onNavigationItemClick(item, $event.event)"
                        >
                            <div class="treeview-action-content">
                                {{ item.label + (item.wip ? ' (WIP)' : '') }}
                            </div>
                        </mv-lib-button-classic>
                    }
                </ng-template>
            </mv-lib-treeview-classic>
        </section>
    </aside>

    <main class="app-content">
        <router-outlet />
    </main>
</div>

<mv-lib-toast-classic></mv-lib-toast-classic>