:host {
	display: block;
	position: fixed;
	inset: 0;
}

html {
  font-family: Arial, sans-serif;
}

.app-shell {
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--mv-lib-primary-color-2);
	color: var(--mv-lib-primary-color-8);
}

.header {
	flex: 0 0 auto;
	z-index: 1000;
	background-color: var(--mv-lib-primary-color-3, #ffffff);

    > .buttons {
        display: flex;
        align-items: left;
        gap: 8px;
        margin: 8px;
    }
}

.header hr {
	border-color: var(--app-divider-color, #d9d9d9);
    margin: 0 -8px 0 -8px;
}

.app-content {
	flex: 1 1 auto;
	min-height: 0;
	overflow: hidden;
    padding: 4px;
}

.dropdown-placeholder {
	display: flex;
	align-items: center;
	height: 100%;
	gap: 8px;
	margin-left: 6px;
}

.dropdown-selected {
	display: flex;
	align-items: center;
	height: 100%;
	gap: 8px;
	margin-left: 6px;
}

.dropdown-item {
	display: flex;
	align-items: center;
	height: 100%;
	margin-left: 6px;
}