<div class="app">
    <aside class="sidebar">

        <div class="sidebar-title">
            <h2
                [style.cursor]="'pointer'"
                (click)="router.navigateByUrl('/home')"
            >
                MV Lib
            </h2>

            <!-- Light / Dark themes -->
            <mv-lib-switch-classic
                [inputStyle]="switchStyle"
                [inputEffects]="switchEffects"
                [(active)]="isThemeModeLight"
                (onToggle)="toggleTheme($event)"
            />
        </div>

        <hr [style.width.%]="100"/>

        <section class="treeview-section">
            <mv-lib-treeview-classic
                [items]="componentTreeviewItems()"
            >
                Components
                <ng-template
                    mvLibTreeviewListTemplate
                    let-item
                    let-depth="depth"
                >
                    @if (depth === 0) {
                        <div class="treeview-group-label">
                            <span class="material-symbols-outlined">
                                {{ item.icon }}
                            </span>
                            {{ item.label }}
                        </div>
                    } @else {
                        <mv-lib-button-classic
                            [inputStyle]="treeviewButtonStyle"
                            [inputEffects]="treeviewButtonEffects"
                            (onClick)="onNavigationItemClick(item, $event.event)"
                        >
                            <div class="treeview-action-content">
                                {{ item.label }} {{ item.status ? '(' + item.status + ')' : '' }}
                            </div>
                        </mv-lib-button-classic>
                    }
                </ng-template>
            </mv-lib-treeview-classic>
        </section>

        <section class="treeview-section">
            <mv-lib-treeview-classic
                [items]="serviceTreeviewItems()"
            >
                Services
                <ng-template
                    mvLibTreeviewListTemplate
                    let-item
                    let-depth="depth"
                >
                    @if (depth === 0) {
                        <div class="treeview-group-label">
                            <span class="material-symbols-outlined">
                                {{ item.icon }}
                            </span>
                            {{ item.label }}
                        </div>
                    } @else {
                        <mv-lib-button-classic
                            [inputStyle]="treeviewButtonStyle"
                            [inputEffects]="treeviewButtonEffects"
                            (onClick)="onNavigationItemClick(item, $event.event)"
                        >
                            <div class="treeview-action-content">
                                {{ item.label + (item.wip ? ' (WIP)' : '') }}
                            </div>
                        </mv-lib-button-classic>
                    }
                </ng-template>
            </mv-lib-treeview-classic>
        </section>

        <section class="treeview-section">
            <mv-lib-treeview-classic
                [items]="themeTreeviewItems()"
            >
                Custom themes
                <ng-template
                    mvLibTreeviewListTemplate
                    let-depth="depth"
                    let-item
                >
                    @if (depth === 0) {
                        <div
                            [ngStyle]="{
                                'display': 'flex',
                                'align-items': 'center',
                                'gap': '5px',
                            }"
                        >
                            <span class="material-symbols-outlined">
                                {{ item.icon }}
                            </span>
                            {{ item.label }}
                        </div>
                    }
                    @else if (depth === 1) {
                        <mv-lib-button-classic
                            [inputStyle]="treeviewButtonStyle"
                            [inputEffects]="treeviewButtonEffects"
                            (onClick)="onThemeSelect(item.themeName, $event.event)"
                        >
                            <div class="treeview-action-content">
                                <span class="material-symbols-outlined">
                                    {{ item.icon }}
                                </span>
                                {{ item.label }}
                            </div>
                        </mv-lib-button-classic>
                    }
                </ng-template>
            </mv-lib-treeview-classic>
        </section>
    </aside>

    <main class="app-content">
        <router-outlet />
    </main>
</div>

<mv-lib-toast-classic></mv-lib-toast-classic>