%border {
    border: 1px solid black;
    border-radius: 4px;
    margin: 0;
}

.configuration {
    display: flex;
    gap: 4px;
    height: calc(40% - 2px);

    > app-configuration-section {
        flex: 1 1 0;
        min-width: 0;
        display: flex;
    }
}

.form-state {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.visual {
    display: flex;
    gap: 4px;
    overflow: auto;
    margin-top: 4px;
    height: calc(60% - 2px);

    > * {
        @extend %border;

        display: flex;
        flex: 1;
        min-width: 0;
        overflow: auto;
    }
}

.component {
    align-items: center;
    justify-content: center;
}

.log {
    flex-direction: column;
}