%border {
    border: 1px solid var(--mv-lib-tertiary-color-5);
    border-radius: 4px;
    padding: 4px;
}

.configuration {
    display: flex;
    gap: 4px;
    height: calc(40% - 2px);

    > app-configuration-section {
        @extend %border;
        
        display: flex;
        flex: 1;
    }
}

.inputs-group {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 8px;
    row-gap: 4px;
    align-items: center;
}

.form-state {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.visual {
    display: flex;
    gap: 4px;
    margin-top: 4px;
    height: calc(60% - 2px);

    > * {
        @extend %border;

        flex: 1;
        overflow: auto;
        display: flex;
    }
}

.component {
    align-items: center;
    justify-content: center;
}

.log {
    margin: 0;
    overflow: auto;
}