<app-inputs-separator title="Dimensions" />
<div class="inputs-group">
    Width
    <app-input-text
        [value]="$any(component().styles()).dimensions.width"
        (onChange)="component().setStyle('dimensions.width', $event)"
    />
    Min width
    <app-input-text
        [value]="$any(component().styles()).dimensions.minWidth"
        (onChange)="component().setStyle('dimensions.minWidth', $event)"
    />
    Max width
    <app-input-text
        [value]="$any(component().styles()).dimensions.maxWidth"
        (onChange)="component().setStyle('dimensions.maxWidth', $event)"
    />
    Height
    <app-input-text
        [value]="$any(component().styles()).dimensions.height"
        (onChange)="component().setStyle('dimensions.height', $event)"
    />
    Min height
    <app-input-text
        [value]="$any(component().styles()).dimensions.minHeight"
        (onChange)="component().setStyle('dimensions.minHeight', $event)"
    />
    Max height
    <app-input-text
        [value]="$any(component().styles()).dimensions.maxHeight"
        (onChange)="component().setStyle('dimensions.maxHeight', $event)"
    />
</div>