%border {
    border: 1px solid var(--mv-lib-tertiary-color-5);
    border-radius: 4px;
}

.view {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 4px;
    gap: 4px;
    box-sizing: border-box;

    > * {
        gap: 4px;
    }
}

.configuration {
    display: flex;
    flex: 1 1 0;
    min-height: 0;

    > app-configuration-section {
        @extend %border;
        display: flex;
        flex: 1;
    }

    .inputs-group {
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: 8px;
        row-gap: 4px;
    }

    .form-state {
        display: flex;
        flex-direction: column;
    }

    [buttons] {
        display: flex;
        gap: 4px;
        width: 100%;

        > * {
            flex: 1 1 0;
            min-width: 0;
        }
    }
}

.render {
    display: flex;
    flex: 1 1 0;
    min-height: 0;

    > * {
        @extend %border;
        display: flex;
        flex: 1;
        padding: 4px;
        overflow: auto;
    }

    .component {
        align-items: center;
        justify-content: center;
    }

    .log {
        flex-direction: column;
        overflow: auto;
    }
}
