<div class="configuration">

    <app-configuration-section [title]="'Styles for ' + selectedPartStyle()">
        <div buttons class="type-buttons">
            <app-input-button label="Button" (onClick)="selectedPartStyle.set('button')" />
            <app-input-button label="List" (onClick)="selectedPartStyle.set('list')" />
            <app-input-button label="Item" (onClick)="selectedPartStyle.set('item')" />
        </div>
        @if (selectedPartStyle() === 'button') {
            <app-inputs-separator title="General" />
            <app-input-color
                label="Background color"
                [value]="dropdown().computedStyles().button.backgroundColor"
                (onChange)="dropdown().setStyle('button.backgroundColor', $event); refreshLog();"
            />
            <app-dimensions-inputs
                [dimensions]="dropdown().computedStyles().button.dimensions!"
                (onChangeDimensions)="dropdown().setStyle(`button.dimensions.${$event.key}`, $event.value); refreshLog();"
            />
            <app-border-inputs
                [border]="dropdown().computedStyles().button.border!"
                (onChangeBorder)="dropdown().setStyle(`button.border.${$event.key}`, $event.value); refreshLog();"
            />
            <app-font-inputs
                [font]="dropdown().computedStyles().button.font!"
                (onChangeFont)="dropdown().setStyle(`button.font.${$event.key}`, $event.value); refreshLog();"
            />
        }
        @else if (selectedPartStyle() === 'list') {
            <app-inputs-separator title="General" />
            <app-input-text
                label="Max height"
                [value]="dropdown().computedStyles().list.maxHeight"
                (onChange)="dropdown().setStyle('list.maxHeight', $event); refreshLog();"
            />
            <app-border-inputs
                [border]="dropdown().computedStyles().list.border!"
                (onChangeBorder)="dropdown().setStyle(`list.border.${$event.key}`, $event.value); refreshLog();"
            />
        }
        @else if (selectedPartStyle() === 'item') {
            <app-inputs-separator title="General" />
            <app-input-color
                label="Background color"
                [value]="dropdown().computedStyles().item.backgroundColor"
                (onChange)="dropdown().setStyle('item.backgroundColor', $event); refreshLog();"
            />
            <app-input-text
                label="Height"
                [value]="dropdown().computedStyles().item.height"
                (onChange)="dropdown().setStyle('item.height', $event); refreshLog();"
            />
            <app-font-inputs
                [font]="dropdown().computedStyles().item.font!"
                (onChangeFont)="dropdown().setStyle(`item.font.${$event.key}`, $event.value); refreshLog();"
            />
        }
    </app-configuration-section>
    
    <app-configuration-section [title]="'Effects for ' + selectedPartEffects()">
        <div buttons class="type-buttons">
            <app-input-button label="Button" (onClick)="selectedPartEffects.set('button')" />
            <app-input-button label="List" (onClick)="selectedPartEffects.set('list')" />
            <app-input-button label="Item" (onClick)="selectedPartEffects.set('item')" />
        </div>
        @if (selectedPartEffects() === 'button') {
            <app-shadow-idle-inputs
                [enabled]="dropdown().hasEffectClass('button', mvLibEffects.idle.shadow.class)"
                [style]="dropdown().computedEffects().parts.button!.styles!.shadowIdle!"
                (onChangeEnabled)="dropdown().setEffect(`button.${mvLibEffects.idle.shadow.class}`, $event); refreshLog();"
                (onChangeStyle)="dropdown().setEffectStyle(`button.${mvLibEffects.idle.shadow.name}`, $event); refreshLog();"
            />
            <app-tint-hover-inputs
                [enabled]="dropdown().hasEffectClass('button', mvLibEffects.hover.tint.class)"
                [style]="dropdown().computedEffects().parts.button!.styles!.tintHover!"
                (onChangeEnabled)="dropdown().setEffect(`button.${mvLibEffects.hover.tint.class}`, $event); refreshLog();"
                (onChangeStyle)="dropdown().setEffectStyle(`button.${mvLibEffects.hover.tint.name}`, $event); refreshLog();"
            />
            <app-push-click-inputs
                [enabled]="dropdown().hasEffectClass('button', mvLibEffects.click.push.class)"
                [style]="dropdown().computedEffects().parts.button!.styles!.pushClick!"
                (onChangeEnabled)="dropdown().setEffect(`button.${mvLibEffects.click.push.class}`, $event); refreshLog();"
                (onChangeStyle)="dropdown().setEffectStyle(`button.${mvLibEffects.click.push.name}`, $event); refreshLog();"
            />
            <app-ripple-release-inputs
                [enabled]="dropdown().hasEffectClass('button', mvLibEffects.release.ripple.class)"
                [style]="dropdown().computedEffects().parts.button!.styles!.rippleRelease!"
                (onChangeEnabled)="dropdown().setEffect(`button.${mvLibEffects.release.ripple.class}`, $event); refreshLog();"
                (onChangeStyle)="dropdown().setEffectStyle(`button.${mvLibEffects.release.ripple.name}`, $event); refreshLog();"
            />
        }
        @else if (selectedPartEffects() === 'list') {
            <app-shadow-idle-inputs
                [enabled]="dropdown().hasEffectClass('list', mvLibEffects.idle.shadow.class)"
                [style]="dropdown().computedEffects().parts.list!.styles!.shadowIdle!"
                (onChangeEnabled)="dropdown().setEffect(`list.${mvLibEffects.idle.shadow.class}`, $event); refreshLog();"
                (onChangeStyle)="dropdown().setEffectStyle(`list.${mvLibEffects.idle.shadow.name}`, $event); refreshLog();"
            />
        }
        @else if (selectedPartEffects() === 'item') {
            <app-tint-hover-inputs
                [enabled]="dropdown().hasEffectClass('item', mvLibEffects.hover.tint.class)"
                [style]="dropdown().computedEffects().parts.item!.styles!.tintHover!"
                (onChangeEnabled)="dropdown().setEffect(`item.${mvLibEffects.hover.tint.class}`, $event); refreshLog();"
                (onChangeStyle)="dropdown().setEffectStyle(`item.${mvLibEffects.hover.tint.name}`, $event); refreshLog();"
            />
        }
    </app-configuration-section>

    <app-configuration-section title="Settings">
        <app-input-checkbox
            [checked]="disabled()"
            label="Disabled"
            (onChange)="disabled.set($event); refreshLog();"
        />
        <app-input-checkbox
            [checked]="opened()"
            label="Opened"
            (onChange)="opened.set($event); refreshLog();"
        />
        <app-input-checkbox
            [checked]="settings().closeOnItemSelect"
            label="Close on item select"
            (onChange)="dropdown().setSettings('closeOnItemSelect', $event); refreshLog();"
        />
        <app-input-checkbox
            [checked]="settings().closeOnOutsideClick"
            label="Close on outside click"
            (onChange)="dropdown().setSettings('closeOnOutsideClick', $event); refreshLog();"
        />
        <app-input-checkbox
            [checked]="settings().resetButton"
            label="Reset button"
            (onChange)="dropdown().setSettings('resetButton', $event); refreshLog();"
        />
    </app-configuration-section>
</div>

<div class="visual">
    <mv-lib-dropdown-classic
        #mvLibDropdownClassic
        class="component"
        [styles]="style()"
        [effects]="effects()"
        [settings]="settings()"
        [items]="items()"
        [(selected)]="selectedItem"
        [disabled]="disabled()"
        [opened]="opened()"
        (onSelect)="refreshLastInteractionTime()"
        (onToggle)="
            opened.set($event.state);
            refreshLastInteractionTime();
        "
    >
        <ng-template mvLibDropdownPlaceholderTemplate>
            <div
                [style.margin-left.px]="8"
            >
                Select a user
            </div>
        </ng-template>

        <ng-template mvLibDropdownSelectedTemplate let-item>
            {{ item.name }}
        </ng-template>

        <ng-template mvLibDropdownItemTemplate let-item>
            <div
                [style.display]="'flex'"
                [style.alignItems]="'center'"
                [style.gap.px]="4"
            >
                <span class="material-symbols-outlined">
                    {{ item.icon }}
                </span>
                {{ item.name }}
            </div>
        </ng-template>
    </mv-lib-dropdown-classic>

<pre class="log">
Last interaction time: {{ lastInteractionTime() }}<br/>
selected: {{ selectedItem() | json }}<br/>
&lt;mv-lib-dropdown-classic{{ log() }}/&gt;
</pre>
</div>