<div class="configuration">

    <app-configuration-section [title]="'Styles for ' + selectedPartStyle()">
        <div buttons>
            <app-input-button
                label="Button"
                [selected]="selectedPartStyle() === 'button'"
                (onClick)="selectedPartStyle.set('button')"
            />
            <app-input-button
                label="List"
                [selected]="selectedPartStyle() === 'list'"
                (onClick)="selectedPartStyle.set('list')"
            />
            <app-input-button
                label="Item"
                [selected]="selectedPartStyle() === 'item'"
                (onClick)="selectedPartStyle.set('item')"
            />
        </div>
        @if (selectedPartStyle() === 'button') {
            <app-inputs-separator title="General" />
            <div class="inputs-group">
                Background color closed
                <app-input-color
                    [value]="dropdown().getStyle().button.closedBackgroundColor"
                    (onChange)="dropdown().setStyle('button.closedBackgroundColor', $event); refreshLog();"
                />
                Background color opened
                <app-input-color
                    [value]="dropdown().getStyle().button.openedBackgroundColor"
                    (onChange)="dropdown().setStyle('button.openedBackgroundColor', $event); refreshLog();"
                />
            </div>
            <app-dimensions-inputs
                [dimensions]="dropdown().getStyle().button.dimensions!"
                (onChangeDimensions)="dropdown().setStyle(`button.dimensions.${$event.key}`, $event.value); refreshLog();"
            />
            <app-outline-inputs
                [outline]="dropdown().getStyle().button.outline!"
                (onChangeOutline)="dropdown().setStyle(`button.outline.${$event.key}`, $event.value); refreshLog();"
            />
            <app-font-inputs
                [font]="dropdown().getStyle().button.font!"
                (onChangeFont)="dropdown().setStyle(`button.font.${$event.key}`, $event.value); refreshLog();"
            />
        }
        @else if (selectedPartStyle() === 'list') {
            <app-inputs-separator title="General" />
            <app-input-text
                [value]="dropdown().getStyle().list!.offsetX"
                label="Offset X"
                (onChange)="dropdown().setStyle('list.offsetX', $event); refreshLog();"
            />
            <app-dimensions-inputs
                [dimensions]="dropdown().getStyle().list.dimensions!"
                (onChangeDimensions)="dropdown().setStyle(`list.dimensions.${$event.key}`, $event.value); refreshLog();"
            />
            <app-outline-inputs
                [outline]="dropdown().getStyle().list.outline!"
                (onChangeOutline)="dropdown().setStyle(`list.outline.${$event.key}`, $event.value); refreshLog();"
            />
        }
        @else if (selectedPartStyle() === 'item') {
            <app-inputs-separator title="General" />
            <app-input-color
                label="Background color"
                [value]="dropdown().getStyle().item.backgroundColor"
                (onChange)="dropdown().setStyle('item.backgroundColor', $event); refreshLog();"
            />
            <app-input-text
                label="Height"
                [value]="dropdown().getStyle().item.height"
                (onChange)="dropdown().setStyle('item.height', $event); refreshLog();"
            />
            <app-font-inputs
                [font]="dropdown().getStyle().item.font!"
                (onChangeFont)="dropdown().setStyle(`item.font.${$event.key}`, $event.value); refreshLog();"
            />
        }
    </app-configuration-section>
    
    <app-configuration-section [title]="'Effects for ' + selectedPartEffects()">
        <div buttons>
            <app-input-button
                label="Button"
                [selected]="selectedPartEffects() === 'button'"
                (onClick)="selectedPartEffects.set('button')"
            />
            <app-input-button
                label="List"
                [selected]="selectedPartEffects() === 'list'"
                (onClick)="selectedPartEffects.set('list')"
            />
            <app-input-button
                label="Item"
                [selected]="selectedPartEffects() === 'item'"
                (onClick)="selectedPartEffects.set('item')"
            />
        </div>
        @if (selectedPartEffects() === 'button') {
            <app-shadow-idle-inputs
                [enabled]="dropdown().hasEffect('button', mvLibEffects.idle.shadow)"
                [style]="dropdown().getEffects().button.styles!.shadowIdle!"
                (onChangeEnabled)="dropdown().toggleEffect('button', mvLibEffects.idle.shadow, $event); refreshLog();"
                (onChangeStyle)="dropdown().setEffectStyle(`button.${mvLibEffects.idle.shadow.name}`, $event); refreshLog();"
            />
            <app-tint-hover-inputs
                [enabled]="dropdown().hasEffect('button', mvLibEffects.hover.tint)"
                [style]="dropdown().getEffects().button.styles!.tintHover!"
                (onChangeEnabled)="dropdown().toggleEffect('button', mvLibEffects.hover.tint, $event); refreshLog();"
                (onChangeStyle)="dropdown().setEffectStyle(`button.${mvLibEffects.hover.tint.name}`, $event); refreshLog();"
            />
            <app-push-click-inputs
                [enabled]="dropdown().hasEffect('button', mvLibEffects.click.push)"
                [style]="dropdown().getEffects().button.styles!.pushClick!"
                (onChangeEnabled)="dropdown().toggleEffect('button', mvLibEffects.click.push, $event); refreshLog();"
                (onChangeStyle)="dropdown().setEffectStyle(`button.${mvLibEffects.click.push.name}`, $event); refreshLog();"
            />
            <app-ripple-release-inputs
                [enabled]="dropdown().hasEffect('button', mvLibEffects.release.ripple)"
                [style]="dropdown().getEffects().button.styles!.rippleRelease!"
                (onChangeEnabled)="dropdown().toggleEffect('button', mvLibEffects.release.ripple, $event); refreshLog();"
                (onChangeStyle)="dropdown().setEffectStyle(`button.${mvLibEffects.release.ripple.name}`, $event); refreshLog();"
            />
        }
        @else if (selectedPartEffects() === 'list') {
            <app-shadow-idle-inputs
                [enabled]="dropdown().hasEffect('list', mvLibEffects.idle.shadow)"
                [style]="dropdown().getEffects().list.styles!.shadowIdle!"
                (onChangeEnabled)="dropdown().toggleEffect('list', mvLibEffects.idle.shadow, $event); refreshLog();"
                (onChangeStyle)="dropdown().setEffectStyle(`list.${mvLibEffects.idle.shadow.name}`, $event); refreshLog();"
            />
        }
        @else if (selectedPartEffects() === 'item') {
            <app-tint-hover-inputs
                [enabled]="dropdown().hasEffect('item', mvLibEffects.hover.tint)"
                [style]="dropdown().getEffects().item.styles!.tintHover!"
                (onChangeEnabled)="dropdown().toggleEffect('item', mvLibEffects.hover.tint, $event); refreshLog();"
                (onChangeStyle)="dropdown().setEffectStyle(`item.${mvLibEffects.hover.tint.name}`, $event); refreshLog();"
            />
        }
    </app-configuration-section>

    <app-configuration-section title="Settings">
        <div buttons>
            <app-input-button
                label="Button"
                [selected]="selectedPartSettings() === 'button'"
                (onClick)="selectedPartSettings.set('button')"
            />
            <app-input-button
                label="List"
                [selected]="selectedPartSettings() === 'list'"
                (onClick)="selectedPartSettings.set('list')"
            />
        </div>
        <app-inputs-separator title="General" />
        <app-input-checkbox
            [checked]="disabled()"
            label="Disabled"
            (onChange)="disabled.set($event); refreshLog();"
        />
        <app-input-checkbox
            [checked]="opened()"
            label="Opened"
            (onChange)="opened.set($event); refreshLog();"
        />
        @if (selectedPartSettings() === 'button') {
            <app-inputs-separator title="Button" />
            <app-input-checkbox
                [checked]="dropdown().getSettings().button!.resetButton"
                label="Reset button"
                (onChange)="dropdown().setSettings('button.resetButton', $event); refreshLog();"
            />
        }
        @else if (selectedPartSettings() === 'list') {
            <app-inputs-separator title="List" />
            <app-input-checkbox
                [checked]="dropdown().getSettings().list!.hideScrollbar"
                label="Hide scrollbar"
                (onChange)="dropdown().setSettings('list.hideScrollbar', $event); refreshLog();"
            />
            <app-input-checkbox
                [checked]="dropdown().getSettings().list!.closeOnOutsideClick"
                label="Close on outside click"
                (onChange)="dropdown().setSettings('list.closeOnOutsideClick', $event); refreshLog();"
            />
            <app-input-checkbox
                [checked]="dropdown().getSettings().list!.closeOnItemSelect"
                label="Close on item select"
                (onChange)="dropdown().setSettings('list.closeOnItemSelect', $event); refreshLog();"
            />
        }
    </app-configuration-section>
</div>

<div class="visual">
    <mv-lib-dropdown-classic
        #mvLibDropdownClassic
        class="component"
        [inputStyle]="style()"
        [inputEffects]="effects()"
        [inputSettings]="settings()"
        [items]="items()"
        [(selected)]="selectedItem"
        [(opened)]="opened"
        [disabled]="disabled()"
        (onSelect)="refreshLastInteractionTime()"
        (onToggle)="
            opened.set($event.state);
            refreshLastInteractionTime();
            refreshLog();"
    >
        <ng-template mvLibDropdownPlaceholderTemplate>
            Select a user
        </ng-template>

        <ng-template mvLibDropdownSelectedTemplate let-item>
            {{ item.name }}
        </ng-template>

        <ng-template mvLibDropdownItemTemplate let-item>
            <div
                [ngStyle]="{
                    'display': 'flex',
                    'align-items': 'center',
                    'gap.px': 4,
                    'width.%': 100,
                    'text-align': 'left',
                }"
            >
                <span class="material-symbols-outlined">
                    {{ item.icon }}
                </span>
                <span>
                    {{ item.name }}
                </span>
            </div>
        </ng-template>
    </mv-lib-dropdown-classic>

    <div class="log">
        Last interaction time: {{ lastInteractionTime() }}<br/>
        <pre>Selected: {{ selectedItem() | json }}</pre>
        <app-input-button
            label="Copy component code"
            [width]="'25%'"
            (onClick)="copyComponentCode()"
        />
        <pre #code>&lt;mv-lib-dropdown-classic{{ log() }}&gt;<br/>    MV Lib dropdown classic<br/>&lt;/mv-lib-dropdown-classic&gt;</pre>
    </div>
</div>