<div class="configuration">

    <app-configuration-section title="Styles">
        <b>
            Button
        </b>
        <app-input-number
            [value]="styles().buttonWidthPx"
            label="Button width px"
            (onChange)="setStyle('buttonWidthPx', $event)"
        />
        <app-input-number
            [value]="styles().buttonHeightPx"
            label="Button height px"
            (onChange)="setStyle('buttonHeightPx', $event)"
        />
        <app-input-color
            [value]="styles().buttonBackgroundColor"
            label="Button background color"
            (onChange)="setStyle('buttonBackgroundColor', $event)"
        />
        <app-input-color
            [value]="styles().buttonTextColor"
            label="Button text color"
            (onChange)="setStyle('buttonTextColor', $event)"
        />
        <b>
            List
        </b>
        <app-input-number
            [value]="styles().listMaxHeightPx"
            label="List max height px"
            (onChange)="setStyle('listMaxHeightPx', $event)"
        />
        <b>
            Item
        </b>
        <app-input-number
            [value]="styles().itemHeightPx"
            label="Item height px"
            (onChange)="setStyle('itemHeightPx', $event)"
        />        
        <app-input-color
            [value]="styles().itemBackgroundColor"
            label="Item background color"
            (onChange)="setStyle('itemBackgroundColor', $event)"
        />
        <app-input-color
            [value]="styles().itemTextColor"
            label="Item text color"
            (onChange)="setStyle('itemTextColor', $event)"
        />
    </app-configuration-section>
    
    <app-configuration-section title="Effects">
        <b>
            Button idle
        </b>
        <app-input-checkbox
            
            label="Shadow"
            (onChange)="setEffect('shadow', $event)"
        />
        <b>
            Button hover
        </b>
        <app-input-checkbox
            
            label="Darken"
            (onChange)="setEffect('darken', $event)"
        />
        <b>
            Button click
        </b>
        <app-input-checkbox
            
            label="Push"
            (onChange)="setEffect('push', $event)"
        />
        <app-input-checkbox
            
            label="Ripple"
            (onChange)="setEffect('ripple', $event)"
        />
        <b>
            List idle
        </b>
        <app-input-checkbox
            
            label="Shadow"
            (onChange)="setEffect('shadow', $event)"
        />
        <b>
            Item hover
        </b>
        <app-input-checkbox
            
            label="Darken"
            (onChange)="setEffect('darken', $event)"
        />
        <b>
            Item click
        </b>
        <app-input-checkbox
            
            label="Push"
            (onChange)="setEffect('push', $event)"
        />
        <app-input-checkbox
            
            label="Ripple"
            (onChange)="setEffect('ripple', $event)"
        />
    </app-configuration-section>

    <app-configuration-section title="Settings">
        <app-input-checkbox
            [checked]="disabled()"
            label="Disabled"
            (onChange)="
                disabled.set($event);
                refreshLog();
            "
        />
        <app-input-checkbox
            [checked]="opened()"
            label="Opened"
            (onChange)="
                opened.set($event);
                refreshLog();
            "
        />
        <app-input-checkbox
            [checked]="settings().closeOnItemSelect"
            label="Close on item select"
            (onChange)="
                setSettings('closeOnItemSelect', $event);
                refreshLog();
            "
        />
        <app-input-checkbox
            [checked]="settings().closeOnOutsideClick"
            label="Close on outside click"
            (onChange)="
                setSettings('closeOnOutsideClick', $event);
                refreshLog();
            "
        />
        <app-input-checkbox
            [checked]="settings().resetButton"
            label="Reset button"
            (onChange)="
                setSettings('resetButton', $event);
                refreshLog();
            "
        />
    </app-configuration-section>
</div>

<div class="visual">
    <mv-lib-dropdown-classic
        #mvLibComponent
        class="component"
        [styles]="styles()"
        [effects]="effects()"
        [settings]="settings()"
        [items]="items()"
        [(selected)]="selectedItem"
        [disabled]="disabled()"
        [opened]="opened()"
        (onSelect)="refreshLastInteractionTime()"
        (onOpen)="
            opened.set($event.opened);
            refreshLastInteractionTime();
        "
    >
        <ng-template mvLibDropdownPlaceholderTemplate>
            <div
                [style.margin-left.px]="8"
            >
                Select a user
            </div>
        </ng-template>

        <ng-template mvLibDropdownSelectedTemplate let-item>
            {{ item.name }}
        </ng-template>

        <ng-template mvLibDropdownItemTemplate let-item>
            <div
                [style.display]="'flex'"
                [style.alignItems]="'center'"
                [style.gap.px]="4"
            >
                <span class="material-symbols-outlined">
                    {{ item.icon }}
                </span>
                {{ item.name }}
            </div>
        </ng-template>
    </mv-lib-dropdown-classic>

<pre class="log">
Last interaction time: {{ lastInteractionTime() }}<br/>
selected: {{ selectedItem() | json }}<br/>
{{ log() }}
</pre>
</div>