:root {
	/**
     * Buttons styles
     */
	--button-blue-color: dodgerblue;
	--button-blue-color-hover: royalblue;
	--button-green-color: green;
	--button-green-color-hover: darkgreen;
	--button-red-color: red;
	--button-red-color-hover: rgb(226, 0, 0);

	/**
	 * Switches
	 */
	--switch-blue-color-on: royalblue;
	--switch-red-color-on: rgb(226, 0, 0);
}
