.disabled {
  opacity: 0.6;
  cursor: default;
}

.disabled .shadow {
  box-shadow: none;
}

.disabled .push,
.disabled .ripple {
  pointer-events: none;
}

.disabled .ripple::after {
  content: none;
}

.enabled {
  cursor: pointer;
}
