@use 'sass:list';

$outline-layers:
5;
$outline-opacities:
34,
26,
18,
11,
6;
$outline-spread-multipliers:
0.9,
1.6,
2.5,
3.5,
4.7;
$outline-blur-multipliers:
1.6,
2.3,
3.2,
4.4,
5.8;

.outline {
  --outline-size: var(--size, 1px);
  --outline-color: var(--color, gray);

  $shadows: ();

  @for $i from 1 through $outline-layers {
    $opacity: list.nth($outline-opacities, $i);
    $mix-percentage: $opacity * 1%;
    $spread-multiplier: list.nth($outline-spread-multipliers, $i);
    $blur-multiplier: list.nth($outline-blur-multipliers, $i);

    $shadow: 0 0 calc(var(--outline-size) * #{$blur-multiplier})
      calc(var(--outline-size) * #{$spread-multiplier})
      color-mix(in srgb, var(--outline-color) #{$mix-percentage}, transparent);
    $shadows: list.append($shadows, $shadow, comma);
  }

  outline: none;
  box-shadow: $shadows;
}
