<div class="effect">
    <app-input-checkbox
        [checked]="enabled()"
        (onChange)="onChangeEnabled.emit($event)"
    />
    <app-inputs-separator [title]="title() ?? 'Outline blur selected'" />
</div>
<div class="inputs-group">
    Color
    <app-input-color
        [value]="style().color"
        (onChange)="onChangeStyle.emit({key: 'color', value: $event})"
    />
    Radius
    <app-input-text
        [value]="style().radius"
        (onChange)="onChangeStyle.emit({key: 'radius', value: $event})"
    />
</div>