<app-inputs-separator [title]="title() ?? 'Font'" />
<div class="inputs-group">
    Size
    <div class="inputs-row">
        <app-input-select
            [values]="cssFontSizes"
            [selectedValues]="[font().size]"
            [width]="100"
            (onChange)="onChangeFont.emit({key: 'size', value: $event})"
        />
        <app-input-text
            [value]="font().size"
            (onChange)="onChangeFont.emit({key: 'size', value: $event})"
            [style.flex]="1"
        />
    </div>
    Weight
    <div class="inputs-row">
        <app-input-select
            [values]="cssFontWeights"
            [selectedValues]="[font().weight]"
            [width]="100"
            (onChange)="onChangeFont.emit({key: 'weight', value: $event})"
        />
        <app-input-text
            [value]="font().weight"
            (onChange)="onChangeFont.emit({key: 'weight', value: $event})"
            [style.flex]="1"
        />
    </div>
    Style
    <div class="inputs-row">
        <app-input-select
            [values]="cssFontStyles"
            [selectedValues]="[font().style]"
            [width]="100"
            (onChange)="onChangeFont.emit({key: 'style', value: $event})"
        />
        <app-input-text
            [value]="font().style"
            (onChange)="onChangeFont.emit({key: 'style', value: $event})"
            [style.flex]="1"
        />
    </div>
    Color
    <app-input-color
        [value]="font().color"
        [width]="100"
        (onChange)="onChangeFont.emit({key: 'color', value: $event})"
    />
</div>