<app-inputs-separator [label]="label() ?? 'Font'" />
<div class="inputs-group">
    Size
    <div class="inputs-row">
        <app-input-select
            [values]="cssFontSizes"
            [selectedValues]="[value().size]"
            [width]="100"
            (onChange)="onChange.emit({key: 'size', value: $event})"
        />
        <app-input-text
            [value]="value().size"
            (onChange)="onChange.emit({key: 'size', value: $event})"
            [style.flex]="1"
        />
    </div>
    Weight
    <div class="inputs-row">
        <app-input-select
            [values]="cssFontWeights"
            [selectedValues]="[value().weight]"
            [width]="100"
            (onChange)="onChange.emit({key: 'weight', value: $event})"
        />
        <app-input-text
            [value]="value().weight"
            (onChange)="onChange.emit({key: 'weight', value: $event})"
            [style.flex]="1"
        />
    </div>
    Style
    <div class="inputs-row">
        <app-input-select
            [values]="cssFontStyles"
            [selectedValues]="[value().style]"
            [width]="100"
            (onChange)="onChange.emit({key: 'style', value: $event})"
        />
        <app-input-text
            [value]="value().style"
            (onChange)="onChange.emit({key: 'style', value: $event})"
            [style.flex]="1"
        />
    </div>
    Color
    <app-input-color
        [value]="value().color"
        [width]="100"
        (onChange)="onChange.emit({key: 'color', value: $event})"
    />
</div>