<div>
    <header>
        <div
            [style.display]="'flex'"
            [style.align-items]="'left'"
            [style.gap.px]="8"
        >
            <mv-lib-button
                routerLink="/"
                [settings]="{
                    heightPx: 32,
                    backgroundColor: 'var(--button-blue-color)',
                    hoverBackgroundColor: 'var(--button-blue-color-hover)',
                    onClickEffect: 'push',
                }"
            >
                <span class="material-symbols-outlined">
                    home
                </span>
            </mv-lib-button>

            <mv-lib-button
                routerLink="/buttons"
                [settings]="{
                    heightPx: 32,
                    backgroundColor: 'var(--button-blue-color)',
                    hoverBackgroundColor: 'var(--button-blue-color-hover)',
                    onClickEffect: 'push',
                }"
            >
                <span
                    [style.font-weight]="'bold'"
                >
                    Buttons
                </span>
            </mv-lib-button>
        </div>
    </header>

    <hr />

    <main>
        <router-outlet />
    </main>
</div>