<div class="configuration">
    
    <app-configuration-section title="Styles">
        <app-input-color
            label="Background color"
            [value]="textbox().computedStyles().backgroundColor"
            (onChange)="textbox().setStyle('backgroundColor', $event); refreshLog();"
        />
        <app-border-inputs
            [border]="textbox().computedStyles().border"
            (onChangeBorder)="textbox().setStyle(`border.${$event.key}`, $event.value); refreshLog();"
        />
    </app-configuration-section>

    <app-configuration-section title="Effects">
        <app-tint-hover-inputs
            [enabled]="textbox().hasEffectClass(mvLibEffects.hover.tint.class)"
            [style]="textbox().computedEffects().styles.tintHover!"
            (onChangeEnabled)="textbox().setEffect(mvLibEffects.hover.tint.class, $event); refreshLog();"
            (onChangeStyle)="textbox().setEffectStyle(mvLibEffects.hover.tint.name, $event); refreshLog();"
        />
        <app-outline-blur-selected-inputs
            [enabled]="textbox().hasEffectClass(mvLibEffects.selected.outlineBlur.class)"
            [style]="textbox().computedEffects().styles.outlineBlurSelected!"
            (onChangeEnabled)="textbox().setEffect(mvLibEffects.selected.outlineBlur.class, $event); refreshLog();"
            (onChangeStyle)="textbox().setEffectStyle(mvLibEffects.selected.outlineBlur.name, $event); refreshLog();"
        />
        <app-outline-solid-selected-inputs
            [enabled]="textbox().hasEffectClass(mvLibEffects.selected.outlineSolid.class)"
            [style]="textbox().computedEffects().styles.outlineSolidSelected!"
            (onChangeEnabled)="textbox().setEffect(mvLibEffects.selected.outlineSolid.class, $event); refreshLog();"
            (onChangeStyle)="textbox().setEffectStyle(mvLibEffects.selected.outlineSolid.name, $event); refreshLog();"
        />
    </app-configuration-section>

    <app-configuration-section title="Settings">
        <app-input-checkbox
            [checked]="form.get('input')?.disabled"
            label="Disabled"
            (onChange)="$event ? form.get('input')?.disable() : form.get('input')?.enable(); refreshLog();"
        />
        <app-input-checkbox
            [checked]="textbox().selected()"
            label="Selected"
            (onChange)="textbox().setSelected($event); refreshLog();"
        />
    </app-configuration-section>

    <app-configuration-section title="Form controls">
        <div class="form-state">
            <span>{{ form.touched ? 'Touched' : 'Untouched' }}</span>
            <span>{{ form.dirty ? 'Dirty' : 'Pristine' }}</span>
            <span>{{ form.disabled ? 'Disabled' : (form.valid ? 'Valid' : 'Invalid') }}</span>
        </div>
        <app-input-checkbox
            [checked]="required()"
            label="Required"
            [style.color]="form.get('input')?.hasError('required') ? 'red' : 'black'"
            (onChange)="
                required.set($event);
                updateFormValidator(
                    'input',
                    'required',
                    required());
            "
        />
        <app-input-checkbox
            [checked]="onlyCharacters()"
            label="Only characters"
            [style.color]="form.get('input')?.hasError('pattern') ? 'red' : 'black'"
            (onChange)="
                onlyCharacters.set($event);
                updateFormValidator(
                    'input',
                    'pattern-only-characters',
                    onlyCharacters());
            "
        />
        <app-input-number
            [value]="minLength()"
            label="Min length"
            [style.color]="form.get('input')?.hasError('minlength') ? 'red' : 'black'"
            (onChange)="
                minLength.set($event);
                updateFormValidator(
                    'input',
                    'minLength',
                    minLength());
            "
        />
    </app-configuration-section>
</div>

<form
    [formGroup]="form"
    class="visual"
>
    <mv-lib-textbox-classic
        #mvLibTextboxClassic
        formControlName="input"
        class="component"
        [styles]="style()"
        [settings]="settings()"
        [effects]="effects()"
        [(selected)]="selected"
        (onChange)="
            form.get('input')?.setValue($event.input);
            refreshLastInteractionTime();
            refreshLog();
        "
        (onSelect)="
            selected.set($event.selected);
            refreshLastInteractionTime();
            refreshLog();
        "
    />

<pre class="log">
Last interaction time: {{ lastInteractionTime() }}<br/>
input: {{ form.get('input')?.value }}<br/>
&lt;mv-lib-textbox-classic{{ log() }}/&gt;
</pre>
</form>