<div class="configuration">
    
    <app-configuration-section title="Styles">
        @if (styleInitialized()) {
            <app-inputs-separator title="General" />
            <app-input-color
                [value]="styles().backgroundColor"
                label="Background color"
                (onChange)="setStyle('backgroundColor', $event)"
            />
            <app-dimensions-inputs [component]="this" />
            <app-border-inputs [component]="this" />
            <app-font-inputs [component]="this" />
        }
    </app-configuration-section>

    <app-configuration-section title="Effects">
        @if (effectsInitialized()) {
            <app-darken-hover-inputs [component]="this" />
            <app-outline-blur-selected-inputs [component]="this" />
            <app-outline-solid-selected-inputs [component]="this" />
        }
    </app-configuration-section>

    <app-configuration-section title="Settings">
        @if (settingsInitialized()) {
            <app-input-checkbox
                [checked]="form.get('input')?.disabled"
                label="Disabled"
                (onChange)="
                    $event ? form.get('input')?.disable() : form.get('input')?.enable();
                    refreshLog();
                "
            />
            <app-input-checkbox
                [checked]="selected()"
                label="Selected"
                (onChange)="
                    selected.set($event);
                    refreshLastInteractionTime();
                    refreshLog();
                "
            />
        }
    </app-configuration-section>

    <app-configuration-section title="Form controls">
        <div class="form-state">
            <span>{{ form.touched ? 'Touched' : 'Untouched' }}</span>
            <span>{{ form.dirty ? 'Dirty' : 'Pristine' }}</span>
            <span>{{ form.disabled ? 'Disabled' : (form.valid ? 'Valid' : 'Invalid') }}</span>
        </div>
        <app-input-checkbox
            [checked]="required()"
            label="Required"
            [style.color]="form.get('input')?.hasError('required') ? 'red' : 'black'"
            (onChange)="
                required.set($event);
                updateFormValidator(
                    'input',
                    'required',
                    required());
            "
        />
        <app-input-checkbox
            [checked]="onlyCharacters()"
            label="Only characters"
            [style.color]="form.get('input')?.hasError('pattern') ? 'red' : 'black'"
            (onChange)="
                onlyCharacters.set($event);
                updateFormValidator(
                    'input',
                    'pattern-only-characters',
                    onlyCharacters());
            "
        />
        <app-input-number
            [value]="minLength()"
            label="Min length"
            [style.color]="form.get('input')?.hasError('minlength') ? 'red' : 'black'"
            (onChange)="
                minLength.set($event);
                updateFormValidator(
                    'input',
                    'minLength',
                    minLength());
            "
        />
    </app-configuration-section>
</div>

<form
    [formGroup]="form"
    class="visual"
>
    <mv-lib-textbox-classic
        #mvLibComponent
        formControlName="input"
        class="component"
        [(styles)]="styles"
        [(settings)]="settings"
        [(effects)]="effects"
        [selected]="selected()"
        (onChange)="
            form.get('input')?.setValue($event.input);
            refreshLastInteractionTime();
            refreshLog();
        "
        (onSelect)="
            selected.set($event.selected);
            refreshLastInteractionTime();
            refreshLog();
        "
    />

<pre class="log">
Last interaction time: {{ lastInteractionTime() }}<br/>
input: {{ form.get('input')?.value }}<br/>
&lt;mv-lib-textbox-classic{{ log() }}/&gt;
</pre>
</form>