<mv-lib-switch
    [settings]="{
        
    }"
    [active]="true"
    (onClick)="disabled.set(!$event.active)"
/>
{{ disabled() ? 'All disabled' : 'All enabled' }}

<div
    [style.display]="'flex'"
    [style.gap.px]='8'
    [style.margin-top.px]='8'
>
    <div
        [style.display]="'flex'"
        [style.flex-direction]="'column'"
        [style.gap.px]='8'
        [style.width.px]="100"
    >
        <div
            [style.display]="'flex'"
            [style.gap.px]='8'
        >
            <mv-lib-switch
                [settings]="{
                    
                }"
                [active]="switchesStates()[0]"
                [disabled]="disabled()"
                (onClick)="
                    switchesStates()[0] = $event.active;
                    setLog($event);
                "
            />
            {{ switchesStates()[0] ? 'ON' : 'OFF' }}
        </div>

        <div
            [style.display]="'flex'"
            [style.gap.px]='8'
        >
            <mv-lib-switch
                [settings]="{
                    onColor: styles.var['switch-blue-color-on'],
                }"
                [active]="switchesStates()[1]"
                [disabled]="disabled()"
                (onClick)="
                    switchesStates()[1] = $event.active;
                    setLog($event);
                "
            />
            {{ switchesStates()[1] ? 'ON' : 'OFF' }}
        </div>

        <div
            [style.display]="'flex'"
            [style.gap.px]='8'
        >
            <mv-lib-switch
                [settings]="{
                    onColor: styles.var['switch-red-color-on'],
                }"
                [active]="switchesStates()[2]"
                [disabled]="disabled()"
                (onClick)="
                    switchesStates()[2] = $event.active;
                    setLog($event);
                "
            />
            {{ switchesStates()[2] ? 'ON' : 'OFF' }}
        </div>
    </div>

    <div
        [style.display]="'flex'"
        [style.flex-direction]="'column'"
        [style.gap.px]='8'
        [style.width.px]="120"
    >
        <div
            [style.display]="'flex'"
            [style.gap.px]='8'
        >
            <mv-lib-switch
                [settings]="{
                    widthPx: 75,
                }"
                [active]="switchesStates()[3]"
                [disabled]="disabled()"
                (onClick)="
                    switchesStates()[3] = $event.active;
                    setLog($event);
                "
            />
            {{ switchesStates()[3] ? 'ON' : 'OFF' }}
        </div>

        <div
            [style.display]="'flex'"
            [style.gap.px]='8'
        >
            <mv-lib-switch
                [settings]="{
                    widthPx: 75,
                    onColor: styles.var['switch-blue-color-on'],
                }"
                [active]="switchesStates()[4]"
                [disabled]="disabled()"
                (onClick)="
                    switchesStates()[4] = $event.active;
                    setLog($event);
                "
            />
            {{ switchesStates()[4] ? 'ON' : 'OFF' }}
        </div>

        <div
            [style.display]="'flex'"
            [style.gap.px]='8'
        >
            <mv-lib-switch
                [settings]="{
                    widthPx: 75,
                    onColor: styles.var['switch-red-color-on'],
                }"
                [active]="switchesStates()[5]"
                [disabled]="disabled()"
                (onClick)="
                    switchesStates()[5] = $event.active;
                    setLog($event);
                "
            />
            {{ switchesStates()[5] ? 'ON' : 'OFF' }}
        </div>
    </div>

    <div
        [style.display]="'flex'"
        [style.flex-direction]="'column'"
        [style.gap.px]='8'
    >
        <div
            [style.display]="'flex'"
            [style.gap.px]='8'
        >
            <mv-lib-switch
                [settings]="{
                    widthPx: 100,
                    heightPx: 25,
                }"
                [active]="switchesStates()[6]"
                [disabled]="disabled()"
                (onClick)="
                    switchesStates()[6] = $event.active;
                    setLog($event);
                "
            />
            {{ switchesStates()[6] ? 'ON' : 'OFF' }}
        </div>

        <div
            [style.display]="'flex'"
            [style.gap.px]='8'
        >
            <mv-lib-switch
                [settings]="{
                    widthPx: 100,
                    heightPx: 25,
                    onColor: styles.var['switch-blue-color-on'],
                }"
                [active]="switchesStates()[7]"
                [disabled]="disabled()"
                (onClick)="
                    switchesStates()[7] = $event.active;
                    setLog($event);
                "
            />
            {{ switchesStates()[7] ? 'ON' : 'OFF' }}
        </div>

        <div
            [style.display]="'flex'"
            [style.gap.px]='8'
        >
            <mv-lib-switch
                [settings]="{
                    widthPx: 100,
                    heightPx: 25,
                    onColor: styles.var['switch-red-color-on'],
                }"
                [active]="switchesStates()[8]"
                [disabled]="disabled()"
                (onClick)="
                    switchesStates()[8] = $event.active;
                    setLog($event);
                "
            />
            {{ switchesStates()[8] ? 'ON' : 'OFF' }}
        </div>
    </div>
</div>

<span
    [style.margin-left.px]='8'
    [style.margin-top.px]='16'
    [style.display]="'block'"
    [style.white-space]="'pre-wrap'"
>
    {{ log() }}
</span>