.controls {
    display: flex;
    gap: 16px;
}

.styles {
    display: flex;
    flex-direction: column;
    gap: 4px;

    input[type='number'] {
        width: 50px;
        margin-top: 0;
    }

    input[type='color'] {
        width: 58px;
        height: 24px;
    }
}

.effects {
    display: flex;
    margin-top: 8px;
    gap: 16px;

    input[type='checkbox'] {
        margin: 0;
    }

    > div {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
    }

    > div > div {
        display: flex;
        align-items: center;
        margin-top: 4px;
        gap: 4px;
    }
}

.settings {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    gap: 4px;

    > div {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    input[type='checkbox'] {
        margin: 0 0 0 0;
    }
}

.form-controls {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: black;

    > div {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    > div input[type='checkbox'] {
        margin: 0;
    }

    > div input[type='number'] {
        width: 50px;
        margin-top: 0;
    }

    > div.has-errors {
		color: red;
	}
}

.form-state {
    display: flex;
    flex-direction: column;
    text-align: left;

    > span {
        width: 100%;
    }
}