<div class="configuration">
    <!-- Styles -->
    <div class="styles">
        <b>
            Styles
        </b>
        <div>
            <input
                type="number"
                [value]="styles().widthPx ?? ''"
                (input)="updateStyle('widthPx', $event)"
            />
            Width px
        </div>

        <div>
            <input
                type="number"
                [value]="styles().heightPx ?? ''"
                (input)="updateStyle('heightPx', $event)"
            />
            Height px
        </div>

        Track

        <div>
            <input
                type="color"
                [value]="styles().trackColorOn"
                (input)="updateStyle('trackColorOn', $event)"
            />
            Track color on
        </div>

        <div>
            <input
                type="color"
                [value]="styles().trackColorOff"
                (input)="updateStyle('trackColorOff', $event)"
            />
            Track color off
        </div>

        Cursor on

        <div>
            <input
                type="color"
                [value]="styles().cursorColorOn"
                (input)="updateStyle('cursorColorOn', $event)"
            />
            Cursor color on
        </div>

        <div>
            <input
                type="textbox"
                [value]="styles().cursorIconOn"
                (input)="updateStyle('cursorIconOn', $event)"
            />
            Cursor icon on
        </div>

        <div>
            <input
                type="color"
                [value]="styles().cursorIconColorOn"
                (input)="updateStyle('cursorIconColorOn', $event)"
            />
            Cursor icon color on
        </div>

        Cursor off
        
        <div>
            <input
                type="color"
                [value]="styles().cursorColorOff"
                (input)="updateStyle('cursorColorOff', $event)"
            />
            Cursor color off
        </div>

        <div>
            <input
                type="textbox"
                [value]="styles().cursorIconOff"
                (input)="updateStyle('cursorIconOff', $event)"
            />
            Cursor icon off
        </div>

        <div>
            <input
                type="color"
                [value]="styles().cursorIconColorOff"
                (input)="updateStyle('cursorIconColorOff', $event)"
            />
            Cursor icon color off
        </div>
    </div>

    <!-- Effects -->
    <div class="effects">
        <div>
            <b>
                Idle effects
            </b>
            <app-input-checkbox
                [checked]="!!effects().idle?.includes('shadow')"
                label="Shadow"
                (toggled)="updateEffect('idle', 'shadow', $event)"
            />
        </div>

        <div>
            <b>
                Hover effects
            </b>
            <app-input-checkbox
                [checked]="!!effects().hover?.includes('enlarge-cursor')"
                label="Enlarge cursor"
                (toggled)="updateEffect('hover', 'enlarge-cursor', $event)"
            />
        </div>

        <div>
            <b>
                Click effects
            </b>
            <app-input-checkbox
                [checked]="!!effects().click?.includes('push')"
                label="Push"
                (toggled)="updateEffect('click', 'push', $event)"
            />

            <app-input-checkbox
                [checked]="!!effects().click?.includes('ripple')"
                label="Ripple"
                (toggled)="updateEffect('click', 'ripple', $event)"
            />
        </div>
    </div>

    <!-- Settings -->
    <div class="settings">
        <b>
            Settings
        </b>
        <div>
            <input
                type="checkbox"
                [checked]="disabled()"
                (click)="
                    disabled.set(!disabled());
                    refreshLog();
                "
            />
            Disabled
        </div>
        <div>
            <input
                type="checkbox"
                [checked]="active()"
                (click)="
                    active.set(!active());
                    refreshLastInteractionTime();
                    refreshLog();
                "
            />
            Activated
        </div>
    </div>
</div>

<div class="visual">
    <mv-lib-switch-classic
        class="component"
        [styles]="styles()"
        [effects]="effects()"
        [settings]="settings()"
        [disabled]="disabled()"
        [active]="active()"
        (onToggle)="
            active.set($event.active);
            refreshLastInteractionTime();
            refreshLog();
        "
    />

<pre class="log">
Last interaction time: {{ lastInteractionTime() }}<br/>
{{ log() }}
</pre>
</div>