<div class="configuration">
    <!-- Styles -->
    <div class="styles">
        <b>
            Styles
        </b>
        <div>
            <input
                type="number"
                [value]="styles().widthPx ?? ''"
                (input)="updateStyle('widthPx', $event)"
            />
            Width px
        </div>

        <div>
            <input
                type="number"
                [value]="styles().heightPx ?? ''"
                (input)="updateStyle('heightPx', $event)"
            />
            Height px
        </div>

        <div>
            <input
                type="color"
                [value]="styles().trackColorOn"
                (input)="updateStyle('trackColorOn', $event)"
            />
            Track color on
        </div>

        <div>
            <input
                type="color"
                [value]="styles().cursorColorOn"
                (input)="updateStyle('cursorColorOn', $event)"
            />
            Cursor color on
        </div>

        TODO icons on

        <div>
            <input
                type="color"
                [value]="styles().trackColorOff"
                (input)="updateStyle('trackColorOff', $event)"
            />
            Track color off
        </div>

        <div>
            <input
                type="color"
                [value]="styles().cursorColorOff"
                (input)="updateStyle('cursorColorOff', $event)"
            />
            Cursor color off
        </div>

        TODO icons off
    </div>

    <!-- Effects -->
    <div class="effects">
        <div>
            <b>
                Idle effects
            </b>
            <div>
                <input
                    type="checkbox"
                    [checked]="effects().idle?.includes('shadow')"
                    (click)="updateEffect('idle', 'shadow', $event)"
                />
                Shadow
            </div>
        </div>

        <div>
            <b>
                Hover effects
            </b>
            <div>
                <input
                    type="checkbox"
                    [checked]="effects().hover?.includes('enlarge-cursor')"
                    (click)="updateEffect('hover', 'enlarge-cursor', $event)"
                />
                Enlarge cursor
            </div>
        </div>

        <div>
            <b>
                Click effects
            </b>
            <div>
                <input
                    type="checkbox"
                    [checked]="effects().click?.includes('push')"
                    (click)="updateEffect('click', 'push', $event)"
                />
                Push
            </div>

            <div>
                <input
                    type="checkbox"
                    [checked]="effects().click?.includes('ripple')"
                    (click)="updateEffect('click', 'ripple', $event)"
                />
                Ripple
            </div>
        </div>
    </div>

    <!-- Settings -->
    <div class="settings">
        <b>
            Settings
        </b>
        <div>
            <input
                type="checkbox"
                [checked]="disabled()"
                (click)="
                    disabled.set(!disabled());
                    refreshLog();
                "
            />
            Disabled
        </div>
        <div>
            <input
                type="checkbox"
                [checked]="active()"
                (click)="
                    active.set(!active());
                    refreshLog();
                "
            />
            Activated
        </div>
    </div>
</div>

<div class="visual">
    <mv-lib-switch-classic
        class="component"
        [styles]="styles()"
        [effects]="effects()"
        [settings]="settings()"
        [disabled]="disabled()"
        [active]="active()"
        (onToggle)="
            active.set($event.active);
            setLastInteractionTime();
        "
    />

    <pre class="log">
{{ log() }}
    </pre>
</div>