<div class="view">
    <div class="configuration">
        
        <app-configuration-section title="Styles">
            <div buttons class="type-buttons">
                <app-input-button
                    label="Input area"
                    [selected]="selectedPartStyle() === 'inputArea'"
                    (onClick)="selectedPartStyle.set('inputArea')"
                />
                <app-input-button
                    label="Stepper buttons"
                    [selected]="selectedPartStyle() === 'stepperButtons'"
                    (onClick)="selectedPartStyle.set('stepperButtons')"
                />
            </div>
            @if (selectedPartStyle() === 'inputArea') {
                <app-input-color
                    label="Background color"
                    [value]="_textbox().api.style.getBackgroundColor()"
                    (onChange)="_textbox().api.style.setBackgroundColor($event); refreshLog();"
                />
                <app-dimensions-inputs
                    [value]="_textbox().api.style.getDimensions()"
                    (onChange)="_textbox().api.style.setDimensions($event.key, $event.value); refreshLog();"
                />
                <app-outline-inputs
                    [value]="_textbox().api.style.getOutline()"
                    (onChange)="_textbox().api.style.setOutline($event.key, $event.value); refreshLog();"
                />
                <app-font-inputs
                    [value]="_textbox().api.style.getFont()"
                    (onChange)="_textbox().api.style.setFont($event.key, $event.value); refreshLog();"
                />
            }
            @else if (selectedPartStyle() === 'stepperButtons') {
                <app-inputs-separator label="Both buttons"/>
                <app-input-text
                    label="Width"
                    [value]="_textbox().api.style.stepperButtons.getWidth()"
                    (onChange)="_textbox().api.style.stepperButtons.setWidth($event); refreshLog();"
                />
                <app-inputs-separator label="Increment button"/>
                <div class="inputs-group">
                    Background color
                    <app-input-color
                        [value]="_textbox().api.style.stepperButtons.increment.getBackgroundColor()"
                        (onChange)="_textbox().api.style.stepperButtons.increment.setBackgroundColor($event); refreshLog();"
                    />
                    Icon
                    <app-input-text
                        [value]="_textbox().api.style.stepperButtons.increment.getIcon()"
                        (onChange)="_textbox().api.style.stepperButtons.increment.setIcon($event); refreshLog();"
                    />
                </div>
                <app-inputs-separator label="Decrement button"/>
                <div class="inputs-group">
                    Background color
                    <app-input-color
                        [value]="_textbox().api.style.stepperButtons.decrement.getBackgroundColor()"
                        (onChange)="_textbox().api.style.stepperButtons.decrement.setBackgroundColor($event); refreshLog();"
                    />
                    Icon
                    <app-input-text
                        [value]="_textbox().api.style.stepperButtons.decrement.getIcon()"
                        (onChange)="_textbox().api.style.stepperButtons.decrement.setIcon($event); refreshLog();"
                    />
                </div>
            }
        </app-configuration-section>

        <app-configuration-section title="Effects">
            <app-tint-effect-inputs
                label="Tint hover"
                [enabled]="_textbox().api.effects.textbox.has(mvLibEffects.hover.tint)"
                [style]="_textbox().api.effects.textbox.getStyle(mvLibEffects.hover.tint)"
                (onChangeEnabled)="_textbox().api.effects.textbox.toggle(mvLibEffects.hover.tint, $event); refreshLog();"
                (onChangeStyle)="_textbox().api.effects.textbox.setStyle(mvLibEffects.hover.tint, $event); refreshLog();"
            />
            <app-tint-effect-inputs
                label="Tint selected"
                [enabled]="_textbox().api.effects.textbox.has(mvLibEffects.selected.tint)"
                [style]="_textbox().api.effects.textbox.getStyle(mvLibEffects.selected.tint)"
                (onChangeEnabled)="_textbox().api.effects.textbox.toggle(mvLibEffects.selected.tint, $event); refreshLog();"
                (onChangeStyle)="_textbox().api.effects.textbox.setStyle(mvLibEffects.selected.tint, $event); refreshLog();"
            />
            <app-outline-blur-effect-inputs
                label="Outline blur selected"
                [enabled]="_textbox().api.effects.textbox.has(mvLibEffects.selected.outlineBlur)"
                [style]="_textbox().api.effects.textbox.getStyle(mvLibEffects.selected.outlineBlur)"
                (onChangeEnabled)="_textbox().api.effects.textbox.toggle(mvLibEffects.selected.outlineBlur, $event); refreshLog();"
                (onChangeStyle)="_textbox().api.effects.textbox.setStyle(mvLibEffects.selected.outlineBlur, $event); refreshLog();"
            />
            <app-outline-solid-effect-inputs
                label="Outline solid selected"
                [enabled]="_textbox().api.effects.textbox.has(mvLibEffects.selected.outlineSolid)"
                [style]="_textbox().api.effects.textbox.getStyle(mvLibEffects.selected.outlineSolid)"
                (onChangeEnabled)="_textbox().api.effects.textbox.toggle(mvLibEffects.selected.outlineSolid, $event); refreshLog();"
                (onChangeStyle)="_textbox().api.effects.textbox.setStyle(mvLibEffects.selected.outlineSolid, $event); refreshLog();"
            />
        </app-configuration-section>

        <app-configuration-section title="Settings">
            <div buttons class="type-buttons">
                <app-input-button
                    label="Input area"
                    [selected]="selectedPartSettings() === 'inputArea'"
                    (onClick)="selectedPartSettings.set('inputArea')"
                />
                <app-input-button
                    label="Stepper buttons"
                    [selected]="selectedPartSettings() === 'stepperButtons'"
                    (onClick)="selectedPartSettings.set('stepperButtons')"
                />
            </div>
            @if (selectedPartSettings() === 'inputArea') {
                <app-inputs-separator label="State"/>
                <div class="inputs-group">
                    Disabled
                    <app-input-checkbox
                        [checked]="_textbox().api.getDisabled()"
                        (onChange)="_textbox().api.setDisabled($event); refreshLog()"
                    />
                    Selected
                    <app-input-checkbox
                        [checked]="_textbox().api.getSelected()"
                        (onChange)="_textbox().api.setSelected($event); refreshLog()"
                        [disabled]="_textbox().api.getDisabled()"
                    />
                </div>
                <app-inputs-separator label="Min / max values"/>
                <div class="inputs-group">
                    Min
                    <app-input-number
                        [value]="_textbox().api.settings.getMin()"
                        (onChange)="_textbox().api.settings.setMin($event); refreshLog();"
                    />
                    Max
                    <app-input-number
                        [value]="_textbox().api.settings.getMax()"
                        (onChange)="_textbox().api.settings.setMax($event); refreshLog();"
                    />
                </div>
                <app-inputs-separator label="Unit"/>
                <div class="inputs-group">
                    Unit
                    <app-input-text
                        [value]="_textbox().api.settings.unit.getValue()"
                        (onChange)="_textbox().api.settings.unit.setValue($event); refreshLog()"
                    />
                    Placement
                    <app-input-radio
                        [values]="['left', 'right']"
                        [selected]="_textbox().api.settings.unit.getPlacement()"
                        (onChange)="_textbox().api.settings.unit.setPlacement($any($event)); refreshLog()"
                    />
                </div>
            }
            @else if (selectedPartSettings() === 'stepperButtons') {
                <div class="inputs-group">
                    Displayed
                    <app-input-checkbox
                        [checked]="_textbox().api.settings.stepperButtons.getDisplayed()"
                        (onChange)="_textbox().api.settings.stepperButtons.setDisplayed($event); refreshLog()"
                    />
                    Allow hold
                    <app-input-checkbox
                        [checked]="_textbox().api.settings.stepperButtons.getAllowHold()"
                        (onChange)="_textbox().api.settings.stepperButtons.setAllowHold($event); refreshLog()"
                    />
                    Hold delay
                    <app-input-text
                        [value]="_textbox().api.settings.stepperButtons.getHoldDelay()"
                        (onChange)="_textbox().api.settings.stepperButtons.setHoldDelay($event); refreshLog()"
                    />
                    Repeat interval
                    <app-input-text
                        [value]="_textbox().api.settings.stepperButtons.getRepeatInterval()"
                        (onChange)="_textbox().api.settings.stepperButtons.setRepeatInterval($event); refreshLog()"
                    />
                    Step
                    <app-input-number
                        [value]="_textbox().api.settings.stepperButtons.getStep()"
                        [min]="1"
                        (onChange)="_textbox().api.settings.stepperButtons.setStep($event ?? 0); refreshLog()"
                    />
                </div>
            }
        </app-configuration-section>

        <app-configuration-section title="Form controls">
            <app-inputs-separator label="Form validators" />
            <div class="inputs-group">
                <span
                    [style.color]="forms['textbox'].get('input')?.hasError('required') ?
                        'var(--mv-lib-error)' : 'var(--mv-lib-primary-color-8)'"
                >
                    Required
                </span>
                <app-input-checkbox
                    [checked]="required()"
                    (onChange)="
                        required.set($event);
                        updateFormValidator(
                            'textbox',
                            'input',
                            'required',
                            required() ? formValidators.required : null);
                    "
                />
                <span
                    [style.color]="forms['textbox'].get('input')?.hasError('min') ?
                        'var(--mv-lib-error)' : 'var(--mv-lib-primary-color-8)'"
                >
                    Min value
                </span>
                
                <app-input-number
                    [value]="min()"
                    (onChange)="
                        min.set($event);
                        updateFormValidator(
                            'textbox',
                            'input',
                            'min',
                            min() == null ? null : formValidators.min(min()!));
                    "
                />
                <span
                    [style.color]="forms['textbox'].get('input')?.hasError('max') ?
                        'var(--mv-lib-error)' : 'var(--mv-lib-primary-color-8)'"
                >
                    Max value
                </span>
                <app-input-number
                    [value]="max()"
                    (onChange)="
                        max.set($event);
                        updateFormValidator(
                            'textbox',
                            'input',
                            'max',
                            max() == null ? null : formValidators.max(max()!));
                    "
                />
            </div>
            <app-inputs-separator label="Form state"/>
            <div class="inputs-group">
                Value: <span>{{ forms['textbox'].get('input')?.value }}</span>
                Touched: <span>{{ forms['textbox'].touched ? 'Touched' : 'Untouched' }}</span>
                Dirty: <span>{{ forms['textbox'].dirty ? 'Dirty' : 'Pristine' }}</span>
                Status: <span>{{ forms['textbox'].disabled ? 'Disabled' : (forms['textbox'].valid ? 'Valid' : 'Invalid') }}</span>
            </div>
        </app-configuration-section>
    </div>

    <form
        [formGroup]="forms['textbox']"
        class="render"
    >
        <mv-lib-numeric-textbox
            #textbox
            formControlName="input"
            class="component"
            [inputStyle]="style()"
            [inputEffects]="effects()"
            [inputSettings]="settings()"
            (onChange)="
                forms['textbox'].get('input')?.setValue($event.value);
                refreshLastInteractionTime();
                refreshLog();
            "
            (onSelect)="
                refreshLastInteractionTime();
                refreshLog();
            "
        />

        <div class="log">
            Last interaction time: {{ lastInteractionTime() }}<br/>
            <pre>Input: {{ forms['textbox'].get('input')?.value }}</pre>
            <app-input-button
                label="Copy component code"
                [width]="'25%'"
                (onClick)="copyComponentCode()"
            />
            <pre #code>&lt;mv-lib-numeric-textbox{{ log() }}/&gt;</pre>
        </div>
    </form>
</div>