.configuration {
  display: flex;
  gap: 8px;
}

.configuration-section {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  overflow: auto;
}

.configuration-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 4px;
  font-weight: bold;
  background-color: var(--mv-lib-primary-color-4);
}

.configuration-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4px;
  width: 100%;
}

:host ::ng-deep [buttons] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  width: 100%;
}

:host ::ng-deep [buttons] > * {
  flex: 1 1 0;
}

.configuration-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 4px;
  padding: 4px 8px 4px 8px;
  overflow: auto;
}