<div class="effect">
    <app-input-checkbox
        [checked]="enabled()"
        (onChange)="onChangeEnabled.emit($event)"
    />
    <app-inputs-separator [title]="title() ?? 'Ripple release'" />
</div>
<div class="inputs-group">
    Origin x
    <app-input-text
        [value]="style().originX"
        (onChange)="onChangeStyle.emit({key: 'originX', value: $event})"
    />
    Origin y
    <app-input-text
        [value]="style().originY"
        (onChange)="onChangeStyle.emit({key: 'originY', value: $event})"
    />
    Size
    <app-input-text
        [value]="style().size"
        (onChange)="onChangeStyle.emit({key: 'size', value: $event})"
    />
    Delay
    <app-input-text
        [value]="style().delay"
        (onChange)="onChangeStyle.emit({key: 'delay', value: $event})"
    />
</div>