<div class="effect">
    <app-input-checkbox
        [checked]="enabled()"
        (onChange)="onEnabledChange.emit($event)"
    />
    <app-inputs-separator title="Ripple release" />
</div>
<div class="inputs-group">
    Origin x
    <app-input-text
        [value]="originX()"
        (onChange)="onOriginXChange.emit($event)"
    />
    Origin y
    <app-input-text
        [value]="originY()"
        (onChange)="onOriginYChange.emit($event)"
    />
    Size
    <app-input-text
        [value]="size()"
        (onChange)="onSizeChange.emit($event)"
    />
    Delay
    <app-input-text
        [value]="delay()"
        (onChange)="onDelayChange.emit($event)"
    />
</div>