<div class="effect">
    <app-input-checkbox
        [checked]="$any(component().effects()).classes.includes(component().mvLibEffects.release.ripple)"
        (onChange)="component().setEffect(component().mvLibEffects.release.ripple, $event)"
    />
    <app-inputs-separator title="Ripple release" />
</div>
<div class="inputs-group">
    Origin x
    <app-input-text
        [value]="$any(component().effects()).style.rippleRelease.originX"
        (onChange)="component().setEffectStyle('rippleRelease.originX', $event)"
    />
    Origin y
    <app-input-text
        [value]="$any(component().effects()).style.rippleRelease.originY"
        (onChange)="component().setEffectStyle('rippleRelease.originY', $event)"
    />
    Size
    <app-input-text
        [value]="$any(component().effects()).style.rippleRelease.size"
        (onChange)="component().setEffectStyle('rippleRelease.size', $event)"
    />
    Delay
    <app-input-text
        [value]="$any(component().effects()).style.rippleRelease.delay"
        (onChange)="component().setEffectStyle('rippleRelease.delay', $event)"
    />
</div>