<div class="app-shell">
    <header class="header">
        <div class="buttons">
            <mv-lib-button-classic
                routerLink="/"
                [settings]="{
                    widthPx: 48,
                    heightPx: 32,
                    backgroundColor: 'var(--button-blue-color)',
                }",
                [effects]="{
                    idle: ['shadow'],
                    hover: ['darken'],
                    click: ['push']
                }"
            >
                <span class="material-symbols-outlined">
                    home
                </span>
            </mv-lib-button-classic>

            <mv-lib-button-classic
                routerLink="/button-classic-example"
                [settings]="{
                    widthPx: 96,
                    heightPx: 32,
                    backgroundColor: 'var(--button-blue-color)',
                }",
                [effects]="{
                    idle: ['shadow'],
                    hover: ['darken'],
                    click: ['push']
                }"
            >
                <span
                    [style.font-weight]="'bold'"
                >
                    Button
                </span>
            </mv-lib-button-classic>

            <mv-lib-button-classic
                routerLink="/switch-classic-example"
                [settings]="{
                    widthPx: 96,
                    heightPx: 32,
                    backgroundColor: 'var(--button-blue-color)',
                }",
                [effects]="{
                    idle: ['shadow'],
                    hover: ['darken'],
                    click: ['push']
                }"
            >
                <span
                    [style.font-weight]="'bold'"
                >
                    Switch
                </span>
            </mv-lib-button-classic>

            <mv-lib-button-classic
                routerLink="/dropdown-classic-example"
                [settings]="{
                    widthPx: 128,
                    heightPx: 32,
                    backgroundColor: 'var(--button-blue-color)',
                }",
                [effects]="{
                    idle: ['shadow'],
                    hover: ['darken'],
                    click: ['push']
                }"
            >
                <span
                    [style.font-weight]="'bold'"
                >
                    Drop-down
                </span>
            </mv-lib-button-classic>
        </div>
        <hr/>
    </header>

    <main class="app-content">
        <router-outlet />
    </main>
</div>