<div class="app-shell">
    <header class="header">
        <div class="buttons">
            <mv-lib-button-classic
                [styles]="{
                    widthPx: 48,
                    heightPx: 32,
                    color: styles.var('component-primary'),
                }"
                [effects]="{
                    idle: ['shadow'],
                    hover: ['darken'],
                    click: ['push']
                }"
                (onClick)="router.navigateByUrl('/')"
            >
                <span class="material-symbols-outlined">
                    home
                </span>
            </mv-lib-button-classic>

            <mv-lib-dropdown-classic
                [items]="buttonItems"
                [(selectedItem)]="selectedButtonItem"
                [styles]="buttonDropdownStyles"
                [effects]="effects"
                (onSelect)="onButtonSelect($event.selectedItem)"
            >
                <ng-template mvLibDropdownPlaceholderTemplate>
                    <div class="dropdown-placeholder">
                        <span class="material-symbols-outlined">
                            trackpad_input
                        </span>
                        Buttons
                    </div>
                </ng-template>
                <ng-template mvLibDropdownSelectedTemplate let-item>
                    <div class="dropdown-selected">
                        {{ item.selectedName }}
                    </div>
                </ng-template>
                <ng-template mvLibDropdownItemTemplate let-item>
                    <div class="dropdown-item">
                        {{ item.name }}
                    </div>
                </ng-template>
            </mv-lib-dropdown-classic>

            <mv-lib-dropdown-classic
                [items]="switchItems"
                [(selectedItem)]="selectedSwitchItem"
                [styles]="switchDropdownStyles"
                [effects]="effects"
                (onSelect)="onSwitchSelect($event.selectedItem)"
            >
                <ng-template mvLibDropdownPlaceholderTemplate>
                    <div class="dropdown-placeholder">
                        <span class="material-symbols-outlined">
                            toggle_on
                        </span>
                        Switches
                    </div>
                </ng-template>
                <ng-template mvLibDropdownSelectedTemplate let-item>
                    <div class="dropdown-selected">
                        {{ item.selectedName }}
                    </div>
                </ng-template>
                <ng-template mvLibDropdownItemTemplate let-item>
                    <div class="dropdown-item">
                        {{ item.name }}
                    </div>
                </ng-template>
            </mv-lib-dropdown-classic>

            <mv-lib-dropdown-classic
                [items]="dropdownItems"
                [(selectedItem)]="selectedDropdownItem"
                [styles]="menuDropdownStyles"
                [effects]="effects"
                (onSelect)="onDropdownSelect($event.selectedItem)"
            >
                <ng-template mvLibDropdownPlaceholderTemplate>
                    <div class="dropdown-placeholder">
                        <span class="material-symbols-outlined">
                            dropdown_menu
                        </span>
                        Dropdowns
                    </div>
                </ng-template>
                <ng-template mvLibDropdownSelectedTemplate let-item>
                    <div class="dropdown-selected">
                        {{ item.selectedName }}
                    </div>
                </ng-template>
                <ng-template mvLibDropdownItemTemplate let-item>
                    <div class="dropdown-item">
                        {{ item.name }}
                    </div>
                </ng-template>
            </mv-lib-dropdown-classic>
        </div>
        <hr/>
    </header>

    <main class="app-content">
        <router-outlet />
    </main>
</div>

