<!-- Settings -->
<div
    [style.display]="'flex'"
    [style.flex-direction]="'column'"
>
    <b>
        Settings
    </b>
    <div
        [style.display]="'flex'"
        [style.align-items]="'center'"
        [style.margin-left.px]="-4"
    >
        <input
            type="checkbox"
            [checked]="disabled()"
            (click)="
                disabled.set(!disabled());
                refreshLog();
            "
        />
        Disabled
    </div>
    <div
        [style.display]="'flex'"
        [style.align-items]="'center'"
        [style.margin-left.px]="-4"
    >
        <input
            type="checkbox"
            [checked]="active()"
            (click)="
                active.set(!active());
                refreshLog();
            "
        />
        Activated
    </div>
    <div
        [style.display]="'flex'"
        [style.align-items]="'center'"
    >
        <input
            type="number"
            [value]="settings().widthPx ?? ''"
            (input)="updateSetting('widthPx', $event)"
            [style.width.px]="50"
            [style.margin-top.px]="4"
            [style.margin-right.px]="4"
        />
        WidthPx
    </div>

    <div
        [style.display]="'flex'"
        [style.align-items]="'center'"
    >
        <input
            type="number"
            [value]="settings().heightPx ?? ''"
            (input)="updateSetting('heightPx', $event)"
            [style.width.px]="50"
            [style.margin-top.px]="4"
            [style.margin-right.px]="4"
        />
        HeightPx
    </div>

    <div
        [style.display]="'flex'"
        [style.align-items]="'center'"
        [style.margin-top.px]="4"
    >
        <input
            type="color"
            [value]="settings().offColor"
            (input)="updateSetting('offColor', $event)"
            [style.width.px]="58"
            [style.height.px]="24"
            [style.margin-right.px]="4"
        />
        Off color
    </div>

    <div
        [style.display]="'flex'"
        [style.align-items]="'center'"
        [style.margin-top.px]="4"
    >
        <input
            type="color"
            [value]="settings().onColor"
            (input)="updateSetting('onColor', $event)"
            [style.width.px]="58"
            [style.height.px]="24"
            [style.margin-right.px]="4"
        />
        On color
    </div>

    <div
        [style.display]="'flex'"
        [style.align-items]="'center'"
        [style.margin-top.px]="4"
    >
        <input
            type="color"
            [value]="settings().sliderOffColor"
            (input)="updateSetting('sliderOffColor', $event)"
            [style.width.px]="58"
            [style.height.px]="24"
            [style.margin-right.px]="4"
        />
        Slider off color
    </div>

    <div
        [style.display]="'flex'"
        [style.align-items]="'center'"
        [style.margin-top.px]="4"
    >
        <input
            type="color"
            [value]="settings().sliderOnColor"
            (input)="updateSetting('sliderOnColor', $event)"
            [style.width.px]="58"
            [style.height.px]="24"
            [style.margin-right.px]="4"
        />
        Slider on color
    </div>
</div>

<!-- Effects -->
<div
    [style.display]="'flex'"
    [style.gap.px]="16"
    [style.margin-top.px]="8"
>
    <div
        [style.display]="'flex'"
        [style.flex-direction]="'column'"
        [style.margin-bottom.px]="8"
    >
        <b>
            Idle effects
        </b>
        <div
            [style.display]="'flex'"
            [style.align-items]="'center'"
        >
            <input
                type="checkbox"
                [checked]="effects().idle?.includes('shadow')"
                (click)="updateEffect('idle', 'shadow', $event)"
            />
            Shadow
        </div>
    </div>

    <div
        [style.display]="'flex'"
        [style.flex-direction]="'column'"
        [style.margin-bottom.px]="8"
    >
        <b>
            Hover effects
        </b>
        <div
            [style.display]="'flex'"
            [style.align-items]="'center'"
        >
            <input
                type="checkbox"
                [checked]="effects().hover?.includes('enlarge-slider')"
                (click)="updateEffect('hover', 'enlarge-slider', $event)"
            />
            Enlarge slider
        </div>
    </div>

    <div
        [style.display]="'flex'"
        [style.flex-direction]="'column'"
        [style.margin-bottom.px]="8"
    >
        <b>
            Click effects
        </b>
        <div
            [style.display]="'flex'"
            [style.align-items]="'center'"
        >
            <input
                type="checkbox"
                [checked]="effects().click?.includes('push')"
                (click)="updateEffect('click', 'push', $event)"
            />
            Push
        </div>

        <div
            [style.display]="'flex'"
            [style.align-items]="'center'"
        >
            <input
                type="checkbox"
                [checked]="effects().click?.includes('ripple')"
                (click)="updateEffect('click', 'ripple', $event)"
            />
            Ripple
        </div>
    </div>
</div>

<!-- Switch -->
<div
    [style.margin-top.px]="8"
>
    <mv-lib-switch-classic
        [settings]="settings()"
        [effects]="effects()"
        [disabled]="disabled()"
        [active]="active()"
        (onToggle)="
            active.set($event.active);
            setLastInteractionTime();
        "
    >
        <span class="material-symbols-outlined">
            touch_app
        </span>
        <span [style.font-weight]="'bold'">
            Click
        </span>
    </mv-lib-switch-classic>
</div>

<!-- Log -->
<span
    [style.white-space]="'pre-wrap'"
>
    {{ log() }}
</span>