@use '../../../styles/effects.scss';

.textbox {
    padding-left: 8px;
    border-radius: 5px;
}

:host.ng-invalid.ng-touched .textbox,
:host.ng-invalid.ng-dirty .textbox {
    --border-color: red;
}

.outline {
    &.selected {
        --color: var(--selected-outline-color);
    }
    &.not-selected {
        --color: none;
    }
}

// Disabled the default HTML input text outline
.textbox:focus:not(.outline),
.textbox:focus-visible:not(.outline) {
    outline: none;
}
