@use '../../../styles/effects.scss';

.textbox {
    padding-left: 8px;
    border-radius: 5px;
}

:host.ng-invalid.ng-touched .textbox,
:host.ng-invalid.ng-dirty .textbox {
    --border-color: red;
    --selected-outline-color: red !important;
}

.outline-solid, .outline-blur {
    &.selected {
        --color: var(--selected-outline-color);
    }
    &.not-selected {
        --color: none;
    }
}

// Disabled the default HTML input text outline
.textbox:focus, .textbox:focus-visible {
    outline: none;
}
