<input
    #textboxInput

    type="text"

    [ngClass]="computedClasses()"
    [class.disabled]="isDisabled()"
    [class.enabled]="!isDisabled()"
    [class.selected]="selected()"
    [class.not-selected]="!selected()"

    [style.width.px]="computedStyles().widthPx"
    [style.height.px]="computedStyles().heightPx"
    [style.background-color]="computedStyles().backgroundColor"
    [style.color]="computedStyles().textColor"
    [style.border]="'1px solid var(--border-color, ' + computedStyles().borderColor + ')'"

    [style.--selected-outline-color]="computedStyles().selectedOutlineColor"

    (focus)="setSelected(true, $event)"
    (blur)="onBlur($event)"

    [disabled]="isDisabled()"
    [value]="input()"
    (input)="onInput($event)"
/>