<div class="configuration">
    <app-configuration-section title="Styles">
        
    </app-configuration-section>

    <app-configuration-section title="Effects">

    </app-configuration-section>

    <app-configuration-section title="Settings">
        <!-- @if (settingsInitialized()) {
            <app-input-checkbox
                [checked]="disabled()"
                label="Disabled"
                (onChange)="
                    disabled.set($event);
                    refreshLog();
                "
            />
            <app-input-checkbox
                [checked]="active()"
                label="Activated"
                (onChange)="
                    active.set($event);
                    refreshLog();
                "
            />
        } -->
    </app-configuration-section>
</div>

<div class="visual">
    <mv-lib-switch-lite
        #mvLibComponent
        class="component"

        [disabled]="disabled()"
    />

<pre class="log">
Last interaction time: {{ lastInteractionTime() }}<br/>
{{ log() }}
</pre>
</div>