<!-- Settings -->
<div
    [style.display]="'flex'"
    [style.flex-direction]="'column'"
>
    <b>
        Settings
    </b>
    <div
        [style.display]="'flex'"
        [style.align-items]="'center'"
    >
        <input
            type="number"
            [value]="buttonSettings().widthPx ?? ''"
            (input)="updateWidth($event)"
            [style.width.px]="50"
            [style.margin-top.px]="4"
            [style.margin-right.px]="4"
        />
        WidthPx
    </div>

    <div
        [style.display]="'flex'"
        [style.align-items]="'center'"
    >
        <input
            type="number"
            [value]="buttonSettings().heightPx ?? ''"
            (input)="updateHeight($event)"
            [style.width.px]="50"
            [style.margin-top.px]="4"
            [style.margin-right.px]="4"
        />
        HeightPx
    </div>

    <div
        [style.display]="'flex'"
        [style.align-items]="'center'"
        [style.margin-top.px]="4"
    >
        <input
            type="color"
            [value]="buttonSettings().backgroundColor"
            (input)="updateBackgroundColor($event)"
            [style.width.px]="58"
            [style.height.px]="24"
            [style.margin-right.px]="4"
        />
        Background color
    </div>

    <div
        [style.display]="'flex'"
        [style.align-items]="'center'"
        [style.margin-top.px]="4"
    >
        <input
            type="color"
            [value]="buttonSettings().textColor"
            (input)="updateTextColor($event)"
            [style.width.px]="58"
            [style.height.px]="24"
            [style.margin-right.px]="4"
        />
        Text color
    </div>
</div>

<!-- Effects -->
<div
    [style.display]="'flex'"
    [style.gap.px]="16"
    [style.margin-top.px]="8"
>
    <div
        [style.display]="'flex'"
        [style.flex-direction]="'column'"
        [style.margin-bottom.px]="8"
    >
        <b>
            Idle effects
        </b>
        <div
            [style.display]="'flex'"
        >
            <input
                type="checkbox"
                [checked]="buttonEffects().idle?.includes('shadow')"
                (click)="changeIdleEffect($event, 'shadow')"
            />
            Shadow
        </div>
    </div>

    <div
        [style.display]="'flex'"
        [style.flex-direction]="'column'"
        [style.margin-bottom.px]="8"
    >
        <b>
            Hover effects
        </b>
        <div
            [style.display]="'flex'"
        >
            <input
                type="checkbox"
                [checked]="buttonEffects().hover?.includes('darken')"
                (click)="changeHoverEffect($event, 'darken')"
            />
            Darken
        </div>
    </div>

    <div
        [style.display]="'flex'"
        [style.flex-direction]="'column'"
        [style.margin-bottom.px]="8"
    >
        <b>
            Click effects
        </b>
        <div
            [style.display]="'flex'"
        >
            <input
                type="checkbox"
                [checked]="buttonEffects().click?.includes('push')"
                (click)="changeClickEffect($event, 'push')"
            />
            Push
        </div>

        <div
            [style.display]="'flex'"
        >
            <input
                type="checkbox"
                [checked]="buttonEffects().click?.includes('ripple')"
                (click)="changeClickEffect($event, 'ripple')"
            />
            Ripple
        </div>
    </div>
</div>

<!-- Button -->
<div
    [style.display]="'flex'"
    [style.margin-bottom.px]="8"
>
    <mv-lib-button
        [settings]="buttonSettings()"
        [effects]="buttonEffects()"
        [disabled]="disabled()"
        (onClick)="onButtonClick($event)"
    >
        <span class="material-symbols-outlined">
            touch_app
        </span>
        <span [style.font-weight]="'bold'">
            Click
        </span>
    </mv-lib-button>
</div>

<!-- Log -->
<b>
    Click on the button to refresh the log
</b>
<span
    [style.display]="'block'"
    [style.white-space]="'pre-wrap'"
>
    {{ log() }}
</span>