:root {
    // Classic
	--switch-classic-track-color-on: DodgerBlue;
	--switch-classic-cursor-color-on: White;
    --switch-classic-cursor-icon-on: check;
    --switch-classic-cursor-icon-on-color: DodgerBlue;

	--switch-classic-track-color-off: DarkGray;
	--switch-classic-cursor-color-off: Gray;
    --switch-classic-cursor-icon-off: close;
    --switch-classic-cursor-icon-off-color: Black;

    // Lite
    --switch-lite-track-color-on: DodgerBlue;
	--switch-lite-cursor-color-on: LightGray;
    --switch-lite-cursor-icon-on: check;
    --switch-lite-cursor-icon-on-color: DodgerBlue;

	--switch-lite-track-color-off: DarkGray;
	--switch-lite-cursor-color-off: Gray;
    --switch-lite-cursor-icon-off: close;
    --switch-lite-cursor-icon-off-color: Black;
}