<div class="layout">
    <div id="top" class="content">

        <section class="presentation">
            <span class="title">
                Numeric textbox styles
            </span>
            <span class="description">
                Use the MVLib numeric textbox's [inputStyle] to customize its input area and stepper buttons.
            </span>
            <span class="last-updated">
                Last updated: {{ lastUpdated }}
            </span>
        </section>

        <section id="input-area" class="section">
            <span class="title">
                Input area
            </span>
            <span class="description">
                Configure the background color, dimensions, outline, and typography of the input area.
            </span>
            <div class="playground">
                <div class="configuration">
                    <div class="panel">
                        <div class="panel-content">
                            <app-input-color
                                label="Background color"
                                [value]="_inputArea().api.style.getBackgroundColor()"
                                (onChange)="_inputArea().api.style.setBackgroundColor($event); refreshLog('inputArea');"
                            />
                            <app-dimensions-inputs
                                [value]="_inputArea().api.style.getDimensions()"
                                (onChange)="_inputArea().api.style.setDimensions($event.key, $event.value); refreshLog('inputArea');"
                            />
                            <app-outline-inputs
                                [value]="_inputArea().api.style.getOutline()"
                                (onChange)="_inputArea().api.style.setOutline($event.key, $event.value); refreshLog('inputArea');"
                            />
                            <app-font-inputs
                                [value]="_inputArea().api.style.getFont()"
                                (onChange)="_inputArea().api.style.setFont($event.key, $event.value); refreshLog('inputArea');"
                            />
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header">
                            <div class="copy-button">
                                <mv-lib-button
                                    [content]="'Copy style'"
                                    [inputStyle]="copyButton.style"
                                    [inputEffects]="copyButton.effects"
                                    (onClick)="copyComponentCode('inputArea')"
                                />
                            </div>
                        </div>
                        <div class="panel-content">
                            <pre #code>&lt;mv-lib-numeric-textbox{{ componentCode('inputArea') }}/&gt;</pre>
                        </div>
                    </div>
                </div>
                <div class="component">
                    <mv-lib-numeric-textbox
                        #inputArea
                        [inputStyle]="style()"
                        [inputEffects]="{
                            textbox: {
                                classes: [
                                    mvLibEffects.hover.tint.class,
                                ],
                            }
                        }"
                        [inputSettings]="{
                            stepperButtons: {
                                displayed: false,
                            }
                        }"
                        [value]="0"
                    />
                </div>
            </div>
        </section>

        <section id="stepper-buttons" class="section">
            <span class="title">
                Stepper button
            </span>
            <span class="description">
                Set the shared width of both stepper buttons and customize their background colors and icons independently.
            </span>
            <div class="playground">
                <div class="configuration">
                    <div class="panel">
                        <div class="panel-content">
                            <app-inputs-separator label="Both buttons" />
                            <app-input-text
                                label="Width"
                                [value]="_stepperButtons().api.style.stepperButtons.getWidth()"
                                (onChange)="_stepperButtons().api.style.stepperButtons.setWidth($event); refreshLog('stepperButtons')"
                            />
                            <app-inputs-separator label="Increment button" />
                            <div class="inputs-group">
                                Background color
                                <app-input-color
                                    [value]="_stepperButtons().api.style.stepperButtons.increment.getBackgroundColor()"
                                    (onChange)="_stepperButtons().api.style.stepperButtons.increment.setBackgroundColor($event); refreshLog('stepperButtons')"
                                />
                                Icon
                                <app-input-text
                                    [value]="_stepperButtons().api.style.stepperButtons.increment.getIcon()"
                                    (onChange)="_stepperButtons().api.style.stepperButtons.increment.setIcon($event); refreshLog('stepperButtons')"
                                />
                            </div>
                            <app-inputs-separator label="Decrement button" />
                            <div class="inputs-group">
                                Background color
                                <app-input-color
                                    [value]="_stepperButtons().api.style.stepperButtons.decrement.getBackgroundColor()"
                                    (onChange)="_stepperButtons().api.style.stepperButtons.decrement.setBackgroundColor($event); refreshLog('stepperButtons')"
                                />
                                Icon
                                <app-input-text
                                    [value]="_stepperButtons().api.style.stepperButtons.decrement.getIcon()"
                                    (onChange)="_stepperButtons().api.style.stepperButtons.decrement.setIcon($event); refreshLog('stepperButtons')"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header">
                            <div class="copy-button">
                                <mv-lib-button
                                    [content]="'Copy style'"
                                    [inputStyle]="copyButton.style"
                                    [inputEffects]="copyButton.effects"
                                    (onClick)="copyComponentCode('stepperButtons')"
                                />
                            </div>
                        </div>
                        <div class="panel-content">
                            <pre #code>&lt;mv-lib-numeric-textbox{{ componentCode('stepperButtons') }}/&gt;</pre>
                        </div>
                    </div>
                </div>
                <div class="component">
                    <mv-lib-numeric-textbox
                        #stepperButtons
                        [inputStyle]="style()"
                        [value]="0"
                    />
                </div>
            </div>
        </section>
    </div>

    <app-specific-demo-sidebar
        [contents]="[
            { label: 'Input area', goto: 'input-area' },
            { label: 'Stepper buttons', goto: 'stepper-buttons' },
        ]"
    />
</div>
