<ng-template #stylesConfiguration let-type="type" let-configuration="configuration" let-localConfiguration="localConfiguration">
    <app-inputs-separator [title]="type" [style.color]="configuration.styles.backgroundColor"/>
    <div class="inputs-group">
        Icon
        <app-input-text
            [value]="localConfiguration.icon"
            (onChange)="localConfiguration.icon = $event;"
        />
        Message
        <app-input-text
            [value]="localConfiguration.message"
            (onChange)="localConfiguration.message = $event;"
        />
    </div>
    <div class="inputs-group">
        Text color
        <app-input-color
            [value]="configuration.styles.textColor"
            (onChange)="configuration.styles.textColor = $event"
        />
        Background color
        <app-input-color
            [value]="configuration.styles.backgroundColor"
            (onChange)="configuration.styles.backgroundColor = $event"
        />
    </div>
    <div class="inputs-group">
        Forced width
        <app-input-text
            [value]="configuration.styles.forcedWidth"
            (onChange)="configuration.styles.forcedWidth = $event"
        />
        Forced height
        <app-input-text
            [value]="configuration.styles.forcedHeight"
            (onChange)="configuration.styles.forcedHeight = $event"
        />
    </div>
</ng-template>

<ng-template #effectsConfiguration let-type="type" let-configuration="configuration">
    <app-inputs-separator [title]="type" [ngStyle]="{ color: configuration.styles.backgroundColor }"/>
    <div style="display: flex; gap: 4px;">
        <app-input-checkbox
            [checked]="configuration.effects.classes.includes(mvLibEffects.hover.outlineBlur.class)"
            (onChange)="toastService.setEffect(type, mvLibEffects.hover.outlineBlur.class, $event)"
        />
        <app-inputs-separator title="Outline blur hover" />
    </div>
    <div class="inputs-group">
        Color
        <app-input-color
            [value]="configuration.effects.styles.outlineBlurHover.color"
            (onChange)="toastService.setEffectStyle(type, 'outlineBlurHover.color', $event)"
        />
        Radius
        <app-input-text
            [value]="configuration.effects.styles.outlineBlurHover.radius"
            (onChange)="toastService.setEffectStyle(type, 'outlineBlurHover.radius', $event)"
        />
    </div>
    <div style="display: flex; gap: 4px;">
        <app-input-checkbox
            [checked]="configuration.effects.classes.includes(mvLibEffects.hover.outlineSolid.class)"
            (onChange)="toastService.setEffect(type, mvLibEffects.hover.outlineSolid.class, $event)"
        />
        <app-inputs-separator title="Outline solid hover" />
    </div>
    <div class="inputs-group">
        Color
        <app-input-color
            [value]="configuration.effects.styles.outlineSolidHover.color"
            (onChange)="toastService.setEffectStyle(type, 'outlineSolidHover.color', $event)"
        />
        Width
        <app-input-text
            [value]="configuration.effects.styles.outlineSolidHover.width"
            (onChange)="toastService.setEffectStyle(type, 'outlineSolidHover.width', $event)"
        />
    </div>
    <div style="display: flex; gap: 4px;">
        <app-input-checkbox
            [checked]="configuration.animations.classes.includes(mvLibEffects.idle.progressBarDarkenFill.class)"
            (onChange)="toastService.setAnimation(type, mvLibEffects.idle.progressBarDarkenFill.class, $event)"
        />
        <app-inputs-separator title="Progress bar darken fill" />
    </div>
        <div class="inputs-group">
        Force color
        <app-input-color
            [value]="configuration.animations.styles.progressBarDarkenFill.forceColor"
            (onChange)="toastService.setAnimationStyle(type, 'progressBarDarkenFill.forceColor', $event)"
        />
        Darken percentage
        <app-input-text
            [value]="configuration.animations.styles.progressBarDarkenFill.darkenPercentage"
            (onChange)="toastService.setAnimationStyle(type, 'progressBarDarkenFill.darkenPercentage', $event)"
        />
    </div>
</ng-template>

<ng-template #settingsConfiguration let-type="type" let-configuration="configuration">
    <app-inputs-separator [title]="type" [ngStyle]="{ color: configuration.styles.backgroundColor }"/>
    <app-input-text
        [value]="configuration.settings.lifespan"
        label="Lifespan"
        (onChange)="configuration.settings.lifespan = $event"
    />
</ng-template>

<ng-template #toastButton let-type="type" let-configuration="configuration" let-localConfiguration="localConfiguration">
    <mv-lib-button-classic
        [styles]="{
            dimensions: {
                width: '100px',
                height: '40px',
            },
            backgroundColor: configuration.styles.backgroundColor,
        }"
        [effects]="{
            classes: [
                mvLibEffects.idle.shadow.class,
                mvLibEffects.hover.tint.class,
                mvLibEffects.click.push.class,
            ],
        }"
        (onClick)="
            refreshLastInteractionTime();
            $any(toastService)[type.toLowerCase()](
                localConfiguration.message,
                localConfiguration.icon,
                {
                    widthPx: configuration.styles.forcedWidth,
                    heightPx: configuration.styles.forcedHeight,
                }
            )
        "
    >
        <span [style.color]="configuration.styles.textColor">
            {{ type }}
        </span>
    </mv-lib-button-classic>
</ng-template>

<div class="configuration">
    <app-configuration-section title="Styles">
        <div buttons class="type-buttons">
            <app-input-button
                label="Success"
                [backgroundColor]="selectedPartStyle() === 'success' ? 'darkgray' : undefined"
                [color]="toastService.configuration().success!.styles!.backgroundColor"
                (onClick)="selectStyle('success')"
            />
            <app-input-button
                label="Warning"
                [backgroundColor]="selectedPartStyle() === 'warning' ? 'darkgray' : undefined"
                [color]="toastService.configuration().warning!.styles!.backgroundColor"
                (onClick)="selectStyle('warning')"
            />
            <app-input-button
                label="Error"
                [backgroundColor]="selectedPartStyle() === 'error' ? 'darkgray' : undefined"
                [color]="toastService.configuration().error!.styles!.backgroundColor"
                (onClick)="selectStyle('error')"
            />
            <app-input-button
                label="Info"
                [backgroundColor]="selectedPartStyle() === 'info' ? 'darkgray' : undefined"
                [color]="toastService.configuration().info!.styles!.backgroundColor"
                (onClick)="selectStyle('info')"
            />
        </div>
        <ng-container *ngTemplateOutlet="stylesConfiguration; context: {
            type: selectedStyleConfiguration().type,
            configuration: selectedStyleConfiguration().configuration,
            localConfiguration: selectedStyleConfiguration().localConfiguration,
        }" />
    </app-configuration-section>
    
    <app-configuration-section title="Effects">
        <div buttons class="type-buttons">
            <app-input-button
                label="Success"
                [backgroundColor]="selectedPartEffects() === 'success' ? 'darkgray' : undefined"
                [color]="toastService.configuration().success!.styles!.backgroundColor"
                (onClick)="selectEffect('success')"
            />
            <app-input-button
                label="Warning"
                [backgroundColor]="selectedPartEffects() === 'warning' ? 'darkgray' : undefined"
                [color]="toastService.configuration().warning!.styles!.backgroundColor"
                (onClick)="selectEffect('warning')"
            />
            <app-input-button
                label="Error"
                [backgroundColor]="selectedPartEffects() === 'error' ? 'darkgray' : undefined"
                [color]="toastService.configuration().error!.styles!.backgroundColor"
                (onClick)="selectEffect('error')"
            />
            <app-input-button
                label="Info"
                [backgroundColor]="selectedPartEffects() === 'info' ? 'darkgray' : undefined"
                [color]="toastService.configuration().info!.styles!.backgroundColor"
                (onClick)="selectEffect('info')"
            />
        </div>
        <ng-container *ngTemplateOutlet="effectsConfiguration; context: {
            type: selectedEffectConfiguration().type,
            configuration: selectedEffectConfiguration().configuration,
        }" />
    </app-configuration-section>

    <app-configuration-section title="Settings">
        <div buttons class="type-buttons">
            <app-input-button
                label="Success"
                [backgroundColor]="selectedPartSettings() === 'success' ? 'darkgray' : undefined"
                [color]="toastService.configuration().success!.styles!.backgroundColor"
                (onClick)="selectSettings('success')"
            />
            <app-input-button
                label="Warning"
                [backgroundColor]="selectedPartSettings() === 'warning' ? 'darkgray' : undefined"
                [color]="toastService.configuration().warning!.styles!.backgroundColor"
                (onClick)="selectSettings('warning')"
            />
            <app-input-button
                label="Error"
                [backgroundColor]="selectedPartSettings() === 'error' ? 'darkgray' : undefined"
                [color]="toastService.configuration().error!.styles!.backgroundColor"
                (onClick)="selectSettings('error')"
            />
            <app-input-button
                label="Info"
                [backgroundColor]="selectedPartSettings() === 'info' ? 'darkgray' : undefined"
                [color]="toastService.configuration().info!.styles!.backgroundColor"
                (onClick)="selectSettings('info')"
            />
        </div>
        <app-inputs-separator title="General" />
        Position
        <app-input-radio
            [values]="['top-left', 'top-right', 'bottom-left', 'bottom-right']"
            [selected]="toastService.configuration().position"
            (onChange)="toastService.configuration().position = $any($event)"
        />
        <app-input-checkbox
            [checked]="toastService.configuration().adaptWidth"
            label="Adapt width"
            (onChange)="toastService.setAdaptWidth($event)"
        />
        <ng-container *ngTemplateOutlet="settingsConfiguration; context: {
            type: selectedSettingsConfiguration().type,
            configuration: selectedSettingsConfiguration().configuration,
        }" />
    </app-configuration-section>
</div>

<div class="visual">
    <div
        class="component"
        [style.gap.px]="8"
    >
        <ng-container *ngTemplateOutlet="toastButton; context: { type: 'Success', configuration: toastService.configuration().success, localConfiguration: success() }" />
        <ng-container *ngTemplateOutlet="toastButton; context: { type: 'Warning', configuration: toastService.configuration().warning, localConfiguration: warning() }" />
        <ng-container *ngTemplateOutlet="toastButton; context: { type: 'Error', configuration: toastService.configuration().error, localConfiguration: error() }" />
        <ng-container *ngTemplateOutlet="toastButton; context: { type: 'Info', configuration: toastService.configuration().info, localConfiguration: info() }" />
    </div>

<pre class="log">
Last toast time: {{ lastInteractionTime() }}<br/>
const configuration: MvLibToastServiceConfiguration = {{ toastService.configuration() | json }};
</pre>
</div>
