<ng-template #stylesConfiguration let-type="type" let-localConfiguration="localConfiguration">
    @let apiStyle = $any(toastService.api.style)[type];
    <div class="inputs-group">
        Icon
        <app-input-text
            [value]="localConfiguration.icon"
            (onChange)="localConfiguration.icon = $event;"
        />
        Message
        <app-input-text
            [value]="localConfiguration.message"
            (onChange)="localConfiguration.message = $event;"
        />
        Text color
        <app-input-color
            [value]="apiStyle.getTextColor()"
            (onChange)="apiStyle.setTextColor($event)"
        />
        Background color
        <app-input-color
            [value]="apiStyle.getBackgroundColor()"
            (onChange)="apiStyle.setBackgroundColor($event)"
        />
        Forced width
        <app-input-text
            [value]="apiStyle.getWidth()"
            (onChange)="apiStyle.setWidth($event)"
        />
        Forced height
        <app-input-text
            [value]="apiStyle.getHeight()"
            (onChange)="apiStyle.setHeight($event)"
        />
        Opacity percentage
        <app-input-number
            [value]="apiStyle.getOpacityPercentage()"
            (onChange)="apiStyle.getOpacityPercentage($event)"
        />
    </div>
</ng-template>

<ng-template #effectsConfiguration let-type="type">
    @let apiEffects = $any(toastService.api.effects)[type];
    <app-outline-blur-effect-inputs
        title="Outline blur hover"
        [enabled]="apiEffects.has(mvLibEffects.hover.outlineBlur)"
        [style]="apiEffects.getStyle(mvLibEffects.hover.outlineBlur)"
        (onChangeEnabled)="apiEffects.toggle(mvLibEffects.hover.outlineBlur, $event); refreshLog();"
        (onChangeStyle)="apiEffects.setStyle(mvLibEffects.hover.outlineBlur, $event); refreshLog();"
    />
    <app-outline-solid-effect-inputs
        title="Outline solid hover"
        [enabled]="apiEffects.has(mvLibEffects.hover.outlineSolid)"
        [style]="apiEffects.getStyle(mvLibEffects.hover.outlineSolid)"
        (onChangeEnabled)="apiEffects.toggle(mvLibEffects.hover.outlineSolid, $event); refreshLog();"
        (onChangeStyle)="apiEffects.setStyle(mvLibEffects.hover.outlineSolid, $event); refreshLog();"
    />
    <app-fade-in-idle-inputs
        [enabled]="apiEffects.has(mvLibEffects.idle.fadeIn)"
        [style]="apiEffects.getStyle(mvLibEffects.idle.fadeIn)"
        (onChangeEnabled)="apiEffects.toggle(mvLibEffects.idle.fadeIn, $event); refreshLog();"
        (onChangeStyle)="apiEffects.setStyle(mvLibEffects.idle.fadeIn, $event); refreshLog();"
    />
    <app-fade-out-idle-inputs
        [enabled]="apiEffects.has(mvLibEffects.idle.fadeOut)"
        [style]="apiEffects.getStyle(mvLibEffects.idle.fadeOut)"
        (onChangeEnabled)="apiEffects.toggle(mvLibEffects.idle.fadeOut, $event); refreshLog();"
        (onChangeStyle)="apiEffects.setStyle(mvLibEffects.idle.fadeOut, $event); refreshLog();"
    />
    <app-progress-bar-darken-fill-inputs
        [enabled]="apiEffects.has(mvLibEffects.idle.progressBarDarkenFill)"
        [style]="apiEffects.getStyle(mvLibEffects.idle.progressBarDarkenFill)"
        (onChangeEnabled)="apiEffects.toggle(mvLibEffects.idle.progressBarDarkenFill, $event); refreshLog();"
        (onChangeStyle)="apiEffects.setStyle(mvLibEffects.idle.progressBarDarkenFill, $event); refreshLog();"
    />

</ng-template>

<ng-template #settingsConfiguration let-type="type">
    @let apiSettings = $any(toastService.api.settings)[type];
    <app-inputs-separator [title]="type" />
    <app-input-text
        label="Lifespan"
        [value]="apiSettings.getLifespan()"
        (onChange)="apiSettings.setLifespan($event)"
    />
</ng-template>

<ng-template #toastButton let-type="type" let-localConfiguration="localConfiguration">
    @let apiStyle = $any(toastService.api.style)[type];
    <mv-lib-button-classic
        [inputStyle]="{
            dimensions: {
                width: '100px',
                height: '40px',
            },
            backgroundColor: apiStyle.getBackgroundColor(),
        }"
        [inputEffects]="{
            classes: [
                mvLibEffects.idle.shadow.class,
                mvLibEffects.hover.tint.class,
                mvLibEffects.click.push.class,
            ],
            styles: {
                shadowIdle: {
                    color: apiStyle.getBackgroundColor(),
                }
            }
        }"
        (onClick)="
            refreshLastInteractionTime();
            $any(toastService)[type.toLowerCase()](
                localConfiguration.message,
                localConfiguration.icon,
                {
                    widthPx: apiStyle.getWidth(),
                    heightPx: apiStyle.getHeight(),
                }
            )
        "
    >
        <span [style.color]="`var(${apiStyle.getTextColor()})`">
            {{ type }}
        </span>
    </mv-lib-button-classic>
</ng-template>

<div class="configuration">
    <app-configuration-section [title]="'Styles for ' + selectedStyleConfiguration().type">
        <div buttons class="type-buttons">
            <app-input-button
                label="Success"
                [selected]="selectedStyleConfiguration().type === 'success'"
                (onClick)="selectStyle('success')"
            />
            <app-input-button
                label="Warning"
                [selected]="selectedStyleConfiguration().type === 'warning'"
                (onClick)="selectStyle('warning')"
            />
            <app-input-button
                label="Error"
                [selected]="selectedStyleConfiguration().type === 'error'"
                (onClick)="selectStyle('error')"
            />
            <app-input-button
                label="Info"
                [selected]="selectedStyleConfiguration().type === 'info'"
                (onClick)="selectStyle('info')"
            />
        </div>
        <ng-container *ngTemplateOutlet="stylesConfiguration; context: {
            type: selectedStyleConfiguration().type,
            localConfiguration: selectedStyleConfiguration().localConfiguration,
        }" />
    </app-configuration-section>
    
    <app-configuration-section [title]="'Effects for ' + selectedEffectConfiguration().type">
        <div buttons class="type-buttons">
            <app-input-button
                label="Success"
                [selected]="selectedEffectConfiguration().type === 'success'"
                (onClick)="selectEffect('success')"
            />
            <app-input-button
                label="Warning"
                [selected]="selectedEffectConfiguration().type === 'warning'"
                (onClick)="selectEffect('warning')"
            />
            <app-input-button
                label="Error"
                [selected]="selectedEffectConfiguration().type === 'error'"
                (onClick)="selectEffect('error')"
            />
            <app-input-button
                label="Info"
                [selected]="selectedEffectConfiguration().type === 'info'"
                (onClick)="selectEffect('info')"
            />
        </div>
        <ng-container *ngTemplateOutlet="effectsConfiguration; context: {
            type: selectedEffectConfiguration().type,
        }" />
    </app-configuration-section>

    <app-configuration-section [title]="'Settings for ' + selectedSettingsConfiguration().type">
        <div buttons class="type-buttons">
            <app-input-button
                label="Success"
                [selected]="selectedSettingsConfiguration().type === 'success'"
                (onClick)="selectSettings('success')"
            />
            <app-input-button
                label="Warning"
                [selected]="selectedSettingsConfiguration().type === 'warning'"
                (onClick)="selectSettings('warning')"
            />
            <app-input-button
                label="Error"
                [selected]="selectedSettingsConfiguration().type === 'error'"
                (onClick)="selectSettings('error')"
            />
            <app-input-button
                label="Info"
                [selected]="selectedSettingsConfiguration().type === 'info'"
                (onClick)="selectSettings('info')"
            />
        </div>
        <app-inputs-separator title="General" />
        Position
        <app-input-radio
            [values]="['top-left', 'top-right', 'bottom-left', 'bottom-right']"
            [selected]="toastService.configuration().position"
            (onChange)="toastService.configuration().position = $any($event)"
        />
        <app-input-checkbox
            label="Adapt width"
            [checked]="toastService.configuration().adaptWidth"
            (onChange)="toastService.setAdaptWidth($event)"
        />
        <ng-container *ngTemplateOutlet="settingsConfiguration; context: {
            type: selectedSettingsConfiguration().type,
        }" />
    </app-configuration-section>
</div>

<div class="visual">
    <div
        class="component"
        [style.gap.px]="8"
    >
        <ng-container *ngTemplateOutlet="toastButton; context: { type: 'success', localConfiguration: success() }" />
        <ng-container *ngTemplateOutlet="toastButton; context: { type: 'warning', localConfiguration: warning() }" />
        <ng-container *ngTemplateOutlet="toastButton; context: { type: 'error', localConfiguration: error() }" />
        <ng-container *ngTemplateOutlet="toastButton; context: { type: 'info', localConfiguration: info() }" />
    </div>

    <div class="log">
        Last toast time: {{ lastInteractionTime() }}<br/>
        <app-input-button
            label="Copy configuration"
            [width]="'25%'"
            [style.margin-top.px]="10"
            (onClick)="copyToastConfiguration()"
        />
        <pre #code>const configuration: MvLibToastServiceConfiguration = {{ toastService.configuration() | json }};</pre>
</div>
