<ng-template #stylesConfig let-type="type" let-conf="conf" let-localConf="localConf">
    <app-inputs-separator [title]="type" [style.color]="conf.styles.backgroundColor"/>
    <div class="inputs-group">
        Icon
        <app-input-text
            [value]="localConf.icon"
            (onChange)="localConf.icon = $event;"
        />
        Message
        <app-input-text
            [value]="localConf.message"
            (onChange)="localConf.message = $event;"
        />
    </div>
    <app-input-number
        [value]="conf.styles.forcedHeightPx"
        label="Forced height px"
        (onChange)="conf.styles.forcedHeightPx = $event"
    />
    <div class="inputs-group">
        Text color
        <app-input-color
            [value]="conf.styles.textColor"
            (onChange)="conf.styles.textColor = $event"
        />
        Background color
        <app-input-color
            [value]="conf.styles.backgroundColor"
            (onChange)="conf.styles.backgroundColor = $event"
        />
    </div>
</ng-template>

<ng-template #effectsConfig let-type="type" let-conf="conf">
    <app-inputs-separator [title]="type" [ngStyle]="{ color: conf.styles.backgroundColor }"/>
    <div style="display: flex; gap: 4px;">
        <app-input-checkbox
            [checked]="conf.effects.classes.includes(mvLibEffects.hover.outlineSolid)"
            (onChange)="toastService.setEffect(type, mvLibEffects.hover.outlineSolid, $event)"
        />
        <app-inputs-separator title="Outline solid hover" />
    </div>
    <div class="inputs-group">
        Color
        <app-input-color
            [value]="conf.effects.style.outlineSolidHover.color"
            (onChange)="toastService.setEffectStyle(type, 'outlineSolidHover.color', $event)"
        />
        Width
        <app-input-text
            [value]="conf.effects.style.outlineSolidHover.width"
            (onChange)="toastService.setEffectStyle(type, 'outlineSolidHover.width', $event)"
        />
    </div>
    <div style="display: flex; gap: 4px;">
        <app-input-checkbox
            [checked]="conf.effects.classes.includes(mvLibEffects.hover.outlineBlur)"
            (onChange)="toastService.setEffect(type, mvLibEffects.hover.outlineBlur, $event)"
        />
        <app-inputs-separator title="Outline blur hover" />
    </div>
    <div class="inputs-group">
        Color
        <app-input-color
            [value]="conf.effects.style.outlineBlurHover.color"
            (onChange)="toastService.setEffectStyle(type, 'outlineBlurHover.color', $event)"
        />
        Radius
        <app-input-text
            [value]="conf.effects.style.outlineBlurHover.radius"
            (onChange)="toastService.setEffectStyle(type, 'outlineBlurHover.radius', $event)"
        />
    </div>
    <div style="display: flex; gap: 4px;">
        <app-input-checkbox
            [checked]="conf.effects.classes.includes(mvLibEffects.idle.progressBarDarkenFill)"
            (onChange)="toastService.setEffect(type, mvLibEffects.idle.progressBarDarkenFill, $event)"
        />
        <app-inputs-separator title="Progress bar darken fill" />
    </div>
        <div class="inputs-group">
        Force color
        <app-input-color
            [value]="conf.effects.style.progressBarDarkenFill.forceColor"
            (onChange)="toastService.setEffectStyle(type, 'progressBarDarkenFill.forceColor', $event)"
        />
        Darken percentage
        <app-input-text
            [value]="conf.effects.style.progressBarDarkenFill.darkenPercentage"
            (onChange)="toastService.setEffectStyle(type, 'progressBarDarkenFill.darkenPercentage', $event)"
        />
    </div>
</ng-template>

<ng-template #settingsConfig let-type="type" let-conf="conf">
    <app-inputs-separator [title]="type" [ngStyle]="{ color: conf.styles.backgroundColor }"/>
    <app-input-text
        [value]="conf.settings.lifespan"
        label="Lifespan"
        (onChange)="conf.settings.lifespan = $event"
    />
</ng-template>

<ng-template #toastButton let-type="type" let-conf="conf" let-localConf="localConf">
    <mv-lib-button-classic
        [styles]="{
            dimensions: {
                width: '100px',
                height: '40px',
            },
            backgroundColor: conf.styles.backgroundColor,
        }"
        (onClick)="
            refreshLastInteractionTime();
            $any(toastService)[type.toLowerCase()](
                localConf.message,
                localConf.icon,
                {
                    widthPx: conf.styles.forcedWidthPx,
                    heightPx: conf.styles.forcedHeightPx,
                }
            )
        "
    >
        <span [style.color]="conf.styles.textColor">
            {{ type }}
        </span>
    </mv-lib-button-classic>
</ng-template>

<div class="configuration">
    <app-configuration-section title="Styles">
        <ng-container *ngTemplateOutlet="stylesConfig; context: { type: 'Success', conf: toastService.configuration().success, localConf: success() }" />
        <ng-container *ngTemplateOutlet="stylesConfig; context: { type: 'Warning', conf: toastService.configuration().warning, localConf: warning() }" />
        <ng-container *ngTemplateOutlet="stylesConfig; context: { type: 'Error', conf: toastService.configuration().error, localConf: error() }" />
        <ng-container *ngTemplateOutlet="stylesConfig; context: { type: 'Info', conf: toastService.configuration().info, localConf: info() }" />
    </app-configuration-section>

    
    <app-configuration-section title="Effects">
        <ng-container *ngTemplateOutlet="effectsConfig; context: { type: 'Success', conf: toastService.configuration().success }" />
        <ng-container *ngTemplateOutlet="effectsConfig; context: { type: 'Warning', conf: toastService.configuration().warning }" />
        <ng-container *ngTemplateOutlet="effectsConfig; context: { type: 'Error', conf: toastService.configuration().error }" />
        <ng-container *ngTemplateOutlet="effectsConfig; context: { type: 'Info', conf: toastService.configuration().info }" />
    </app-configuration-section>

    <app-configuration-section title="Settings">
        <app-inputs-separator title="General" />
        Position
        <app-input-radio
            [values]="['top-left', 'top-right', 'bottom-left', 'bottom-right']"
            [selected]="toastService.configuration().position"
            (onChange)="toastService.configuration().position = $any($event)"
        />
        <app-input-checkbox
            [checked]="toastService.configuration().adaptWidth"
            label="Adapt width"
            (onChange)="toastService.setAdaptWidth($event)"
        />
        <ng-container *ngTemplateOutlet="settingsConfig; context: { type: 'Success', conf: toastService.configuration().success }" />
        <ng-container *ngTemplateOutlet="settingsConfig; context: { type: 'Warning', conf: toastService.configuration().warning }" />
        <ng-container *ngTemplateOutlet="settingsConfig; context: { type: 'Error', conf: toastService.configuration().error }" />
        <ng-container *ngTemplateOutlet="settingsConfig; context: { type: 'Info', conf: toastService.configuration().info }" />
    </app-configuration-section>
</div>

<div class="visual">
    <div
        class="component"
        [style.gap.px]="8"
    >
        <ng-container *ngTemplateOutlet="toastButton; context: { type: 'Success', conf: toastService.configuration().success, localConf: success() }" />
        <ng-container *ngTemplateOutlet="toastButton; context: { type: 'Warning', conf: toastService.configuration().warning, localConf: warning() }" />
        <ng-container *ngTemplateOutlet="toastButton; context: { type: 'Error', conf: toastService.configuration().error, localConf: error() }" />
        <ng-container *ngTemplateOutlet="toastButton; context: { type: 'Info', conf: toastService.configuration().info, localConf: info() }" />
    </div>

<pre class="log">
Last toast time: {{ lastInteractionTime() }}<br/>
const configuration: MvLibToastServiceConfiguration = {{ toastService.configuration() | json }};
</pre>
</div>
