@use '../../../styles/effects.scss';

.toggle {
  --enabled: ?;

  position: relative;
  display: inline-block;

  // Enlarge the slider effect
  &.enabled {
    .slider.enlarge-slider:hover:before {
      transform: scale(var(--slider-hover-scale, 1.2));
    }

    input:checked + .slider.enlarge-slider:hover:before {
      transform: translateX(var(--translate-distance)) scale(var(--slider-hover-scale, 1.2));
    }
  }
}

.slider {
  --slider-motion-duration: 0.25s;

  cursor: pointer;
  position: absolute;
  left: 0;
  transition: background-color var(--slider-motion-duration);
  background-color: var(--slider-off-color);
  overflow: hidden;
}

.slider:before {
  content: "";
  position: absolute;
  z-index: 1;
  height: var(--slider-before-height);
  width: var(--slider-before-height);
  background-color: var(--slider-before-color);
  left: 4px;
  bottom: 4px;
  transform-origin: center;
  transition: transform var(--slider-motion-duration), background-color var(--slider-motion-duration);
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--slider-on-color);
}

input:checked + .slider:before {
  transform: translateX(var(--translate-distance));
}

.ripple {
  --origin-x: 80%;
  --origin-y: 50%;
  --size: 50%;
  --delay: calc(var(--slider-motion-duration) / 3);
}

// Activate ripple effect only when toggling the switch on
.toggle.enabled .checkbox:checked + .ripple:active::after {
  transform: scale(7.5);
  opacity: 0;
  transition: transform 800ms var(--delay), opacity 800ms var(--delay);
}
