<div class="configuration">

    <!-- Styles -->
    <div class="styles">
        <b [style.align-self]="'center'">
            Styles
        </b>        
        <app-input-number
            [value]="styles().widthPx"
            label="Width px"
            (input)="updateStyle('widthPx', $event)"
        />        
        <app-input-number
            [value]="styles().heightPx"
            label="Height px"
            (input)="updateStyle('heightPx', $event)"
        />
        <app-input-number
            [value]="styles().cursorSizePx"
            label="Cursor size px"
            (input)="updateStyle('cursorSizePx', $event)"
        />
        <b>
            Track
        </b>
        <app-input-color
            [value]="styles().trackColorOn"
            label="Track color on"
            (input)="updateStyle('trackColorOn', $event)"
        />        
        <app-input-color
            [value]="styles().trackColorOff"
            label="Track color off"
            (input)="updateStyle('trackColorOff', $event)"
        />
        <b>
            Cursor on
        </b>
        <app-input-text
            [value]="styles().cursorIconOn"
            label="Cursor icon on"
            (input)="updateStyle('cursorIconOn', $event)"
        />
        <app-input-color
            [value]="styles().cursorColorOn"
            label="Cursor color on"
            (input)="updateStyle('cursorColorOn', $event)"
        />
        <app-input-color
            [value]="styles().cursorIconColorOn"
            label="Cursor icon color on"
            (input)="updateStyle('cursorIconColorOn', $event)"
        />
        <b>
            Cursor off
        </b>
        <app-input-text
            [value]="styles().cursorIconOff"
            label="Cursor icon off"
            (input)="updateStyle('cursorIconOff', $event)"
        />
        <app-input-color
            [value]="styles().cursorColorOff"
            label="Cursor color off"
            (input)="updateStyle('cursorColorOff', $event)"
        />
        <app-input-color
            [value]="styles().cursorIconColorOff"
            label="Cursor icon color off"
            (input)="updateStyle('cursorIconColorOff', $event)"
        />
    </div>

    <!-- Effects -->
    <div class="effects">
        <b [style.align-self]="'center'">
            Effects
        </b>
        <b>
            Idle effects
        </b>
        <app-input-checkbox
            [checked]="!!effects().idle?.includes('shadow')"
            label="Shadow"
            (toggled)="updateEffect('idle', 'shadow', $event)"
        />
        <b>
            Hover effects
        </b>
        <app-input-checkbox
            [checked]="!!effects().hover?.includes('enlarge-cursor')"
            label="Enlarge cursor"
            (toggled)="updateEffect('hover', 'enlarge-cursor', $event)"
        />
        <b>
            Click effects
        </b>
        <app-input-checkbox
            [checked]="!!effects().click?.includes('push')"
            label="Push"
            (toggled)="updateEffect('click', 'push', $event)"
        />
        <app-input-checkbox
            [checked]="!!effects().click?.includes('ripple')"
            label="Ripple"
            (toggled)="updateEffect('click', 'ripple', $event)"
        />
    </div>

    <!-- Settings -->
    <div class="settings">
        <b [style.align-self]="'center'">
            Settings
        </b>
        <app-input-checkbox
            [checked]="disabled()"
            label="Disabled"
            (toggled)="
                disabled.set(!disabled());
                refreshLog();
            "
        />
        <app-input-checkbox
            [checked]="active()"
            label="Activated"
            (toggled)="
                active.set(!active());
                refreshLog();
            "
        />
    </div>
</div>

<div class="visual">
    <mv-lib-switch-lite
        class="component"
        [styles]="styles()"
        [effects]="effects()"
        [settings]="settings()"
        [disabled]="disabled()"
        [active]="active()"
        (onToggle)="
            active.set($event.active);
            refreshLastInteractionTime();
            refreshLog();
        "
    />

<pre class="log">
Last interaction time: {{ lastInteractionTime() }}<br/>
{{ log() }}
</pre>
</div>