%border {
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    margin: 0;
}

:host {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    gap: 4px;
}

.configuration {
    display: flex;
    gap: 4px;
    flex: 0 0 30%;
    min-height: 30%;
    max-height: 30%;

    .title {
        align-self: center;
    }

    > * {
        flex: 1 1 0;
    }
}

.styles {
    @extend %border;

    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: auto;

    input[type='number'] {
        width: 50px;
        margin-top: 0;
    }

    input[type='color'] {
        width: 58px;
        height: 24px;
    }

    input[type='textbox'] {
        width: 50px;
    }
}

.effects {
    @extend %border;

    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: auto;

    .effect-types {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;

        .effect-checkbox {
            display: flex;
            flex-direction: column;
        }
    }
}

.settings {
    @extend %border;

    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: auto;

    > div {
        display: flex;
        align-items: center;
        gap: 4px;
    }
}

.form-controls {    
    @extend %border;

    display: flex;
    flex-direction: column;
    gap: 4px;
    color: black;

    > div {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    > div input[type='checkbox'] {
        margin: 0;
    }

    > div input[type='number'] {
        width: 50px;
        margin-top: 0;
    }

    > div.has-errors {
		color: red;
	}
}

.form-state {
    display: flex;
    flex-direction: column;
    text-align: left;

    > span {
        width: 100%;
    }
}

.visual {
    display: flex;
    gap: 4px;
    flex: 1 1 auto;
    min-height: 0;
    overflow: auto;
}

.component {
    @extend %border;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
    min-height: 0;
    overflow: auto;

    width: auto;
}

.log {
    @extend %border;

    flex: 1 1 0;
    min-width: 0;
    overflow: auto;
}