<div class="configuration">
    <app-configuration-section title="Styles">
        <!-- @if (styleInitialized()) {
            <app-inputs-separator title="Track" />
            <div class="inputs-group">
                Width
                <app-input-text
                    [value]="styles().track!.width"
                    (onChange)="setStyle('track.width', $event)"
                />
                Height
                <app-input-text
                    [value]="styles().track!.height"
                    (onChange)="setStyle('track.height', $event)"
                />
            </div>
            <div class="inputs-group">
                Color on
                <app-input-color
                    [value]="styles().track!.colorOn"
                    (onChange)="setStyle('track.colorOn', $event)"
                />
                Color off
                <app-input-color
                    [value]="styles().track!.colorOff"
                    (onChange)="setStyle('track.colorOff', $event)"
                />
            </div>
            <app-inputs-separator title="Cursor" />
            <div class="inputs-group">
                Color on
                <app-input-color
                    [value]="styles().cursor!.colorOn"
                    (onChange)="setStyle('cursor.colorOn', $event)"
                />
                Color off
                <app-input-color
                    [value]="styles().cursor!.colorOff"
                    (onChange)="setStyle('cursor.colorOff', $event)"
                />
            </div>
            <div class="inputs-group">
                Icon on
                <app-input-text
                    [value]="styles().cursor!.iconOn"
                    (onChange)="setStyle('cursor.iconOn', $event)"
                />
                Icon off
                <app-input-text
                    [value]="styles().cursor!.iconOff"
                    (onChange)="setStyle('cursor.iconOff', $event)"
                />
            </div>
            <div class="inputs-group">
                Icon color on
                <app-input-color
                    [value]="styles().cursor!.iconColorOn"
                    (onChange)="setStyle('cursor.iconColorOn', $event)"
                />
                Icon color off
                <app-input-color
                    [value]="styles().cursor!.iconColorOff"
                    (onChange)="setStyle('cursor.iconColorOff', $event)"
                />
            </div>
        } -->
    </app-configuration-section>

    <app-configuration-section title="Effects">
        <!-- @if (effectsInitialized()) {
            <app-shadow-idle-inputs [component]="this" title="Track shadow idle" part="track" />
            <app-resize-hover-inputs [component]="this" title="Cursor resize hover" part="cursor"/>
        } -->
    </app-configuration-section>

    <app-configuration-section title="Settings">
        <!-- @if (settingsInitialized()) {
            <app-input-checkbox
                [checked]="disabled()"
                label="Disabled"
                (onChange)="
                    disabled.set($event);
                    refreshLog();
                "
            />
            <app-input-text
                [value]="settings().transitionDuration"
                label="Transition duration"
                (onChange)="setSettings('transitionDuration', $event)"
            />
            <app-inputs-separator title="API" />
            <app-input-checkbox
                [checked]="active()"
                label="Activated"
                (onChange)="
                    mvLibComponent.setActive($event);
                    active.set($event);
                    refreshLog();
                "
            />
        } -->
    </app-configuration-section>
</div>

<div class="visual">
    <mv-lib-switch-classic
        #mvLibComponent
        class="component"
        [styles]="style()"
        [effects]="effects()"
        [settings]="settings()"
        [disabled]="disabled()"
        [active]="active()"
        (onToggle)="
            active.set($event.active);
            refreshLastInteractionTime();
            refreshLog();
        "
    />

<pre class="log">
Last interaction time: {{ lastInteractionTime() }}<br/>
&lt;mv-lib-switch-classic{{ log() }}/&gt;
</pre>
</div>