<div class="configuration">

    <!-- Styles -->
    <div class="styles">
        <b [style.align-self]="'center'">
            Styles
        </b>
        <app-input-number
            [value]="styles().widthPx"
            label="Width px"
            (onChange)="updateStyle('widthPx', $event)"
        />
        <app-input-number
            [value]="styles().heightPx"
            label="Height px"
            (onChange)="updateStyle('heightPx', $event)"
        />
        <app-input-color
            [value]="styles().backgroundColor"
            label="Background color"
            (onChange)="updateStyle('backgroundColor', $event)"
        />
        <app-input-color
            [value]="styles().textColor"
            label="Text color"
            (onChange)="updateStyle('textColor', $event)"
        />
    </div>

    <!-- Effects -->
    <div class="effects">
        <b [style.align-self]="'center'">
            Effects
        </b>
        <b>
            Idle
        </b>
        <app-input-checkbox
            [checked]="effects().idle?.includes('shadow')"
            label="Shadow"
            (onChange)="updateEffect('idle', 'shadow', $event)"
        />
        <b>
            Hover
        </b>
        <app-input-checkbox
            [checked]="effects().hover?.includes('darken')"
            label="Darken"
            (onChange)="updateEffect('hover', 'darken', $event)"
        />
        <b>
            Click
        </b>
        <app-input-checkbox
            [checked]="effects().click?.includes('push')"
            label="Push"
            (onChange)="updateEffect('click', 'push', $event)"
        />
        <app-input-checkbox
            [checked]="effects().click?.includes('ripple')"
            label="Ripple"
            (onChange)="updateEffect('click', 'ripple', $event)"
        />
    </div>

    <!-- Settings -->
    <div class="settings">
        <b [style.align-self]="'center'">
            Settings
        </b>
        <app-input-checkbox
            [checked]="disabled()"
            label="Disabled"
            (onChange)="
                disabled.set($event);
                refreshLog();
            "
        />
    </div>
</div>

<div class="visual">
    <mv-lib-button-classic
        class="component"
        [styles]="styles()"
        [effects]="effects()"
        [settings]="settings()"
        [disabled]="disabled()"
        (onClick)="refreshLastInteractionTime()"
    >
        <div
            [style.display]="'flex'"
            [style.align-items]="'center'"
        >
        </div>
        <span class="material-symbols-outlined">
            touch_app
        </span>
        <span [style.font-weight]="'bold'">
            Click
        </span>
    </mv-lib-button-classic>

<pre class="log">
Last interaction time: {{ lastInteractionTime() }}<br/>
{{ log() }}
</pre>
</div>

