<div class="configuration">

    <!-- Styles -->
    <div class="styles">
        <b [style.align-self]="'center'">
            Styles
        </b>
        <app-input-number
            [value]="styles().widthPx"
            label="Width px"
            (onChange)="updateStyle('widthPx', $event)"
        />
        <app-input-number
            [value]="styles().heightPx"
            label="Height px"
            (onChange)="updateStyle('heightPx', $event)"
        />
        <app-input-color
            [value]="styles().backgroundColor"
            label="Background color"
            (onChange)="updateStyle('backgroundColor', $event)"
        />
        <app-input-color
            [value]="styles().textColor"
            label="Text color"
            (onChange)="updateStyle('textColor', $event)"
        />
        <app-input-color
            [value]="styles().borderColor"
            label="Border color"
            (onChange)="updateStyle('borderColor', $event)"
        />        
        <app-input-color
            [value]="styles().selectedOutlineColor"
            label="Selected outline color"
            (onChange)="updateStyle('selectedOutlineColor', $event)"
        />
    </div>

    <!-- Effects -->
    <div class="effects">
        <b [style.align-self]="'center'">
            Effects
        </b>
        <b>
            Hover effects
        </b>
        <app-input-checkbox
            [checked]="effects().hover?.includes('darken')"
            label="Darken"
            (onChange)="updateEffect('hover', 'darken', $event)"
        />
        <b>
            Selected effects
        </b>
        <app-input-checkbox
            [checked]="effects().selected?.includes('outline-solid')"
            label="Outline solid"
            (onChange)="updateEffect('selected', 'outline-solid', $event)"
        />
        <app-input-checkbox
            [checked]="effects().selected?.includes('outline-blur')"
            label="Outline blur"
            (onChange)="updateEffect('selected', 'outline-blur', $event)"
        />
    </div>

    <!-- Settings -->
    <div class="settings">
        <b [style.align-self]="'center'">
            Settings
        </b>
        <app-input-checkbox
            [checked]="form.get('input')?.disabled"
            label="Disabled"
            (onChange)="
                $event ? form.get('input')?.disable() : form.get('input')?.enable();
                refreshLog();
            "
        />
        <app-input-checkbox
            [checked]="selected()"
            label="Selected"
            (onChange)="
                selected.set($event);
                refreshLastInteractionTime();
                refreshLog();
            "
        />
    </div>

    <!-- Form controls -->
    <div class="form-controls">
        <b [style.align-self]="'center'">
            Form controls
        </b>
        <div class="form-state">
            <span>{{ form.touched ? 'Touched' : 'Untouched' }}</span>
            <span>{{ form.dirty ? 'Dirty' : 'Pristine' }}</span>
            <span>{{ form.disabled ? 'Disabled' : (form.valid ? 'Valid' : 'Invalid') }}</span>
        </div>
        <app-input-checkbox
            [checked]="required()"
            label="Required"
            [style.color]="form.get('input')?.hasError('required') ? 'red' : 'black'"
            (onChange)="
                required.set($event);
                updateFormValidator(
                    'input',
                    'required',
                    required());
            "
        />
        <app-input-number
            [value]="minLength()"
            label="Min length"
            [style.color]="form.get('input')?.hasError('minlength') ? 'red' : 'black'"
            (onChange)="
                minLength.set($event);
                updateFormValidator(
                    'input',
                    'minLength',
                    minLength());
            "
        />
        <app-input-checkbox
            [checked]="onlyCharacters()"
            label="Only characters"
            [style.color]="form.get('input')?.hasError('pattern') ? 'red' : 'black'"
            (onChange)="
                onlyCharacters.set($event);
                updateFormValidator(
                    'input',
                    'pattern-only-characters',
                    onlyCharacters());
            "
        />
    </div>
</div>

<form
    [formGroup]="form"
    class="visual"
>
    <mv-lib-textbox-classic
        class="component"
        formControlName="input"
        [styles]="styles()"
        [effects]="effects()"
        [settings]="settings()"
        [selected]="selected()"
        (onChange)="
            form.get('input')?.setValue($event.input);
            refreshLastInteractionTime();
            refreshLog();
        "
        (onSelect)="
            selected.set($event.selected);
            refreshLastInteractionTime();
            refreshLog();
        "
    />

<pre class="log">
Last interaction time: {{ lastInteractionTime() }}<br/>
input: {{ form.get('input')?.value }}<br/>
{{ log() }}
</pre>
</form>